
#fca-pc-notice-save {
	margin-right: 150px;
}

#fca-pc-marketing-metabox {
	margin-top: 101px;
	margin-left: 17px;
	width: 240px;
	text-align: left;
	display: inline-block;
	box-sizing: border-box;
}
#fca-pc-marketing-metabox h3 {
	text-align: center;
}
#fca-pc-marketing-metabox h3:after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
	position: relative;
	top: 5px;
}

#fca-pc-marketing-metabox li {
	padding-left: 23px;
	text-indent: -23px;
}

#fca-pc-marketing-metabox ul {
	margin-left: 13px;
}
.fca-pc-top-icon {
	margin-top: 10px;
	float: right;
}

#fca_pc_downgrade_text {
	
}
#fca_pc_main_form.fca-pc-free {
	width: calc( 100% - 276px );
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
}

h1.fca-pc-nav.nav-tab-wrapper.fca-pc-premium {
	margin-top: 25px;
}
h1.fca-pc-nav.nav-tab-wrapper.fca-pc-free {
	margin-top: 25px;
}
img[src=''] {
	display: none !important;
}
.fca-bold {
	font-weight: bold;
}
#fca_pc_main_form {
	padding-right: 10px;
}

#fca-pc-events {
	margin-bottom: 15px;
}
#fca_pc_new_event {
	margin-bottom: 30px;
}
.fca_deletable_item td:last-child {
	text-align: right;
}
.fca_deletable_item .dashicons{
	padding: 3px;
	cursor: pointer;
	margin-left: 5px;
}

.fca_deletable_item .fca_delete_icon:hover {
	color: #d54e21;
}

#fca-pc-events th {
	font-weight: bold;
}

/* TOOLTIP */
.fca_pc_tooltip {
	font-size: 17px;
	vertical-align: middle;
}

/* MAIN SETTINGS TABLE */
.fca_pc_setting_table {
	width: 100%;
	max-width: 600px;
	margin-top: 40px;
}
.fca_pc_setting_table input, .fca_pc_setting_table textarea, .fca_pc_setting_table select {
	width: 100%;
}
.fca_pc_setting_table textarea.fca-pc-input-textarea {
	min-height: 5em;
}
.fca_pc_setting_table th {
	text-align: left;
	vertical-align: top;
	width: 210px;
	font-weight: 600;
}
.fca_pc_setting_table td {
	text-align: left;
	width: calc(100% - 210px);
	padding-bottom: 20px;
}

/* INTEGRATION TABLE */
.fca_pc_integrations_table {
	width: 100%;
	max-width: 800px;
	margin-top: 0;
}
.fca_pc_integrations_table input, .fca_pc_integrations_table textarea, .fca_pc_integrations_table select {
	width: 100%;
}
.fca_pc_integrations_table textarea.fca-pc-input-textarea {
	min-height: 5em;
}
.fca_pc_integrations_table th {
	text-align: left;
	vertical-align: top;
	width: 210px;
	font-weight: 600;
	cursor: pointer;
}
.fca_pc_integrations_table td {
	text-align: left;
	width: calc(100% - 210px);
	padding-bottom: 20px;

}

.fca_pc_integrations_table .fca-pc-field-checkbox {
	margin-bottom: 8px;
}

.fca-pc-integration-disabled {
	opacity: 0.75;
}

.select2-dropdown {
	z-index: 100001;
}

/* EVENT modal */
#fca-pc-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: rgba( 0, 0, 0, 0.8 );
}

#fca-pc-event-modal {
	position: fixed; /* or absolute */
	box-sizing: border-box;
	top: calc(20% - 100px);
	left: calc(50% - 288px);
	z-index: 100000;
	background-color: #fff;
	padding: 14px 25px 20px 20px;
	width: 575px;
	border: 1px solid #CCC;
	max-height: calc(100vh - 100px);
	overflow-y: auto;
}
#fca-pc-event-modal h3 {
	margin-top: 0;
	margin-bottom: 14px;
}

#fca-pc-modal-trigger-type-input,
select.fca-pc-input-select {
	width: 100%;
	height: 35px;
	margin: 0;
}

.fca_pc_modal_table {
	width: 100%;
	margin-bottom: 30px;
}

#fca-pc-modal-event-input {
	height: 35px;
	margin: 0px;
}

#fca-pc-modal-delay-input {
	width: 80px;
	height: 35px;
	margin: 0px;
	margin-right: 5px;
}

.fca_pc_modal_table th {
	vertical-align: top;
	position: relative;
	top: 8px;
	text-align: left;
	width: 120px;
	font-weight: 600;
}

.fca_pc_modal_table th p.fca_pc_hint {
	position: relative;
	top: -8px;
	font-weight: 400;
}

.fca_pc_modal_table td {
	text-align: left;
	width: calc( 100% - 120px );
	padding-bottom: 10px;
}

.fca_pc_modal_table td input.fca-pc-input-text {
	width: 100%;
	height: 35px;
	margin: 0;
}

.fca-pc-param-row {
	display: none;
}

.fca-pc-param-row th {
	font-weight: 400;
}

.fca-required-param {
	text-decoration: underline;
}

.fca-pc-param-toggle {
	position: relative;
	top: 7px;
	cursor: pointer;
	color: #0073aa;
}

.fca-pc-feed-toggle {
	cursor: pointer;
	color: #0073aa;
}

/* SCALE MODAL FOR MOBILE */

@media ( max-width: 600px ) {
	#fca-pc-event-modal {
		left: 0;
		max-width: 100%;
	}
	.fca-pc-top-icon {
		top: 63px;
	}
	
	#fca-pc-marketing-metabox, #fca_pc_main_form.fca-pc-free {
		width: 100%;
	}
	#fca-pc-marketing-metabox {
		text-align: center;
		margin-top: 5px;
	}
}

.fca_pc_hint {
	margin: 0;
	font-style: italic;
}
.fca_pc_event_tooltip {
	text-decoration: underline;
}

.select2-selection--multiple {
	border: 1px solid #ddd !important;
	border-radius: 0!important;
	margin-bottom: 0;
}

/* EVENTS TABLE */
#fca-pc-events tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.fca_pc_event_row:hover {
	cursor: pointer;
	outline: 1px solid #3498db;
}

/* ON OFF SWITCH */

.onoffswitch {
	position: relative; width: 76px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 1px solid #CCC; border-radius: 20px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in-out 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: attr(data-content-on);
	padding-left: 10px;
	background-color: #0085ba; color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: attr(data-content-off);
	padding-right: 10px;
	background-color: #EEEEEE; color: #32373c;
	text-align: right;
	font-weight: 500;
}
.onoffswitch-switch {
	display: block; width: 18px; margin: 6px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 42px;
	border: 1px solid #999999; border-radius: 20px;
	transition: all 0.3s ease-in-out 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px; 
}

