@font-face {
  font-family: 'Bodoni Std Book';
  src: url('BodoniStd-BookItalic.eot'); /* IE9 Compat Modes */
  src: url('BodoniStd-BookItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('BodoniStd-BookItalic.woff') format('woff'), /* Modern Browsers */
       url('BodoniStd-BookItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('BodoniStd-BookItalic.svg#eaaf66eb5db33ad41b6501a449dd9d10') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Bodoni Std Book';
  src: url('BodoniStd-Book.eot'); /* IE9 Compat Modes */
  src: url('BodoniStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('BodoniStd-Book.woff') format('woff'), /* Modern Browsers */
       url('BodoniStd-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('BodoniStd-Book.svg#2b543206861fcb846b6434f04db8acbf') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}