.popup-dom-lightbox-wrapper {
	height: 100%;
	min-height: 350px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.popup-dom-lightbox-wrapper .lightbox-overlay {
	background-image:url('images/bg-trans.png');
	height: 100%;
	min-height: 350px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}
.popup-dom-lightbox-wrapper .lightbox-main{
	z-index: 1000;
}

.popup-dom-lightbox-wrapper .powered {
	clear: both;
	text-align: center;
	margin-top: 10px;
	padding-top: 0px;
	display: block;
}



.popup-dom-lightbox-wrapper .powered a {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
	color: #fff;
	font-size: 12px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
	display: block;
}

.popup-dom-lightbox-wrapper .powered a:hover {
	text-decoration: underline;
}

/* ----------------------------------------------------- */

body {
	margin:0;
	color:#000;
	font:12px/15px Arial, Helvetica, sans-serif;
}
img {border-style:none;}
a {
	text-decoration:none;
	color:#000;
}
a:hover {text-decoration:underline;}
a:active {background-color: transparent;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{
	margin:50px auto 0;
	width:900px;
}
.header{
	margin:0 55px;
	overflow:hidden;
	text-align:center;
	padding:21px 0 16px;
	border-bottom:1px solid #eae2e2;
}
.logo{
	background:url(../images/logo.jpg) no-repeat;
	width:240px;
	height:50px;
	overflow:hidden;
	text-indent:-9999px;
	display:inline-block;
}
.logo a{
	display:block;
	height:100%;
}
.content{
	overflow:hidden;
	padding:23px 55px 6px;
}
.content .detail{
	font-size:24px;
	line-height:30px;
	color:#000;
	margin:0 0 33px;
}
.content .detail h2{
	font-size:42px;
	line-height:51px;
	margin:0 0 18px;
}
.detail p{margin:0;}

.description{
	text-align:center;
	font-size:15px;
	line-height:24px;
	display:block;
	padding:0 40px;
}
.img-hodler{
	display:inline-block;
	margin:0 0 0 10px;
}
.img-hodler img{
	vertical-align:top;
}
.popup3{
	background:#43a0d0;
	border:5px solid white !important;
	width:771px;
	margin:0 0 30px !important;
	padding:30px 10px 25px !important;
	-webkit-box-shadow: 0 5px 20px rgba(4,4,4,.5);
	-moz-box-shadow: 0 5px 20px rgba(4,4,4,.5);
	box-shadow: 0 5px 20px rgba(4,4,4,.5);

}
.popup3 .close{
	position:absolute;
	top:-20px;
	right:-20px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	border: solid 3px white;
	background: black;
	-webkit-box-shadow: 0 3px 3px rgba(4,4,4,0.8);
	-moz-box-shadow: 0 3px 3px rgba(4,4,4,0.8);
	box-shadow: 0 3px 3px rgba(4,4,4,0.8);
}
.popup3 .image-block{
	position:relative;
	margin:0 0 7px;
}
.popup3 .image-block:after{
	display:block;
	clear:both;
	content:'';
}
.popup3 .image-block .arrow{
	background:url('images/arrow.png') no-repeat 0 0;
	width:65px;
	height:48px;
	position:absolute;
	bottom:-40px;
	right:380px;
	text-indent:-9999px;
}
.image-block .image-holder{
	float:left;
	margin:-15px 30px 0 0;
	width: 260px;
	height: 221px;
	text-align: center;	
}
.image-block .image-holder a {
	height:100%;
	vertical-align: middle;
}
.image-block .image-holder img{ 
	vertical-align:top;
	margin-top: 30px;
	max-width: 260px;
	height: auto;
}
.image-block .detail{
	overflow:hidden;
	text-shadow: 0 2px rgba(0,0,0,.1);
	font:22px/27px 'Didact Gothic', sans-serif;
	color:#fff;
	margin:5px 0 0;
}
.image-block .detail h2{
	font-family: 'Didact Gothic', sans-serif;
	font-size:32px;
	line-height:40px;
	margin:0 0 8px;
	color:#fff;
	text-shadow: 0 2px rgba(0,0,0,.3)
}
.image-block .detail p{ 
	margin:0 0 15px 0;
	font-size: 18px;
}
.popup3 .email-form{
	margin:0 0 12px;
	position: relative;
}
.popup3 .email-form input.email {
	font-size:18px;
	font-family: 'Didact Gothic', sans-serif;
	color:#888;
	border:none;
	border-radius: 2px;
	padding:24px 17px 10px 20px;
	width:252px;
	margin: 0 -5px 0 0;
	outline:none;
}
.popup3 .email-placeholder {
	font-family:Tahoma, Geneva, sans-serif;
	color: #888;
	font-weight: bold;
	text-shadow: none;
	font-size: 12px;
	display: block;
	float: left;
	position: absolute;
	top: 0;
	left: 20px;
	letter-spacing: 1px;
}
.popup3 .email-form input[type="submit"]{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 14px;
	color:#fff;
	background:#ff5722;
	border:none;
	border-radius: 2px;
	width:200px;
	min-height:57px;
	padding:18px 0;
	font-weight:bold;
	cursor:pointer;
	letter-spacing: 1px;
	margin-left: 10px;
}
.popup3 .text{
	color:#eee;
	font-size:14px;
	font-family: 'Didact Gothic', sans-serif;
	display:block;
	text-align:center;
}
.popup3  input.name { display:none; }

.popup3 .icon-secure {
	background: url('images/secure-lock.png');
	width: 12px;
	height: 16px;
	display: inline-block;
	margin-right: 7px;
}
#popup_domination_lightbox_close {
	text-decoration: none;
}