#popup-box-pro-gfcr-{{num}}.popupally-pro-overlay-rwnkmg-{{num}} {{{rwnkmg-background-overlay-css}}display:none;background-color:rgba({{rwnkmg-overlay-color-rgba}}){{use-important}};}
#popup-box-pro-gfcr-{{num}}.popupally-pro-opened-pro-gfcr-{{num}} {display:block !important;z-index:999999{{use-important}};}

#popup-box-pro-gfcr-{{num}} input,#popup-embedded-box-pro-gfcr-{{num}} input{
	min-width:initial{{use-important}};
	max-width:none{{use-important}};
	min-height:initial{{use-important}};
	max-height:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-rwnkmg-{{num}}, #popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-rwnkmg-{{num}}{
width:{{rwnkmg-width}}px{{use-important}};
height:{{rwnkmg-height}}px{{use-important}};
}
.popupally-pro-top-page-jehjsq-{{num}} {
	position:absolute{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-top-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-end-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	bottom:0{{use-important}};
	z-index:99999{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-rwnkmg-{{num}},
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-rwnkmg-{{num}}{
background-color:{{rwnkmg-background-color}}{{use-important}};
background-image:{{rwnkmg-background-image}}{{use-important}};
background-size:{{rwnkmg-background-image-size}}{{use-important}};
background-repeat:no-repeat{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-rwnkmg-{{num}}{
position:{{rwnkmg-content-box-position}}{{use-important}};
{{position-code}}
{{POPUP_BOX_SHADOW_CSS}}
-webkit-border-radius: 4px{{use-important}};
-moz-border-radius: 4px{{use-important}};
border-radius: 4px{{use-important}};
z-index:999999{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-rwnkmg-{{num}} {
margin:0 auto{{use-important}};
clear:both{{use-important}};
{{rwnkmg-embedded-border-css}}
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}},#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}}{
position:relative{{use-important}};
overflow:visible{{use-important}};
width:auto{{use-important}};
height:auto{{use-important}};
padding:0{{use-important}};
margin:0{{use-important}};
text-align:center{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .desc-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .desc-pro-rwnkmg {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{rwnkmg-headline-width}}px{{use-important}};
height:{{rwnkmg-headline-height}}px{{use-important}};
font-family:{{rwnkmg-headline-font}}{{use-important}};
font-size:{{rwnkmg-headline-font-size}}px{{use-important}};
line-height:{{rwnkmg-headline-line-height}}px{{use-important}};
font-weight:{{rwnkmg-headline-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{rwnkmg-headline-align}}{{use-important}};
color:{{rwnkmg-headline-color}}{{use-important}};
top:{{rwnkmg-headline-top}}px{{use-important}};
left:{{rwnkmg-headline-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-1-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-1-pro-rwnkmg {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{rwnkmg-textbox-1-width}}px{{use-important}};
height:{{rwnkmg-textbox-1-height}}px{{use-important}};
font-family:{{rwnkmg-textbox-1-font}}{{use-important}};
font-size:{{rwnkmg-textbox-1-font-size}}px{{use-important}};
line-height:{{rwnkmg-textbox-1-line-height}}px{{use-important}};
font-weight:{{rwnkmg-textbox-1-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{rwnkmg-textbox-1-align}}{{use-important}};
color:{{rwnkmg-textbox-1-color}}{{use-important}};
top:{{rwnkmg-textbox-1-top}}px{{use-important}};
left:{{rwnkmg-textbox-1-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-2-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-2-pro-rwnkmg {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{rwnkmg-textbox-2-width}}px{{use-important}};
height:{{rwnkmg-textbox-2-height}}px{{use-important}};
font-family:{{rwnkmg-textbox-2-font}}{{use-important}};
font-size:{{rwnkmg-textbox-2-font-size}}px{{use-important}};
line-height:{{rwnkmg-textbox-2-line-height}}px{{use-important}};
font-weight:{{rwnkmg-textbox-2-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{rwnkmg-textbox-2-align}}{{use-important}};
color:{{rwnkmg-textbox-2-color}}{{use-important}};
top:{{rwnkmg-textbox-2-top}}px{{use-important}};
left:{{rwnkmg-textbox-2-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-1-pro-rwnkmg,
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-2-pro-rwnkmg,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-1-pro-rwnkmg,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-2-pro-rwnkmg {
position:absolute{{use-important}};
display:inline-block{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
background-size:cover{{use-important}};
background-repeat:no-repeat{{use-important}};
background-position:50%{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-1-pro-rwnkmg,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-1-pro-rwnkmg {
top:{{rwnkmg-image-1-top}}px{{use-important}};
left:{{rwnkmg-image-1-left}}px{{use-important}};
background-image:{{rwnkmg-image-1}}{{use-important}};
width:{{rwnkmg-image-1-width}}px{{use-important}};
height:{{rwnkmg-image-1-height}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-2-pro-rwnkmg,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-2-pro-rwnkmg {
top:{{rwnkmg-image-2-top}}px{{use-important}};
left:{{rwnkmg-image-2-left}}px{{use-important}};
background-image:{{rwnkmg-image-2}}{{use-important}};
width:{{rwnkmg-image-2-width}}px{{use-important}};
height:{{rwnkmg-image-2-height}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name::-webkit-input-placeholder{
color:{{rwnkmg-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name:-moz-placeholder{
color:{{rwnkmg-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name::-moz-placeholder{
color:{{rwnkmg-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name:-ms-input-placeholder{
color:{{rwnkmg-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name::-webkit-input-placeholder{
color:{{rwnkmg-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name:-moz-placeholder{
color:{{rwnkmg-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name::-moz-placeholder{
color:{{rwnkmg-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name:-ms-input-placeholder{
color:{{rwnkmg-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname::-webkit-input-placeholder{
color:{{rwnkmg-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname:-moz-placeholder{
color:{{rwnkmg-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname::-moz-placeholder{
color:{{rwnkmg-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname:-ms-input-placeholder{
color:{{rwnkmg-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname::-webkit-input-placeholder{
color:{{rwnkmg-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname:-moz-placeholder{
color:{{rwnkmg-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname::-moz-placeholder{
color:{{rwnkmg-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname:-ms-input-placeholder{
color:{{rwnkmg-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email::-webkit-input-placeholder{
color:{{rwnkmg-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email:-moz-placeholder{
color:{{rwnkmg-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email::-moz-placeholder{
color:{{rwnkmg-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email:-ms-input-placeholder{
color:{{rwnkmg-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email::-webkit-input-placeholder{
color:{{rwnkmg-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email:-moz-placeholder{
color:{{rwnkmg-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email::-moz-placeholder{
color:{{rwnkmg-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email:-ms-input-placeholder{
color:{{rwnkmg-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name {
top:{{rwnkmg-name-field-top}}px{{use-important}};
left:{{rwnkmg-name-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{rwnkmg-name-field-padding-top}}px {{rwnkmg-name-field-padding-right}}px {{rwnkmg-name-field-padding-bottom}}px {{rwnkmg-name-field-padding-left}}px{{use-important}};
width:{{rwnkmg-name-field-width}}{{use-important}};
color:{{rwnkmg-name-field-color}}{{use-important}};
font-family:{{rwnkmg-name-field-font}}{{use-important}};
font-size:{{rwnkmg-name-field-font-size}}px{{use-important}};
line-height:{{rwnkmg-name-field-line-height}}px{{use-important}};
background:{{rwnkmg-name-field-background-color}}{{use-important}};
text-align:{{rwnkmg-name-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{rwnkmg-name-field-border-radius}}px{{use-important}};
-moz-border-radius: {{rwnkmg-name-field-border-radius}}px{{use-important}};
border-radius: {{rwnkmg-name-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{rwnkmg-name-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname {
top:{{rwnkmg-lname-field-top}}px{{use-important}};
left:{{rwnkmg-lname-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{rwnkmg-lname-field-padding-top}}px {{rwnkmg-lname-field-padding-right}}px {{rwnkmg-lname-field-padding-bottom}}px {{rwnkmg-lname-field-padding-left}}px{{use-important}};
width:{{rwnkmg-lname-field-width}}{{use-important}};
color:{{rwnkmg-lname-field-color}}{{use-important}};
font-family:{{rwnkmg-lname-field-font}}{{use-important}};
font-size:{{rwnkmg-lname-field-font-size}}px{{use-important}};
line-height:{{rwnkmg-lname-field-line-height}}px{{use-important}};
background:{{rwnkmg-lname-field-background-color}}{{use-important}};
text-align:{{rwnkmg-lname-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{rwnkmg-lname-field-border-radius}}px{{use-important}};
-moz-border-radius: {{rwnkmg-lname-field-border-radius}}px{{use-important}};
border-radius: {{rwnkmg-lname-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{rwnkmg-lname-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email {
top:{{rwnkmg-email-field-top}}px{{use-important}};
left:{{rwnkmg-email-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{rwnkmg-email-field-padding-top}}px {{rwnkmg-email-field-padding-right}}px {{rwnkmg-email-field-padding-bottom}}px {{rwnkmg-email-field-padding-left}}px{{use-important}};
width:{{rwnkmg-email-field-width}}{{use-important}};
color:{{rwnkmg-email-field-color}}{{use-important}};
font-family:{{rwnkmg-email-field-font}}{{use-important}};
font-size:{{rwnkmg-email-field-font-size}}px{{use-important}};
line-height:{{rwnkmg-email-field-line-height}}px{{use-important}};
background:{{rwnkmg-email-field-background-color}}{{use-important}};
text-align:{{rwnkmg-email-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{rwnkmg-email-field-border-radius}}px{{use-important}};
-moz-border-radius: {{rwnkmg-email-field-border-radius}}px{{use-important}};
border-radius: {{rwnkmg-email-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{rwnkmg-email-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="submit"].submit-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="submit"].submit-pro-rwnkmg {
position:absolute{{use-important}};
display:inline-block{{use-important}};
font-family:{{rwnkmg-subscribe-button-text-font}}{{use-important}};
font-size:{{rwnkmg-subscribe-button-text-font-size}}px{{use-important}};
line-height:{{rwnkmg-subscribe-button-text-line-height}}px{{use-important}};
background-color: {{rwnkmg-subscribe-button-color}}{{use-important}};
text-align:{{rwnkmg-subscribe-button-text-align}}{{use-important}};
border-style: solid{{use-important}};
border-width: 1px{{use-important}};
border-color:#C0C0C0{{use-important}};
-webkit-box-sizing: border-box{{use-important}};
-moz-box-sizing: border-box{{use-important}};
box-sizing: border-box{{use-important}};
color:{{rwnkmg-subscribe-button-text-color}}{{use-important}};
text-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3){{use-important}};
cursor: pointer{{use-important}};
-webkit-border-radius: {{rwnkmg-subscribe-button-text-border-radius}}px{{use-important}};
-moz-border-radius: {{rwnkmg-subscribe-button-text-border-radius}}px{{use-important}};
border-radius: {{rwnkmg-subscribe-button-text-border-radius}}px{{use-important}};
width:{{rwnkmg-subscribe-button-text-width}}{{use-important}};
height:auto{{use-important}};
padding:{{rwnkmg-subscribe-button-text-padding-top}}px 0 {{rwnkmg-subscribe-button-text-padding-bottom}}px 0{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
background-image:none{{use-important}};
top:{{rwnkmg-subscribe-button-top}}px{{use-important}};
left:{{rwnkmg-subscribe-button-left}}px{{use-important}};
margin:0{{use-important}};
font-weight:{{rwnkmg-subscribe-button-text-font-weight}}{{use-important}};
float:none{{use-important}};
-webkit-appearance: none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="submit"].submit-pro-rwnkmg:hover,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="submit"].submit-pro-rwnkmg:hover {
background-color:{{rwnkmg-subscribe-button-color}}{{use-important}};
color:{{rwnkmg-subscribe-button-text-color}}{{use-important}};
background-image:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-rwnkmg-{{num}} .popupally-pro-close-rwnkmg{
background-image:url('{{plugin_uri}}resource/frontend/img/fancy_close.png'){{use-important}};
background-size:cover{{use-important}};
display: block{{use-important}};
position: absolute{{use-important}};
top: -12px{{use-important}};
right: -12px{{use-important}};
width: 30px{{use-important}};
height: 30px{{use-important}};
color: white{{use-important}};
cursor: pointer{{use-important}};
z-index:999999{{use-important}};
}
@media (max-width: 960px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-rwnkmg-{{num}}{
		{{position-960-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-rwnkmg-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-rwnkmg-{{num}}{
		width:{{rwnkmg-width-960}}px{{use-important}};
		height:{{rwnkmg-height-960}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .desc-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .desc-pro-rwnkmg{
		top:{{rwnkmg-headline-960-top}}px{{use-important}};
		left:{{rwnkmg-headline-960-left}}px{{use-important}};
		font-size:{{rwnkmg-headline-960-font-size}}px{{use-important}};
		line-height:{{rwnkmg-headline-960-line-height}}px{{use-important}};
		width:{{rwnkmg-headline-960-width}}px{{use-important}};
		height:{{rwnkmg-headline-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-1-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-1-pro-rwnkmg{
		top:{{rwnkmg-textbox-1-960-top}}px{{use-important}};
		left:{{rwnkmg-textbox-1-960-left}}px{{use-important}};
		font-size:{{rwnkmg-textbox-1-960-font-size}}px{{use-important}};
		line-height:{{rwnkmg-textbox-1-960-line-height}}px{{use-important}};
		width:{{rwnkmg-textbox-1-960-width}}px{{use-important}};
		height:{{rwnkmg-textbox-1-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-2-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-2-pro-rwnkmg{
		top:{{rwnkmg-textbox-2-960-top}}px{{use-important}};
		left:{{rwnkmg-textbox-2-960-left}}px{{use-important}};
		font-size:{{rwnkmg-textbox-2-960-font-size}}px{{use-important}};
		line-height:{{rwnkmg-textbox-2-960-line-height}}px{{use-important}};
		width:{{rwnkmg-textbox-2-960-width}}px{{use-important}};
		height:{{rwnkmg-textbox-2-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-1-pro-rwnkmg,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-1-pro-rwnkmg {
		top:{{rwnkmg-image-1-960-top}}px{{use-important}};
		left:{{rwnkmg-image-1-960-left}}px{{use-important}};
		width:{{rwnkmg-image-1-960-width}}px{{use-important}};
		height:{{rwnkmg-image-1-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-2-pro-rwnkmg,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-2-pro-rwnkmg {
		top:{{rwnkmg-image-2-960-top}}px{{use-important}};
		left:{{rwnkmg-image-2-960-left}}px{{use-important}};
		width:{{rwnkmg-image-2-960-width}}px{{use-important}};
		height:{{rwnkmg-image-2-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name {
		top:{{rwnkmg-name-field-960-top}}px{{use-important}};
		left:{{rwnkmg-name-field-960-left}}px{{use-important}};
		padding:{{rwnkmg-name-field-960-padding-top}}px {{rwnkmg-name-field-960-padding-right}}px {{rwnkmg-name-field-960-padding-bottom}}px {{rwnkmg-name-field-960-padding-left}}px{{use-important}};
		width:{{rwnkmg-name-field-960-width}}{{use-important}};
		font-size:{{rwnkmg-name-field-960-font-size}}px{{use-important}};
		line-height:{{rwnkmg-name-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{rwnkmg-name-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{rwnkmg-name-field-960-border-radius}}px{{use-important}};
		border-radius: {{rwnkmg-name-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname {
		top:{{rwnkmg-lname-field-960-top}}px{{use-important}};
		left:{{rwnkmg-lname-field-960-left}}px{{use-important}};
		padding:{{rwnkmg-lname-field-960-padding-top}}px {{rwnkmg-lname-field-960-padding-right}}px {{rwnkmg-lname-field-960-padding-bottom}}px {{rwnkmg-lname-field-960-padding-left}}px{{use-important}};
		width:{{rwnkmg-lname-field-960-width}}{{use-important}};
		font-size:{{rwnkmg-lname-field-960-font-size}}px{{use-important}};
		line-height:{{rwnkmg-lname-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{rwnkmg-lname-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{rwnkmg-lname-field-960-border-radius}}px{{use-important}};
		border-radius: {{rwnkmg-lname-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email {
		top:{{rwnkmg-email-field-960-top}}px{{use-important}};
		left:{{rwnkmg-email-field-960-left}}px{{use-important}};
		padding:{{rwnkmg-email-field-960-padding-top}}px {{rwnkmg-email-field-960-padding-right}}px {{rwnkmg-email-field-960-padding-bottom}}px {{rwnkmg-email-field-960-padding-left}}px{{use-important}};
		width:{{rwnkmg-email-field-960-width}}{{use-important}};
		font-size:{{rwnkmg-email-field-960-font-size}}px{{use-important}};
		line-height:{{rwnkmg-email-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{rwnkmg-email-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{rwnkmg-email-field-960-border-radius}}px{{use-important}};
		border-radius: {{rwnkmg-email-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="submit"].submit-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="submit"].submit-pro-rwnkmg {
		top:{{rwnkmg-subscribe-button-960-top}}px{{use-important}};
		left:{{rwnkmg-subscribe-button-960-left}}px{{use-important}};
		padding:{{rwnkmg-subscribe-button-text-960-padding-top}}px 0 {{rwnkmg-subscribe-button-text-960-padding-bottom}}px 0{{use-important}};
		width:{{rwnkmg-subscribe-button-text-960-width}}{{use-important}};
		font-size:{{rwnkmg-subscribe-button-text-960-font-size}}px{{use-important}};
		line-height:{{rwnkmg-subscribe-button-text-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{rwnkmg-subscribe-button-text-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{rwnkmg-subscribe-button-text-960-border-radius}}px{{use-important}};
		border-radius: {{rwnkmg-subscribe-button-text-960-border-radius}}px{{use-important}};
	}
}
@media (max-width: 640px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-rwnkmg-{{num}}{
		{{position-640-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-rwnkmg-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-rwnkmg-{{num}}{
		width:{{rwnkmg-width-640}}px{{use-important}};
		height:{{rwnkmg-height-640}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .desc-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .desc-pro-rwnkmg{
		top:{{rwnkmg-headline-640-top}}px{{use-important}};
		left:{{rwnkmg-headline-640-left}}px{{use-important}};
		font-size:{{rwnkmg-headline-640-font-size}}px{{use-important}};
		line-height:{{rwnkmg-headline-640-line-height}}px{{use-important}};
		width:{{rwnkmg-headline-640-width}}px{{use-important}};
		height:{{rwnkmg-headline-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-1-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-1-pro-rwnkmg{
		top:{{rwnkmg-textbox-1-640-top}}px{{use-important}};
		left:{{rwnkmg-textbox-1-640-left}}px{{use-important}};
		font-size:{{rwnkmg-textbox-1-640-font-size}}px{{use-important}};
		line-height:{{rwnkmg-textbox-1-640-line-height}}px{{use-important}};
		width:{{rwnkmg-textbox-1-640-width}}px{{use-important}};
		height:{{rwnkmg-textbox-1-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-2-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .textbox-2-pro-rwnkmg{
		top:{{rwnkmg-textbox-2-640-top}}px{{use-important}};
		left:{{rwnkmg-textbox-2-640-left}}px{{use-important}};
		font-size:{{rwnkmg-textbox-2-640-font-size}}px{{use-important}};
		line-height:{{rwnkmg-textbox-2-640-line-height}}px{{use-important}};
		width:{{rwnkmg-textbox-2-640-width}}px{{use-important}};
		height:{{rwnkmg-textbox-2-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-1-pro-rwnkmg,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-1-pro-rwnkmg {
		top:{{rwnkmg-image-1-640-top}}px{{use-important}};
		left:{{rwnkmg-image-1-640-left}}px{{use-important}};
		width:{{rwnkmg-image-1-640-width}}px{{use-important}};
		height:{{rwnkmg-image-1-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-2-pro-rwnkmg,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} .image-2-pro-rwnkmg {
		top:{{rwnkmg-image-2-640-top}}px{{use-important}};
		left:{{rwnkmg-image-2-640-left}}px{{use-important}};
		width:{{rwnkmg-image-2-640-width}}px{{use-important}};
		height:{{rwnkmg-image-2-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-name {
		top:{{rwnkmg-name-field-640-top}}px{{use-important}};
		left:{{rwnkmg-name-field-640-left}}px{{use-important}};
		padding:{{rwnkmg-name-field-640-padding-top}}px {{rwnkmg-name-field-640-padding-right}}px {{rwnkmg-name-field-640-padding-bottom}}px {{rwnkmg-name-field-640-padding-left}}px{{use-important}};
		width:{{rwnkmg-name-field-640-width}}{{use-important}};
		font-size:{{rwnkmg-name-field-640-font-size}}px{{use-important}};
		line-height:{{rwnkmg-name-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{rwnkmg-name-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{rwnkmg-name-field-640-border-radius}}px{{use-important}};
		border-radius: {{rwnkmg-name-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="text"].field-pro-rwnkmg-lname {
		top:{{rwnkmg-lname-field-640-top}}px{{use-important}};
		left:{{rwnkmg-lname-field-640-left}}px{{use-important}};
		padding:{{rwnkmg-lname-field-640-padding-top}}px {{rwnkmg-lname-field-640-padding-right}}px {{rwnkmg-lname-field-640-padding-bottom}}px {{rwnkmg-lname-field-640-padding-left}}px{{use-important}};
		width:{{rwnkmg-lname-field-640-width}}{{use-important}};
		font-size:{{rwnkmg-lname-field-640-font-size}}px{{use-important}};
		line-height:{{rwnkmg-lname-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{rwnkmg-lname-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{rwnkmg-lname-field-640-border-radius}}px{{use-important}};
		border-radius: {{rwnkmg-lname-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="email"].field-pro-rwnkmg-email {
		top:{{rwnkmg-email-field-640-top}}px{{use-important}};
		left:{{rwnkmg-email-field-640-left}}px{{use-important}};
		padding:{{rwnkmg-email-field-640-padding-top}}px {{rwnkmg-email-field-640-padding-right}}px {{rwnkmg-email-field-640-padding-bottom}}px {{rwnkmg-email-field-640-padding-left}}px{{use-important}};
		width:{{rwnkmg-email-field-640-width}}{{use-important}};
		font-size:{{rwnkmg-email-field-640-font-size}}px{{use-important}};
		line-height:{{rwnkmg-email-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{rwnkmg-email-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{rwnkmg-email-field-640-border-radius}}px{{use-important}};
		border-radius: {{rwnkmg-email-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="submit"].submit-pro-rwnkmg,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-rwnkmg-{{num}} input[type="submit"].submit-pro-rwnkmg {
		top:{{rwnkmg-subscribe-button-640-top}}px{{use-important}};
		left:{{rwnkmg-subscribe-button-640-left}}px{{use-important}};
		padding:{{rwnkmg-subscribe-button-text-640-padding-top}}px 0 {{rwnkmg-subscribe-button-text-640-padding-bottom}}px 0{{use-important}};
		width:{{rwnkmg-subscribe-button-text-640-width}}{{use-important}};
		font-size:{{rwnkmg-subscribe-button-text-640-font-size}}px{{use-important}};
		line-height:{{rwnkmg-subscribe-button-text-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{rwnkmg-subscribe-button-text-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{rwnkmg-subscribe-button-text-640-border-radius}}px{{use-important}};
		border-radius: {{rwnkmg-subscribe-button-text-640-border-radius}}px{{use-important}};
	}
}