/* Context Title */

#context-title {
	background: url("images/ui-bg_inset-hard_10_3e3e3e_1x100.png") repeat-x scroll 50% 50% #3E3E3E;
    border: 1px solid #3E3E3E;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
    margin: 0;
}

#context-title a{
	color: #FFFFFF;
	text-decoration: none;
}

#context-title a:hover {
	text-decoration: underline;
}

/* End Context Title */


/* Main Section */

	#libsyn-media-progressbar {
		height:20px;
		border-radius: 3px;
		background-color: #82a532;
		width:1%;
	}

	div#main-section-container {
		min-height: 400px;	
		margin: 0;
		padding: 0;
		min-width: 990px;
		background: #ffffff; /* for non-css3 browsers */
		color: #000000;
	}	
	
	.with-context-nav {
		background: url('/images/layout/shadow-sidebar-1.jpg') left top no-repeat, url('/images/layout/shadow-sidebar-3.jpg') left bottom no-repeat,url('/images/layout/shadow-sidebar-2.jpg') left center repeat-y;
	}	
	
	
	/* Main Content */
		div#main-content {
			display: inline-block;
			float: left;
			width: 990px;
			margin-bottom: 20px;
			padding-top: 20px;
		}	
		
		p.opening-paragraph {
			padding-top:0px;
			margin-top:0px;
		}	
		
		div#main-content.right-column {
			width: 764px;	
			margin-left: 10px;
		}
		
		div#main-content a {
			color: #82a532;	
		}	
		
		div#main-content a:hover{
			color: #68b335;	
		}	
		
			
		div#main-content a.ui-button {
			color: #ffffff;	
		}
		
		div#main-content a.ui-button.ui-state-active{
			color: #22242f;	
		}	
		
		.column {
			float: left;
			display:inline-block;
			
		}
		
		.two-columns .column {
			width: 50%;
		}
		
		.two-columns .column:first-child *{
			margin-right: 2px;
		}	
		
		.two-columns .column:last-child *{
			margin-left: 2px;
		}
		
		.two-columns-spaced .column {
			width: 45%;
		}
		
		.two-columns-spaced .column:first-child{
			margin-right: 5%;
		}
		
		.two-columns-spaced .column:last-child{
			margin-left: 5%;
		}
		
		
		
		.columns:before, .columns:after { content: ""; display: table; }
		.columns:after { clear: both; }
		.columns { zoom: 1; }
		
	
		section {
		/*	border:2px solid #22242f; */
			margin:5px 0; 
		}	
		
		section header, div.ui-widget-content {
			padding: 5px;	
		}
				
		
		section ul.layout-list {
			list-style-type: none;	
			margin: 0 0 0 -40px;
		}	
		
		section ul.layout-list li {
			padding:5px;
			border-bottom: 1px solid #ccc;
		}	
		
		section ul.layout-list li:nth-child(even){
			background-color: #f2f2f2;
		}
		
		ul.layout-list li:last-child {
			border-bottom: none;	
		}	
	
		.supportDiv ul{
			color: #666666;
			list-style: outside none disc;
		}
	
		.details .summary{
			background: none !important;
			border:none !important;
			font-size: .9em;
			font-weight: normal;
			padding-left: 25px !important;
		}	

		
		div.list-item-toolbar-buttons {
			float: right;	
		}
		
		.list-item-toolbar-header {
			float: left;	
		}	
		

/* End main section */


/* Dialog */

.dialog{
	display: none;	
}

.dialog-launcher{
	display: inline-block;
	cursor: pointer; 	
}	

label .dialog-launcher, legend .dialog-launcher {
	position:relative;
	/*top:3px;*/
}
	
.disabled-button {
	display: inline-block;
	line-height: 1.4;
	padding: 0.4em 1em 0.4em 2.1em;
	border: 2px solid #cccccc;
	color: #cccccc;	
}

.disabled-label {
	color: #cccccc;
	text-decoration: line-through;
}

.ui-datepicker-trigger{
	height: 22px;
	position:absolute;
	margin-left: 2px;

}	

.ui-dialog {
	min-width:300px;
	max-width: 900px;
	-moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	z-index:1000;
 }
 

.screen-hidden {
	position: absolute;
	left: -10000px; 
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}	

.hide-inner-labels label{
	position: absolute;
	left: -10000px; 
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;		
}

/* Boxes */
#box_sl_curl {
	color: #900;
}

.clr {
	clear: both;
}

h2.nav-tab-wrapper>ul>li {
	float: left;
	margin-left: 5px;
}

li.ui-tabs-active {
	border-bottom-color: #f1f1f1;
	border-bottom-style: solid;
	border-bottom-width: 5px;
}

li.ui-tabs-active a.nav-tab {
	background: 0 0;
}

.submit a {
	margin-left: 20px;
}

div.menu_containt_div>.stuffbox {
	width: 763px;
}

div.inside td,div.inside th {
	padding: 7px;
}

div.inside ul {
	padding: 0px 7px 7px 12px;
}

div.stuffbox h3 {
	border-bottom: 1px solid #eee;
}

div.stuffbox h4 {
	font-size: 1.1em;
	font-family:	"Open Sans",​"HelveticaNe...vetica,​Arial,​sans-serif;
}

div.stuffbox a {
	color: #60a135;
}

div.stuffbox a:hover {
	color: #68b335;
}

div.stuffbox input[type="checkbox"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime-local"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="radio"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus {
    border-color: #60a135;
    box-shadow: 0 0 2px rgba(96, 161, 53, 1);
}

div.stuffbox select:active, select:hover {
	outline-color: #68b335;
}

div.stuffbox .button-primary {
	background: #82a532 none repeat scroll 0 0;
	border-color: #82a532;
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #82a532, 1px 0 1px #82a532, 0 1px 1px #82a532, -1px 0 1px #82a532;
}

div.stuffbox .button-primary:hover {
	background: #75942D none repeat scroll 0 0;
	border-color: #82a532;
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #82a532, 1px 0 1px #82a532, 0 1px 1px #82a532, -1px 0 1px #82a532;
}

div.stuffbox .button-primary:focus {
	background: #22242f none repeat scroll 0 0;
	border-color: #82a532;
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #82a532, 1px 0 1px #82a532, 0 1px 1px #82a532, -1px 0 1px #82a532;
}

.boxSharingProviderContainer,.boxVerticalSharingProviderContainer {
	width: 165px;
	float: left;
}

.box_help_content {
	display: none;
	font-size: 12px;
	color: #797979;
	line-height: 15px;
	font-style: italic;
}

.box_help_content img {
	box-shadow: 4px 4px 4px 4px #888;
	margin: 8px 0;
}

.box_help_bubble {
	cursor: pointer;
	vertical-align: middle;
}

#box_ss_rearrange li,#box_ss_vertical_rearrange li {
	cursor: move;
	float: left;
	display: block;
	margin: 0 2px;
}

#box_ss_rearrange,#box_ss_vertical_rearrange,#box_sc_rearrange,#box_sc_vertical_rearrange {
	margin: 0;
}

#box_sc_rearrange li,#box_sc_vertical_rearrange li {
	cursor: move;
	float: left;
	display: block;
	width: 175px;
	margin: 0;
}

#box_sc_vertical_rearrange label,#box_sc_rearrange label {
	cursor: move;
}

.box_left_column {
	float: left;
	width: 56%!important;
}

.box_right_column {
	float: left;
	width: 37%;
	margin-left: 10px;
}

.box_right_column td {
	display: block;
	width: 120px!important;
	margin: 0;
}

.box_clear {
	clear: both;
}

.box_error {
	background-color: #FFFFE0;
	border: 1px solid #E6DB55;
	padding: 5px;
	margin: 10px;
}

input[type=text] {
	width: 351px;
}

#box_troubleshoot_notification {
	color: red;
}

@media screen and (max-width: 1200px){
	.box_left_column {
		float: left;
		width: 56%!important;
		overflow: hidden;
	}
	
	.box_right_column {
		float: left;
		width: 37%;
	}
	
	.box_right_column td {
		display: block;
		width: 120px!important;
		margin: 0;
	}
	
	.box_clear {
		clear: both;
	}
	
	.box_error {
		background-color: #FFFFE0;
		border: 1px solid #E6DB55;
		padding: 5px;
	}
	
	input[type=text] {
		width: 351px;
	}
	
	#box_troubleshoot_notification {
		color: red;
	}
}

@media screen and (max-width: 768px){
	.box_left_column {
		float: left;
		width: 95%!important;
		overflow: hidden;
	}
	
	.box_right_column {
		float: left;
		width: 95%;
		margin-left: 10px;
	}
	
	.box_right_column td {
		display: inline-block;
		width: 120px!important;
		margin: 0;
	}
	
	.box_clear {
		clear: both;
	}
	
	.box_error {
		background-color: #FFFFE0;
		border: 1px solid #E6DB55;
		padding: 5px;
	}
	
	input[type=text] {
		width: 251px;
	}
	
	#box_troubleshoot_notification {
		color: red;
	}
}

@media screen and (max-width: 676px){
	.box_left_column {
		float: left;
		width: 95%!important;
		overflow: hidden;
	}
	
	.box_right_column {
		float: left;
		width: 95%;
	}
	
	.box_right_column td {
		display: inline-block;
		width: 120px!important;
		margin: 0;
	}
	
	.box_clear {
		clear: both;
	}
	
	.box_error {
		background-color: #FFFFE0;
		border: 1px solid #E6DB55;
		padding: 5px;
	}
	
	input[type=text] {
		width: 251px;
	}
	
	#box_troubleshoot_notification {
		color: red;
	}		
}

@media screen and (max-width: 480px){
	.box_left_column {
		float: left;
		width: 95%!important;
		overflow: hidden;
	}
	
	.box_right_column {
		float: left;
		width: 95%;
	}
	
	.box_right_column td {
		display: inline-block;
		width: 120px!important;
		margin: 0;
	}
	
	.box_clear {
		clear: both;
	}
	
	.box_error {
		background-color: #FFFFE0;
		border: 1px solid #E6DB55;
		padding: 5px;
	}
	
	input[type=text] {
		width: 251px;
	}
	
	#box_troubleshoot_notification {
		color: red;
	}	
}

@media screen and (max-width: 414px){
		.box_left_column {
			float: left;
			width: 95%!important;
			overflow: hidden;
		}
		
		.box_right_column {
			float: left;
			width: 95%;
			margin-left: 10px;
		}
		
		.box_right_column td {
			display: inline-block;
			width: 120px!important;
			margin: 0;
		}
		
		.box_clear {
			clear: both;
		}
		
		.box_error {
			background-color: #FFFFE0;
			border: 1px solid #E6DB55;
			padding: 5px;
			margin: 10px;
		}
		
		input[type=text] {
			width: 251px;
		}
		
		#box_troubleshoot_notification {
			color: red;
		}	
}

/* Tabs */

.tabs{
	border: solid 2px #22242f;
	padding: 0;	
}	

div#main-content .ui-tabs .ui-state-default a:visited{
	color: #ffffff;	
}	

div#main-content .ui-tabs .ui-tabs-active a.ui-tabs-anchor, div#main-content .ui-tabs .ui-tabs-active a.ui-tabs-anchor:link{
	color: #22242f;	
}	

div#main-content .ui-tabs .ui-state-default a:link{
	color: #ffffff;	
}

div.ui-widget-content.ui-tabs, div.ui-widget-content.ui-dialog {
			padding: 0px;	
			border-width:1px;
		}

img.modal-asset-preview {
	max-width: 1000px;
	max-height: 500px;
}

.ui-widget.accordion .ui-widget-header h1{
	margin-left: 20px;	
}	


[readonly=readonly] {
	background-color: #dddddd;
}


#feedback {
	border: 1px solid #DB8B00;
	background-color: #dbcbaf;
	
	padding: 8px;

}

/* libsyn meta box */

div.libsyn-post-form a{
	color: #60a135;
}

div.libsyn-post-form a:hover {
	color: #68b335;
}

div.libsyn-post-form input[type="checkbox"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime-local"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="radio"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, select:hover, textarea:focus {
	border-color: #60a135;
	box-shadow: 0 0 2px rgba(96, 161, 53, 1);
}


div.libsyn-post-form .button-primary {
	background: #82a532 none repeat scroll 0 0;
	border-color: #82a532;
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #82a532, 1px 0 1px #82a532, 0 1px 1px #82a532, -1px 0 1px #82a532;
}

div.libsyn-post-form .button-primary:hover {
	background: #75942D none repeat scroll 0 0;
	border-color: #82a532;
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #82a532, 1px 0 1px #82a532, 0 1px 1px #82a532, -1px 0 1px #82a532;
}

div.libsyn-post-form .button-primary:focus {
	background: #22242f none repeat scroll 0 0;
	border-color: #82a532;
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #82a532, 1px 0 1px #82a532, 0 1px 1px #82a532, -1px 0 1px #82a532;
}

/* custom jquery ui icons */
.ui-icon-libsyn-stats {
	background-image: url(/images/jquery-ui-custom/ui-icons_ffffff.png) !important;
	background-position: 0 0; 
}

.ui-state-active .ui-icon-libsyn-stats {
	background-image: url(/images/jquery-ui-custom/ui-icons_22242f.png) !important;
}

.ui-icon-libsyn-embed {
	background-image: url(/images/jquery-ui-custom/ui-icons_ffffff.png) !important;
	background-position: -16px 0; 
}

.ui-state-active .ui-icon-libsyn-embed {
	background-image: url(/images/jquery-ui-custom/ui-icons_22242f.png) !important;
}

.ui-icon-libsyn-rss {
	background-image: url(/images/jquery-ui-custom/ui-icons_ffffff.png) !important;
	background-position: -32px 0; 
}

.ui-state-active .ui-icon-libsyn-rss {
	background-image: url(/images/jquery-ui-custom/ui-icons_22242f.png) !important;
}


/* key value pairs */

dl {
	display: table;
	margin: 20px 0;
	width: 95%;
}

dl + dl {
	padding-top:20px;
}

dl div.def {
	display: table-row;
	
}

dl div.def:nth-child(even) {
	background-color: #f2f2f2;
}

dl div.def:nth-child(odd) {
	background-color: #ffffff;
}

dl div.def:first-child dt, dl div.def:first-child dd{
	border-top: 1px solid #ccc;
}

dl div.def dt, dl div.def dd {
	display: table-cell;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

dl div.def dt {
	font-weight: bold;
	width: 20%;
}

dl div.def dt:after {
	content: ":";
}

dl div.def dd {
	padding-left: 20px;
}

/* Graph Colors */
	.graph-color {
		color:#82A532;
	}
	.graph-color-highlight{
		color:#e08b15;
	}
	.graph-color-background{
		color:#22242F;
	}

/* Box Images */

	.post-position-image-box {
		width: 50px;
		height: 50px;
		background: #eee;
		position: relative;
	}
	.post-position-shape-top {
		height: 12px;
		background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
		vertical-align: top;
		width: 100%;
		position: relative;
	}
	.post-position-shape-bottom {
		height: 12px;
		background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
		position: relative;
		text-align:bottom;
		bottom: -38px;
		width: 100%;
	}
	
	
/* Highlight states */
	.highlight.ui-state-default,
	.ui-widget-content.highlight .ui-state-default,
	.ui-widget-header.highlight .ui-state-default {
		border: 1px solid #e0ac13;
		background: #e08b15 url(/css/jquery-ui-theme/images/ui-bg_highlight-soft_40_e08b15_1x100.png) 50% 50% repeat-x;
	}
	
	.ui-state-hover.highlight,
	.ui-widget-content.highlight .ui-state-hover,
	.ui-widget-header.highlight .ui-state-hover,
	.ui-state-focus.highlight,
	.ui-widget-content.highlight .ui-state-focus,
	.ui-widget-header.highlight .ui-state-focus {
		border: 1px solid #e0ac13;
		background: #e08b15 url(/css/jquery-ui-theme/images/ui-bg_highlight-hard_55_e08b15_1x100.png) 50% 50% repeat-x;
		color: #ffffff;
	}
	
	.ui-state-active.highlight,
	.ui-widget-content.highlight .ui-state-active,
	.ui-widget-header.highlight .ui-state-active {
		border: 1px solid #e0ac13;
		background:none;
		background-color: #fff;
		color:#000;
	}

	.ui-state-highlight.highlight,
	.ui-widget-content.highlight .ui-state-highlight,
	.ui-widget-header.highlight .ui-state-highlight {
		border: 1px solid #e0ac13;
	}
	
/* end highlight states */
