.popup-dom-lightbox-wrapper {
	height: 100%;
	min-height: 350px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.popup-dom-lightbox-wrapper .lightbox-overlay {
	background-image:url('images/bg-trans.png');
	height: 100%;
	min-height: 350px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}
.popup-dom-lightbox-wrapper .lightbox-main{
	z-index: 1000;
}


/* ----------------------------------------------------- */
.popup3{
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
	color: #b3c9d4;
	line-height: 1.5;
	width:771px;
	-webkit-box-shadow: 0 5px 20px rgba(4,4,4,.5);
	-moz-box-shadow: 0 5px 20px rgba(4,4,4,.5);
	box-shadow: 0 5px 20px rgba(4,4,4,.5);

}
.popup3 .close{
	position:absolute;
	top:-18px;
	right:-18px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	color: white;
	font-size: 30px;
	text-align: center;
	line-height: 30px;
	border: 3px solid white;
	background: black;
	line-height: 1;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 5px 5px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 5px 5px 0px rgba(0, 0, 0, 0.5);
}
.popup3 .image-block{
	position:relative;
	margin:0;
	padding: 0;
}
.popup3 .image-block:after{
	display:block;
	clear:both;
	content:'';
}
.image-block .image-holder{
	float:left;
	padding: 35px 3%;
	/*margin:-15px 30px 0 0;*/
	width: 32%;
	text-align: center;	
}
.image-block .image-holder a {
	height:100%;
	vertical-align: middle;
}
.image-block .image-holder .xxx img{ 
	vertical-align:top;
	margin-top: 30px;
	max-width: 260px;
	height: auto;
}
.image-block{
	overflow:hidden;
	text-shadow: 0 2px rgba(0,0,0,.1);
	font: 18px 'Roboto', sans-serif;
	color:#fff;
	margin:5px 0 0;
}
.image-block li {
	line-height: 1.1;
	padding-bottom: 5px;
	text-indent: -30px;
}
.image-block .detail {
	float: left;
	width: 60%;
	padding: 30px 0;
}

.image-block .detail input{
	width: 100%;
	margin-bottom: 10px;
}
.image-block h2{
	font-family: 'Roboto', sans-serif;
	font-size:30px;
	line-height:1.2;
	margin:0 0 10px;
	color:#fff;
	text-shadow: 0 2px rgba(0,0,0,.3)
}
.image-block p{ 
	margin:0 0 20px 0;
	font-size: 18px;
}
.popup3 .email-form{
	margin:0;
	position: relative;
}
.popup3 .email-form input.name {
	display: none;
}
.popup3 .email-form input.email, .popup3 .email-form input.name {
	font-size:16px;
	font-family: 'Roboto', sans-serif;
	color:#888;
	border:none;
	border-radius: 2px;
	padding:16px;
	outline:none;
}
.popup3 .email-placeholder, .popup3 .name-placeholder {
	color: #727272;
	text-shadow: none;
	font-size: 11px;
	display: block;
	float: left;
	position: absolute;
	top: 46px;
	left: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
}
.popup3 .email-form input.name::-webkit-input-placeholder, .popup3 .email-form input.email::-webkit-input-placeholder{
   color: #b6b6b6;
}

.popup3 .email-form input.name:-moz-placeholder, .popup3 .email-form input.email:-moz-placeholder { /* Firefox 18- */
   color: #b6b6b6;  
}

.popup3 .email-form input.name::-moz-placeholder, .popup3 .email-form input.email::-moz-placeholder {  /* Firefox 19+ */
   color: #b6b6b6;  
}

.popup3 .email-form input.name:-ms-input-placeholder, .popup3 .email-form input.email:-ms-input-placeholder {  
   color: #b6b6b6;  
}


.popup3 .email-placeholder {
	top: 115px;
}
.popup3 .email-form input[type="text"]{
	width: 400px;
	float: left;
	margin-right: 10px;
}
.popup3 .email-form input[type="submit"]{
	width: 300px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color:#fff;
	background:#ff5722;
	border:none;
	border-radius: 2px;
	min-height:51px;
	padding:16px 0;
	font-weight:bold;
	cursor:pointer;
	letter-spacing: 2px;
	float: right;
}
.popup3 .text{
	color:#eee;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
	display:block;
	text-align:center;
	width: 80%;
	margin: 0 auto;
	padding: 5px 0 5px;
}


.popup3 .secure-lock {
	display: inline;
	vertical-align: -10%;
	padding-right: 2px;
}

.popup3 .action-text, .popup3 input.name, .popup3 input.email{
	display: block;
}
.popup3 ul {
	list-style: none;
	padding: 0 0 0 35px;
	font-size: 16px;
}
.popup3 .checkmark {
	opacity: 0.8;
	vertical-align: middle;
	padding-right: 4px;
}
.popup3 .action-text {
	padding-bottom: 8px;
	font-size: 16px;
}
#popup_domination_lightbox_close {
	text-decoration: none;
}

.popup3 .colorbox {
	width: 100%;
	background: url('./images/topline.png');
	height: 4px;
}
.popup3 .topline {
	background: #457d98; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #457d98 0%, #004d72 35%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#457d98), color-stop(35%,#004d72)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #457d98 0%,#004d72 35%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #457d98 0%,#004d72 35%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #457d98 0%,#004d72 35%); /* IE10+ */
	background: linear-gradient(135deg,  #457d98 0%,#004d72 35%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#457d98', endColorstr='#004d72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	padding: 15px 30px;

	border-bottom: 1px solid #588ea6;
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}
.popup3 .topline span {
	display: inline-block;
	width: 100px;
	padding-right: 15px;
}
.popup3 h1 {
	font-size: 36px;
	line-height: 1.2;
}
.popup3 .clear {
	clear: both;
}
.popup3 .footer {
	padding: 10px 85px 5px;
}
.popup3 .image-block.main {
	border-bottom: 1px solid #387289;
}
.popup3 .image-block .image-holder .main-image {
	max-width: 100%;
}
.popup3 .image-block .image-holder .as-seen-in {
	max-width: 590px;
}

.popup3 .image-block.main h1 {
	text-align: center;
	padding: 10px 120px 0;
	line-height: 1.25;
	text-shadow: 2px 2px rgba(0,0,0,0.3);
}
.popup3 .yes_button, .popup3 .no_button {
	text-decoration: none;
	color: white;
	float: left;
	width: 260px;
	margin: 20px;
	background-color: #85939a;
	text-align: center;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.popup3 .yes_button h2, .popup3 .no_button h2 {
	font-weight: normal;
	font-size: 36px;
	margin: 0;
	padding-top: 10px;
}
.popup3 .yes_button p, .popup3 .no_button p {
	font-size: 16px;
	text-shadow: 1px 1px rgba(0,0,0,0.3);
}
.popup3 .yes_button {
	background: #ff9b29;
}
.popup-dom-lightbox-wrapper .powered {
	clear: both;
	text-align: center;
	margin-top: 10px;
	padding-top: 0px;
	display: block;
}



.popup-dom-lightbox-wrapper .powered a {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
	color: #fff;
	font-size: 12px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
	display: block;
}