@font-face {
  font-family: 'Lato Light';
  src: url('Lato-Light.eot'); /* IE9 Compat Modes */
  src: url('Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lato-Light.woff') format('woff'), /* Modern Browsers */
       url('Lato-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lato-Light.svg#80d8021909d835b751af094d043ad177') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  300;
}
@font-face {
  font-family: 'Lato Light';
  src: url('Lato-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
       url('Lato-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lato-LightItalic.svg#7015aa8810c4a9d1026a85e4ddcdf7a4') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  300;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('Lato-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lato-Regular.svg#48e70b8825d557df57af3e4f7d4c31be') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato-Italic.eot'); /* IE9 Compat Modes */
  src: url('Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lato-Italic.woff') format('woff'), /* Modern Browsers */
       url('Lato-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lato-Italic.svg#51ac4eb0bc1817d276ca824c5353e08f') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lato-Bold.svg#eea591db52cf6ebc8992abb7621b9256') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}
@font-face {
  font-family: 'Lato';
  src: url('Lato-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('Lato-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Lato-BoldItalic.svg#030f5996dac0d7b15fbd4081adedf95b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}