/* =Responsiveness: Small Laptop
================================================== */

@media only screen and (min-width : 951px) and (max-width : 1160px) {

#outer-wrapper, #header-image .inner, #credits {width:920px;}
#header-wrapper .inner, #credits .inner, #social-media .inner {width:900px;}
#main-wrapper, #blog-wrapper, #freeworkouts {width:95%;}
#header-optin .inner, #med-benefits .inner, #cookbook .recipe .inner, #cookbook .recipebottom .inner {width:880px;}
#header a img {height: auto;width: 230px;}
#linkbar {margin-top: 3px;}
#linkbar a {font-size:12px;}
#linkbar ul li ul {padding-top: 28px;}
#social-media .inner {padding-top: 15px;}
#credits .left, #credits .right {float:none;text-align:center;}

#header-image.home .text {padding: 19px 29px;font-size:33px;line-height:33px;}
.mainlinks .body .box, .mainlinks .mind .box, .mainlinks .nourish .box {padding: 15px;min-width: 200px;font-size:31px;}
.mainlinks .body .box span, .mainlinks .mind .box span, .mainlinks .nourish .box span {font-size:25px;}
#homepage .video .video-area {width: 500px;}
#homepage .video .video-info {width: 355px; margin-top: 90px; font-size: 29px;line-height:27px;}
.home-about {padding: 55px 20px 70px;}
.home-about .left {width: 430px;}
.home-about .right {width: 415px;}
.home-about .right h2 {margin-top:0;}
.goodies li.goodie {width: 280px;margin-right: 10px;}

.about .left {width: 550px;}
.about .right {width: 300px;}

#header-image.onlinecoaching .text {font-size:41px;}

li.meditation {width:253px;}

.post h1 {letter-spacing: 0.08em;}

.onlineworkouts .left {width: 480px;}
.onlineworkouts .right {width: 380px;}

#cookbook .information .left {width: 550px;}
#cookbook ul.testimonials {margin-left: 15px;}
#cookbook li.testimonial {margin-right: 25px;width: 265px;}
#cookbook .recipebottom .left {width: 565px;}
#cookbook .recipebottom .right {width:310px;}
#cookbook .recipebottom a.buy {margin-top:0;}
#cookbook .recipebottom a.download {margin-top:5px;}

.post-48 .wpcf7 textarea {max-width: 93%;}
.post-48 .wpcf7 div {width: 100%;}
.post-48 .wpcf7 input[type="text"], .post-48 .wpcf7 input[type="email"] {width: 100%;}

.recipespage #post-wrapper, #post-wrapper, #freeworkouts #main-wrapper {width: 600px;}
#sidebar-wrapper {width: 200px;}
ul#menu-recipe-categories li {font-size:15px;}
ul.therecipes li {width: 187px; margin-right: 15px;}

.event .left {width: 560px;}
.event .right {width: 270px;}

#post-97 {padding:60px 20px;}

.praise li.baitem .right {width: 420px;}
.praise li.testimonial .right {width: 680px;}

.contact .right {width: 300px;}
.contact .left {width: 550px;}

#header-image.error .text {top: 29%;}

}


/* =Responsiveness: Tablet
================================================== */

@media only screen and (min-width : 768px) and (max-width : 950px) {

#outer-wrapper, #header-image .inner, #credits {width:720px;}
#header-wrapper .inner, #credits .inner, #social-media .inner {width:700px;}
#main-wrapper, #blog-wrapper, #freeworkouts {width:95%;}
#header-optin .inner, #med-benefits .inner, #cookbook .recipe .inner, #cookbook .recipebottom .inner, .single #main-wrapper {width:680px;}
#header-image img {margin-top:0;}
.moonray-form input[type="text"], .moonray-form input[type="email"] {width: 200px;}
#header a img {height: auto;width: 230px;}
#linkbar {margin-top: 3px;}
.mobile-menu {display:block;}
#social-media .inner {padding-top: 15px;}
#credits .left, #credits .right {float:none;text-align:center;}

#header-image.about .text span, #header-image.home .text span, #header-image.cookbook .text span, #header-image.mealguide .text span, #header-image.onlineworkouts .text span, #header-image.freeworkouts .text span, #header-image.onlinecoaching .text span, #header-image.meditations .text span, #header-image.praise .text span, #header-image.event .text span, #header-image.default .text span, #header-image.recipes .text span {font-size:24px;}
#header-image.about .text, #header-image.home .text, #header-image.cookbook .text, #header-image.mealguide .text, #header-image.onlineworkouts .text, #header-image.freeworkouts .text, #header-image.onlinecoaching .text, #header-image.meditations .text, #header-image.praise .text, #header-image.event .text, #header-image.default .text, #header-image.recipes .text {font-size: 29px;line-height: 29px;}

#header-image.home .text {padding: 19px 29px;top: 30%;left: 10%;}
.mainlinks .body .box, .mainlinks .mind .box, .mainlinks .nourish .box {padding: 15px;min-width: 200px;font-size:31px;}
.mainlinks .body .box span, .mainlinks .mind .box span, .mainlinks .nourish .box span {font-size:25px;}
.mainlinks .body .box, .mainlinks .mind .box {left: 12%;}
#homepage .video .video-area {width: 500px;float: none;margin: 0 auto;}
#homepage .video .video-info {width: 500px;margin-top: 20px; font-size: 29px;line-height:27px;text-align:center;}
.home-about .left, .home-about .right {width: 500px;float:none;margin:0 auto;}
.home-about .right h2 {margin: 20px 0;}
.goodies li.goodie {width: 220px;margin-right: 8px;}
.goodies li.goodie .text {top: 23%;}

#header-image.about .text {padding: 19px 26px; top: 38%;left: 35px;}
.about .left {width: 400px;}
.about .right {width: 250px;}

#header-image.onlinecoaching .text {font-size:37px;}

li.meditation {width:253px;}

.post h1 {letter-spacing: 0.08em;}

#header-image.freeworkouts .text {padding: 18px 28px; top: 29%; right: 5%;}

.onlineworkouts .left {width: 100%;float:none;}
.onlineworkouts .right {float:none;margin:0 auto;}

#cookbook .information .left {width:400px;}
#cookbook .information .right {width:250px;}
#cookbook .information .left a.buy {margin-bottom:10px;}
#cookbook ul.testimonials {margin-left: 15px;}
#cookbook li.testimonial {margin-right: 20px;width: 200px;}
#cookbook .recipebottom .left {width: 100%; float: none;}
#cookbook .recipebottom .right {width: 100%; float: none; text-align: center;}
#cookbook .recipebottom a.buy, #cookbook .recipebottom a.download {margin-top:0;}

.mealguide li.guide {width: 205px;}

.post-48 .wpcf7 textarea {max-width: 93%;}
.post-48 .wpcf7 div {width: 100%;}
.post-48 .wpcf7 input[type="text"], .post-48 .wpcf7 input[type="email"] {width: 100%;}

.recipespage #post-wrapper, #post-wrapper, #freeworkouts #main-wrapper {width: 440px;}
#sidebar-wrapper {width: 200px;}
ul#menu-recipe-categories li {font-size:15px;}
ul.therecipes li {width: 210px; margin-right: 15px;}
ul.therecipes li:nth-child(3n) {margin-right: 15px;}
ul.therecipes li:nth-child(2n) {margin-right: 0px;}

.event .left {width: 100%; float:none;}
.event .right {float:none;margin:0 auto;}

#post-97 {padding:60px 20px;}

.praise li.baitem .left {float:none;margin:0 auto 20px;}
.praise li.baitem .right {width: 550px;float:none;margin:0 auto;}
.praise li.testimonial .right {width: 500px;}
.praise li.testimonial .title {margin-top:0;}

.contact .right {width: 250px;}
.contact .left {width: 400px;}

#header-image.error .inner {position:relative;}
#header-image.error .text {color: #89abdd;position: relative;top: auto;right: auto;max-width: 100%;}


}


/* =Responsiveness: Small Tablet
================================================== */

@media only screen and (min-width : 581px) and (max-width : 767px) {

#outer-wrapper, #header-image .inner, #credits {width:540px;}
#header-wrapper .inner, #credits .inner, #social-media .inner {width:520px;}
#main-wrapper, #blog-wrapper, #freeworkouts {width:95%;}
#header-optin .inner, #med-benefits .inner, #cookbook .recipe .inner, #cookbook .recipebottom .inner, .single #main-wrapper {width:500px;}
#header-image img {margin-top:0;}
.moonray-form input[type="text"], .moonray-form input[type="email"] {width: 150px;}
.moonray-form .clear {margin-top:10px;}
.moonray-form input[type="submit"] {padding: 0 25px;}
#header a img {height: auto;width: 230px;}
#linkbar {margin-top: 3px;}
.mobile-menu {display:block;}
#social-media .inner {padding-top: 15px;}
#credits .left, #credits .right {float:none;text-align:center;}

#header-image.about .text span, #header-image.home .text span, #header-image.cookbook .text span, #header-image.mealguide .text span, #header-image.onlineworkouts .text span, #header-image.freeworkouts .text span, #header-image.onlinecoaching .text span, #header-image.meditations .text span, #header-image.praise .text span, #header-image.event .text span, #header-image.default .text span, #header-image.recipes .text span {font-size:20px;}
#header-image.about .text, #header-image.home .text, #header-image.cookbook .text, #header-image.mealguide .text, #header-image.onlineworkouts .text, #header-image.freeworkouts .text, #header-image.onlinecoaching .text, #header-image.meditations .text, #header-image.praise .text, #header-image.event .text, #header-image.default .text, #header-image.recipes .text {font-size: 25px;line-height: 25px;}

#header-image.home .text {padding: 15px 25px;top: 30%;left: 5%;}
#homepage .manifesto h2, .goodies h3 {font-size:34px;text-align:center;}
.mainlinks .body, .mainlinks .mind {width:100%;float:none;}
.mainlinks .body .box, .mainlinks .mind .box, .mainlinks .nourish .box {padding: 15px;min-width: 200px;font-size:31px;}
.mainlinks .nourish {overflow:hidden;}
.mainlinks .nourish .box {left: 22%;}
.mainlinks .nourish img {width: 150%;margin-left: -25%;}
.mainlinks .body .box span, .mainlinks .mind .box span, .mainlinks .nourish .box span {font-size:25px;}
#homepage .video .video-area {width: 500px;float: none;margin: 0 auto;}
#homepage .video .video-info {width: 500px;margin-top: 20px; font-size: 29px;line-height:27px;text-align:center;}
.home-about .left, .home-about .right {width: 500px;float:none;margin:0 auto;}
.home-about .right h2 {margin: 20px 0;}
.goodies {text-align:center;}
.goodies li.goodie {display:block;margin:0 auto 10px !important;}

#header-image.about .text {padding: 15px 19px; top: 48%; left: 20px;}
.about .left {width:100%;float:none;}
.about .right {float:none;margin:20px auto;}

li.meditation {width:230px;}
li.meditation:nth-child(3n) {margin-right:20px;}
li.meditation:nth-child(2n) {margin-right:0px;}

.post h1 {letter-spacing: 0.08em;}

#header-image.freeworkouts .text {padding: 18px 28px; top: 29%; right: 5%;}

.onlineworkouts .left {width: 100%;float:none;}
.onlineworkouts .right {float:none;margin:0 auto;}

#cookbook .information .left {width:100%; float:none;}
#cookbook .information .right {float:none;margin:30px auto 0;}
#cookbook .information .left a.buy {margin-bottom:10px;}
#cookbook ul.testimonials {margin-left: 15px;}
#cookbook li.testimonial {margin-right: 20px;width: 200px;}
#cookbook li.testimonial:nth-child(2n) {margin-right:0px;}
#cookbook .recipebottom .left {width:375px; float: none;margin:0 auto;}
#cookbook .recipebottom .right {width: 100%; float: none; text-align: center;}
#cookbook .recipebottom a.buy, #cookbook .recipebottom a.download {margin-top:0;}
#cookbook .recipebottom .left span {display:block;padding-right:0;}
#cookbook .recipebottom a.buy {margin-left:0;}

.text .ezcol-one-half, .page-body .ezcol-one-half {width:100% !important; float:none !important;}

.mealguide li.guide {margin-bottom:25px;}
.mealguide li.guide:nth-child(3n) {margin-right:15px;}
.mealguide li.guide:nth-child(2n) {margin-right:0px;}

.post-48 .wpcf7 textarea {max-width: 93%;}
.post-48 .wpcf7 div {width: 100%;}
.post-48 .wpcf7 input[type="text"], .post-48 .wpcf7 input[type="email"] {width: 100%;}

.recipespage #post-wrapper, #post-wrapper, #freeworkouts #main-wrapper {width: 500px;}
#sidebar-wrapper {float:none;margin:0 auto;clear:both;}
ul#menu-recipe-categories li {font-size:15px;}
ul.therecipes li {width: 240px; margin-right: 15px;}
ul.therecipes li:nth-child(3n) {margin-right: 15px;}
ul.therecipes li:nth-child(2n) {margin-right: 0px;}

.social-share {display:none;}
.social-share-mobile {display:block;}

.event .left {width: 100%; float:none;}
.event .right {float:none;margin:0 auto;}

#post-97 {padding:60px 20px;}

#header-image.praise .text {padding: 15px 25px;left: 18px;}
.praise li.baitem .left {float:none;margin:0 auto 20px;}
.praise li.baitem .right {width: 100%;float:none;margin:0 auto;}
.praise li.testimonial .right {width: 320px;}
.praise li.testimonial .title {margin-top:0;}

.contact .right {float:none;margin:30px auto 0;}
.contact .left {width: 100%;float:none;}

#header-image.error .inner {position:relative;}
#header-image.error .text {color: #89abdd;position: relative;top: auto;right: auto;max-width: 100%;}

}



/* =Responsiveness: Mobile Landscape
================================================== */


@media only screen and (min-width : 461px) and (max-width : 580px) {

#outer-wrapper, #header-image .inner, #credits {width:420px;}
#header-wrapper .inner, #credits .inner, #social-media .inner {width:400px;}
#main-wrapper, #blog-wrapper, #freeworkouts {width:95%;}
#header-image img {width:150%;margin-left:-25%;}
#header-optin .inner, #med-benefits .inner, #cookbook .recipe .inner, #cookbook .recipebottom .inner, .single #main-wrapper {width:380px;}
#header-image img {margin-top:0;}
.moonray-form input[type="text"], .moonray-form input[type="email"] {width: 150px;margin-bottom: 10px;}
#header a img {height: auto;width: 230px;}
#header {float:none;}
#linkbar {margin:10px auto 0; width:200px;float:none;}
.mobile-menu {display:block;}
#social-media .inner {padding-top: 15px;}
#credits .left, #credits .right {float:none;text-align:center;}

#header-image.about .text span, #header-image.home .text span, #header-image.cookbook .text span, #header-image.mealguide .text span, #header-image.onlineworkouts .text span, #header-image.freeworkouts .text span, #header-image.onlinecoaching .text span, #header-image.meditations .text span, #header-image.praise .text span, #header-image.event .text span, #header-image.default .text span, #header-image.recipes .text span {font-size:20px;}
#header-image.about .text, #header-image.home .text, #header-image.cookbook .text, #header-image.mealguide .text, #header-image.onlineworkouts .text, #header-image.freeworkouts .text, #header-image.onlinecoaching .text, #header-image.meditations .text, #header-image.praise .text, #header-image.event .text, #header-image.default .text, #header-image.recipes .text, #header-image.contact .text {font-size: 25px;line-height: 25px;}

#header-image.home .text {padding: 15px 25px;top: 30%;left: 5%;}
#homepage .manifesto h2, .goodies h3 {font-size:34px;text-align:center;}
.mainlinks .body, .mainlinks .mind {width:100%;float:none;}
.mainlinks .body .box, .mainlinks .mind .box, .mainlinks .nourish .box {padding: 15px;min-width: 200px;font-size:31px;}
.mainlinks .nourish {overflow:hidden;}
.mainlinks .nourish .box {left: 22%;}
.mainlinks .nourish img {width: 150%;margin-left: -25%;}
.mainlinks .body .box span, .mainlinks .mind .box span, .mainlinks .nourish .box span {font-size:25px;}
#homepage .video .video-area {width: 100%;float: none;margin: 0 auto;}
#homepage .video .video-info {width: 100%;margin-top: 20px; font-size: 29px;line-height:27px;text-align:center;}
.home-about .left, .home-about .right {width: 100%;float:none;margin:0 auto;}
.home-about .right h2 {margin: 20px 0;}
.goodies {text-align:center;}
.goodies li.goodie {display:block;margin:0 auto 10px !important;}

#header-image.about .text {padding: 13px 17px;top: 68%;left: 7px;}
.about .left {width:100%;float:none;}
.about .right {float:none;margin:20px auto;}

#header-image.onlinecoaching .text {color:#ff5379;}

li.meditation {width:230px;margin-right:0px;}

.post {margin-bottom:70px;}
.post h1 {letter-spacing: 0.08em;font-size:25px;}
.post .post-body h1 {font-size:18px;}

#header-image.freeworkouts .text {padding: 15px 19px; top: 29%; right: 5%;}

#header-image.onlineworkouts .text {padding: 15px 22px;top: 60%;left: 24px;}
.onlineworkouts .left {width: 100%;float:none;}
.onlineworkouts .right {width:100%;float:none;margin:0 auto;}

#cookbook .information .left {width:100%; float:none;}
#cookbook .information .right {float:none;margin:30px auto 0;}
#cookbook .information .left a.buy {margin-bottom:10px;}
#cookbook ul.testimonials {margin: 60px 0 50px;}
#cookbook li.testimonial {margin-right: 20px;margin-bottom:30px;}
#cookbook li.testimonial:nth-child(2n) {margin-right:0px;}
#cookbook .recipebottom .left {width:375px; float: none;margin:0 auto;}
#cookbook .recipebottom .right {width: 100%; float: none; text-align: center;}
#cookbook .recipebottom a.buy, #cookbook .recipebottom a.download {margin-left:0;margin-top:10px;}
#cookbook .recipebottom .left span {display:block;padding-right:0;}

.text .ezcol-one-half, .page-body .ezcol-one-half {width:100% !important; float:none !important;}

#header-image.Isagenix img {width: 138%; margin-left: -10%;}

.mealguide li.guide {margin-bottom:25px;width:185px;}
.mealguide li.guide:nth-child(3n) {margin-right:15px;}
.mealguide li.guide:nth-child(2n) {margin-right:0px;}

.post-48 .wpcf7 textarea {max-width: 93%;}
.post-48 .wpcf7 div {width: 100%;}
.post-48 .wpcf7 input[type="text"], .post-48 .wpcf7 input[type="email"] {width: 100%;}

.recipespage #post-wrapper, #post-wrapper, #freeworkouts #main-wrapper {width: 100%;}
#sidebar-wrapper {float:none;margin:0 auto;clear:both;}
ul#menu-recipe-categories li {font-size:15px;}
ul.therecipes li {width: 185px; margin-right: 15px;}
ul.therecipes li:nth-child(3n) {margin-right: 15px;}
ul.therecipes li:nth-child(2n) {margin-right: 0px;}

.social-share {display:none;}
.social-share-mobile {display:block;}

.event .left {width: 100%; float:none;}
.event .right {float:none;margin:0 auto;}

#header-image.FAQ img {width: 135%;}

#post-97 {padding:60px 20px;}

#header-image.praise .text {padding: 15px 25px;left: 18px;top:66%;}
.praise li.baitem .left {float:none;margin:0 auto 20px;width:100%;}
.praise li.baitem .left img {width:185px;}
.praise li.baitem .right {width: 100%;float:none;margin:0 auto;}
.praise li.testimonial .left {float: none; margin: 0 auto 20px;}
.praise li.testimonial .right {width: 100%;float:none;}
.praise li.testimonial .title {margin-top:0;}

.contact .right {float:none;margin:30px auto 0;}
.contact .left {width: 100%;float:none;}

#header-image.error .inner {position:relative;}
#header-image.error .text {color: #89abdd;position: relative;top: auto;right: auto;max-width: 100%;}

}



/* =Responsiveness: Mobile Vertical
================================================== */


@media only screen and (max-width : 460px) {

#outer-wrapper, #header-image .inner, #credits {width:300px;}
#header-wrapper .inner, #credits .inner, #social-media .inner {width:280px;}
#header-image .inner {display:none;}
#main-wrapper, #blog-wrapper, #freeworkouts {width:95%;}
#header {float:none;}
#linkbar {margin:10px auto 0; width:200px;float:none;}
#header-image img {width:150%;margin-left:-25%;}
#header-optin .inner, #med-benefits .inner, #cookbook .recipe .inner, #cookbook .recipebottom .inner, .single #main-wrapper {width:280px;}
#header-image img {margin-top:0;}
.moonray-form input[type="text"], .moonray-form input[type="email"] {width: 250px;margin-bottom: 10px;}
#header a img {height: auto;width: 230px;}
.mobile-menu {display:block;}
#social-media .inner {padding-top: 15px;}
#credits .left, #credits .right {float:none;text-align:center;}

#header-image.about .text span, #header-image.home .text span, #header-image.cookbook .text span, #header-image.mealguide .text span, #header-image.onlineworkouts .text span, #header-image.freeworkouts .text span, #header-image.onlinecoaching .text span, #header-image.meditations .text span, #header-image.praise .text span, #header-image.event .text span, #header-image.default .text span, #header-image.recipes .text span {font-size:20px;}
#header-image.about .text, #header-image.home .text, #header-image.cookbook .text, #header-image.mealguide .text, #header-image.onlineworkouts .text, #header-image.freeworkouts .text, #header-image.onlinecoaching .text, #header-image.meditations .text, #header-image.praise .text, #header-image.event .text, #header-image.default .text, #header-image.recipes .text, #header-image.contact .text {font-size: 25px;line-height: 25px;}

#header-image.home .text {padding: 15px 25px;top: 30%;left: 5%;}
#homepage .manifesto h2, .goodies h3 {font-size:34px;text-align:center;}
.mainlinks .body, .mainlinks .mind {width:100%;float:none;}
.mainlinks .body .box, .mainlinks .mind .box, .mainlinks .nourish .box {padding: 15px;min-width: 200px;font-size:25px;left:12%;}
.mainlinks .nourish {overflow:hidden;}
.mainlinks .nourish img {width: 200%;margin-left: -50%;}
.mainlinks .body .box span, .mainlinks .mind .box span, .mainlinks .nourish .box span {font-size:20px;}
#homepage .video .video-area {width: 100%;float: none;margin: 0 auto;}
#homepage .video .video-info {width: 100%;margin-top: 20px; font-size: 29px;line-height:27px;text-align:center;}
.home-about .left, .home-about .right {width: 100%;float:none;margin:0 auto;}
.home-about .right h2 {margin: 20px 0;}
.goodies {text-align:center;}
.goodies li.goodie {display:block;margin:0 auto 10px !important;width:100%;}

#header-image.about .text {padding: 13px 17px;top: 68%;left: 7px;}
.about .left {width:100%;float:none;}
.about .right {float:none;margin:20px auto;width:100%;}

#header-image.onlinecoaching .text {color:#ff5379;}
.onlinecoaching .includes {width:100%;}

li.meditation {width:230px;margin-right:0px;}

.post {margin-bottom:70px;}
.post h1 {letter-spacing: 0.08em;font-size:25px;}
.post .post-body h1 {font-size:18px;}

#header-image.freeworkouts .text {padding: 15px 19px; top: 29%; right: 5%;}

#header-image.onlineworkouts .text {padding: 15px 22px;top: 60%;left: 24px;}
.onlineworkouts .left {width: 100%;float:none;}
.onlineworkouts .right {width:100%;float:none;margin:0 auto;}

#cookbook .information .left {width:100%; float:none;}
#cookbook .information .right {float:none;margin:30px auto 0;width:100%;}
#cookbook .information .left a.buy {margin-bottom:10px;}
#cookbook ul.testimonials {margin: 60px 0 50px;}
#cookbook li.testimonial {margin-right: 20px;margin-bottom:30px;width:200px;}
#cookbook li.testimonial:nth-child(2n) {margin-right:0px;}
#cookbook .recipebottom .left {width:100%; float: none;margin:0 auto;}
#cookbook .recipebottom .right {width: 100%; float: none; text-align: center;}
#cookbook .recipebottom a.buy, #cookbook .recipebottom a.download {margin-left:0;margin-top:10px;}
#cookbook .recipebottom .left span {display:block;padding-right:0;}

.text .ezcol-one-half, .page-body .ezcol-one-half {width:100% !important; float:none !important;}

#header-image.Isagenix img {width: 138%; margin-left: -10%;}

.mealguide li.guide {margin-bottom:25px;width:220px;margin-right:0px;}

.post-48 .wpcf7 textarea {max-width: 90%;}
.post-48 .wpcf7 div {width: 100%;}
.post-48 .wpcf7 input[type="text"], .post-48 .wpcf7 input[type="email"] {width: 100%;}

.recipespage #post-wrapper, #post-wrapper, #freeworkouts #main-wrapper {width: 100%;}
#sidebar-wrapper {float:none;margin:0 auto;clear:both;}
ul#menu-recipe-categories li {font-size:15px;}
ul.therecipes {text-align:center;}
ul.therecipes li {width: 220px; margin-right: 0px;}
ul.therecipes li:nth-child(3n) {margin-right: 0px;}
ul.therecipes li:nth-child(2n) {margin-right: 0px;}

.social-share {display:none;}
.social-share-mobile {display:block;}

.event .left {width: 100%; float:none;}
.event .right {float:none;margin:0 auto;width: 100%;}
.event .includes .text {padding: 15px 30px 25px;line-height: 1.5em;}

#header-image.FAQ img {width: 135%;}

#post-97 {padding:60px 20px;}

#header-image.praise .text {padding: 15px 25px;left: 18px;top:66%;}
.praise li.baitem .left {float:none;margin:0 auto 20px;width:100%;}
.praise li.baitem .left img {width:185px;}
.praise li.baitem .right {width: 100%;float:none;margin:0 auto;}
.praise li.testimonial .left {float: none; margin: 0 auto 20px;}
.praise li.testimonial .right {width: 100%;float:none;}
.praise li.testimonial .title {margin-top:0;}

.contact .right {float:none;margin:30px auto 0;width: 100%;}
.contact .left {width: 100%;float:none;}

#header-image.error .inner {position:relative;}
#header-image.error .text {color: #89abdd;position: relative;top: auto;right: auto;max-width: 100%;}


}