/*  -----------------------------------------------
Theme Name: Lori Harder
Author: Brandi Bernoskie
URL: coding.brandibernoskie.com
Description: A custom Wordpress theme designed by Rachel Pesso and developed by Brandi Bernoskie.
----------------------------------------------- */

body {
background:#464646;
margin:0 !important;
color:#464646;
font: normal 300 15px Oxygen, Helvetica, Arial, sans-serif;
text-align: left;
}

a {
color: #89aadd;
text-decoration:underline;
}
a:hover {
color:#ff5379;
}
a img {
border-width:0;
}

/*---------------------- Header ----------------------*/
#header-wrapper {
width:100%;
background: rgba(255,255,255,0.7);
text-align:center;
padding: 20px 0;
border-bottom:4px solid #2fa285;
position: relative;
z-index: 1200;
}

#header-wrapper .inner {
width: 1080px;
margin:0 auto;
}

#header {
float:left;
}

#header a img {
margin: 0px auto;
padding: 0px;
border: 0;
display:block;
height:34px;
width:317px;
}



/*---------------------- Navigation Bar ----------------------*/

#linkbar {
float:right;
text-align:right;
margin-top: 8px;
}

#linkbar ul {
margin: 0px;
padding: 0px;
list-style-type:none;
}

#linkbar li {
display: inline;
margin: 0px;
padding: 0px;
font: normal 700 14px Oxygen, Helvetica, Arial, sans-serif;
color:#000000;
position:relative;
}

#linkbar li:after {
content:'|';
padding-left:10px;
}

#linkbar li:last-child:after {
display:none;
}

#linkbar ul li ul {
position:absolute;
top:100%;
left:0;
padding:32px 0 0;
display:none;
text-align:left;
z-index: 1200;
min-width:100%;
}

#linkbar ul li:hover ul {
display:block;
}

#linkbar ul li ul li {
background:#2fa285;
padding:0 10px;
display:block;
}


#linkbar ul li ul li a {
padding: 0;
display: block;
width: auto;
white-space: nowrap;
line-height: 28px;
color:#ffffff;
}

#linkbar ul li ul li:after {
display:none;
}

#linkbar h2 {
display: none;
visibility: hidden;
}

#linkbar a {
margin: 0px;
padding: 0 0 0 10px;
width:100%;
text-decoration:none;
font: normal 700 14px Oxygen, Helvetica, Arial, sans-serif;
color:#000000;
text-transform: uppercase;
letter-spacing: 0.10em;
display: inline;
}

#linkbar a:hover, #linkbar li.current_page_item a, #linkbar li.current-menu-parent a {
color: #ff846c;
}

#linkbar li.current-menu-parent .sub-menu li.current_page_item a, #linkbar li.current-menu-parent .sub-menu a, #linkbar li.current_page_item .sub-menu a {
color:#ffffff;
}

#linkbar .sub-menu a:hover {
color: #FFAFA0 !important;
}

.jquery-responsive-select-menu {
margin: 0 auto;
padding: 0 0 0 10px;
width:100%;
text-decoration:none;
font: normal 700 14px Oxygen, Helvetica, Arial, sans-serif;
color:#000000;
text-transform: uppercase;
letter-spacing: 0.10em;
display: inline;
-webkit-appearance:none;
border:1px solid #000;
border-radius:0;
background:transparent;
outline:none;
text-align:center;
}

#social-media {
height:0;
position:relative;
overflow:visible;
z-index:1000;
}

#social-media .inner {
width:1080px;
margin:0 auto;
text-align:right;
padding-top:28px;
}

#social-media img {
height:25px;
width:auto;
margin:0 0 0 25px;
}

#social-media a:hover {
opacity:0.7;
}


/*---------------------- Outer-Wrapper ----------------------*/
#outer-wrapper {
margin:0 auto;
width: 1180px;
background:#ffffff;
}

#main-wrapper {
width: 1090px;
background:#ffffff;
margin:0 auto;
word-wrap: break-word;
}

.single #main-wrapper {
width:800px;
}

#blog-wrapper, #freeworkouts {
width: 1090px;
background:#ffffff;
margin:95px auto;
word-wrap: break-word;
}

#post-wrapper, #freeworkouts #main-wrapper {
width: 700px;
float:left;
}

.recipespage #post-wrapper, #freeworkouts #main-wrapper {
width: 760px;
}

#sidebar-wrapper {
width:265px;
float:right;
}

/*---------------------- Header ----------------------*/

#header-image {
width:100%;
position:relative;
overflow:hidden;
}

#header-image img {
width:100%;
height:auto;
margin-top: -92px;
}

#header-image .inner {
width:1180px;
margin:0 auto;
position:absolute;
top:0;
left:0;
height:100%;
}

/*---------------------- Newsletter Optin ----------------------*/
#header-optin {
background:#89abdd;
padding:20px 0 25px;
}

#header-optin.mealguide {
background:#ff846c;
}

#header-optin .inner {
width:1080px;
margin:0 auto;
color:#fff;
font:normal 700 16px/19px Oxygen, Helvetica, sans-serif;
letter-spacing:0.04em;
}

#header-optin .inner .text {
}

.moonray-form {
margin-top:20px;
}

.moonray-form input[type="text"], .moonray-form input[type="email"] {
font:normal 700 14px/35px Oxygen, Helvetica, sans-serif;
letter-spacing:0.04em;
color:#ff5379;
outline:none;
border:0;
border-radius:0;
background:#ffffff;
-webkit-appearance:none;
height:35px;
width:285px;
padding: 0 10px;
margin-right:5px;
}
#mc_embed_signup .mc-field-group, #mc_embed_signup .clear, .moonray-form-element-wrapper {
display:inline-block;
}

.moonray-form input[type="submit"] {
font:normal 700 15px/35px Oxygen, Helvetica, sans-serif;
letter-spacing:0.04em;
color:#ffffff;
outline:none;
border:0;
border-radius:0;
background:#ff5379;
-webkit-appearance:none;
height:35px;
padding: 0 40px;
}

.mealguide .moonray-form input[type="submit"] {
background:#89abdd;
}

.moonray-form input[type="submit"]:hover {
background:#82c7ae;
}


/*---------------------- Homepage ----------------------*/

#header-image.home .text {
background:#fff;
border:2px solid #ec5531;
text-align:left;
padding:24px 34px;
text-transform:uppercase;
font:normal 700 38px/38px Oxygen, Helvetica, sans-serif;
color:#ff5379;
display:inline-block;
position:absolute;
top:45%;
left:20%;
text-align:center;
}

#header-image.home .text span {
text-transform:lowercase;
font:normal 400 27px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
}

#homepage {
margin-top:45px;
}

#homepage .manifesto {
text-align:center;
margin-bottom:40px;
}

#homepage .manifesto h2 {
margin:0 0 30px;
color:#ff5379;
text-transform:uppercase;
font:normal 700 45px  Oxygen, Helvetica, sans-serif;
letter-spacing:0.12em;
}

#homepage .manifesto .text {
line-height:22px;
}

.signature {
font:normal 400 33px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
}

.asseen {
background:#ebebeb;
padding:25px 0;
}

.asseen #main-wrapper {
background:#ebebeb;
}

.asseen h3 {
text-align:left;
font:normal 700 18px/22px Oxygen, Helvetica, sans-serif;
color:#ff5379;
letter-spacing:0.08em;
text-transform:uppercase;
margin:0 0 20px;
}

.asseen .gallery img {
width:100%;
height:auto;
border:0;
}

.mainlinks .body {
width:50%;
float:left;
position:relative;
}

.mainlinks .body img, .mainlinks .mind img {
width:100%;
height:auto;
}

.mainlinks .body .box, .mainlinks .mind .box, .mainlinks .nourish .box {
background:rgba(50,137,120,0.8);
border:2px solid #ffffff;
position: absolute;
padding:25px;
min-width:270px;
top: 47%;
left: 22%;
font:normal 700 36px Oxygen, Helvetica, sans-serif;
color:#ffffff !important;
text-transform:uppercase;
letter-spacing:0.06em;
}

.mainlinks .nourish .box {
min-width: 200px;
top: 40%;
left: 40%;
}

.mainlinks .body .box span, .mainlinks .mind .box span, .mainlinks .nourish .box span {
font: normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
text-transform:lowercase;
display:block;
letter-spacing:0;
}

.mainlinks .mind {
width:50%;
float:right;
position:relative;
}

.mainlinks .nourish {
position:relative;
}

.mainlinks .nourish img {
width:100%;
height:auto;
}

#homepage .video {
background:#f6f6f6;
padding:60px 0;
}

#homepage .video #main-wrapper {
background:#f6f6f6;
}

#homepage .video .video-area {
float:left;
width:590px;
}

#homepage .video .video-area img {
width:100%;
height:auto;
}

#homepage .video .video-info {
float:right;
width:420px;
text-align:left;
margin-top:145px;
font:normal 700 34px/36px Oxygen, Helvetica, sans-serif;
color:#ff846c;
text-transform:uppercase;
letter-spacing:0.04em;
}

#homepage .video .video-info span {
display:block;
margin-top:20px;
text-transform:none;
font-size:18px;
}

.home-about {
padding:75px 0 110px;
}

.home-about .left {
width:480px;
float:left;
}

.home-about .left img {
width:100%;
height:auto;
}

.home-about .right {
width:535px;
float:right;
}

.home-about .right h2 {
font:normal 700 45px/45px Oxygen, Helvetica, sans-serif;
color:#ff5379;
text-transform:uppercase;
letter-spacing:0.04em;
margin:20px 0 35px;
text-align:left;
}

.home-about .right .read-more {
display:block;
background:#ff846c;
color:#fff;
font:normal 700 15px Oxygen, Helvetica, sans-serif;
text-transform:uppercase;
letter-spacing:0.04em;
padding:15px 0;
width:170px;
text-align:center;
}

#homepage .goodies {
background:#caf1e4;
padding:43px 0 73px;
}

#homepage .goodies #main-wrapper {
background:#caf1e4;
}

.goodies h3 {
text-align:left;
color:#60A18A;
font:normal 700 45px Oxygen, Helvetica, sans-serif;
text-transform:uppercase;
letter-spacing:0.04em;
margin:0 0 20px;
}

.goodies h3 span {
text-transform:lowercase;
font-size:18px;
display:block;
}

.goodies ul.thegoodies {
margin:0;
padding:0;
list-style:none;
}

.goodies li.goodie {
width:350px;
margin-right:16px;
display:inline-block;
vertical-align:top;
position:relative;
}

.goodies li.goodie:hover {
opacity:0.7;
}

.goodies li.goodie:nth-child(3n) {
margin-right:0;
}

.goodies .goodie img {
width:100%;
height:auto;
}

.goodies li.goodie .text {
position:absolute;
left:0;
width:100%;
top:45%;
font:normal 700 31px Oxygen, Helvetica, sans-serif;
text-transform:uppercase;
letter-spacing:0.04em;
text-align:center;
color:#ffffff;
}


/*---------------------- Cookbook ----------------------*/

#header-image.cookbook .text {
text-align:left;
text-transform:uppercase;
font: normal 700 45px/50px Oxygen, Helvetica, sans-serif;
color: #ffffff;
display: inline-block;
position: absolute;
top: 60%;
right: 10%;
}

#header-image.cookbook .text span {
text-transform:lowercase;
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
}

#cookbook {
margin-top:50px;
}

#cookbook .information .left {
float:left;
width:680px;
font:normal 300 15px/27px Oxygen, Helvetica, Arial, sans-serif;
color:#464646;
}

#cookbook .information .left h2 {
font:normal 700 40px/45px Oxygen, Helvetica, Arial, sans-serif;
text-transform:uppercase;
letter-spacing:0.06em;
text-align:left;
color:#61a78e;
margin:0 0 20px;
}

#cookbook .information .left h2 span {
font-weight:300;
display:block;
}

#cookbook .information .left h5 {
font:normal 300 15px/27px Oxygen, Helvetica, Arial, sans-serif;
color:#ff5379;
}

#cookbook .information .left .text {
width:555px;
max-width:100%;
}

#cookbook .information .right {
float:right;
width:310px;
}

#cookbook .information .right img {
width:100%;
height:auto;
}

#cookbook .information .left a.buy, #cookbook .information .left a.download {
display:inline-block;
background:#ff5379;
color:#f9fbff;
padding: 0 35px;
height: 50px;
font: normal 700 17px/50px Oxygen, Helvetica, Arial, sans-serif;
text-transform: uppercase;
margin-right: 15px;
letter-spacing: 0.02em;
}

#cookbook .information .left a.download {
background:#e7b718;
}

#cookbook .information .left a.buy:hover, #cookbook .information .left a.download:hover {
opacity:0.7;
}

#cookbook ul.testimonials {
margin: 90px 0 100px;
padding:0;
list-style:none;
text-align:center;
}

#cookbook li.testimonial {
display:inline-block;
width:270px;
margin-right:110px;
text-align:left;
}

#cookbook li.testimonial:nth-child(3) {
margin-right:0;
}

#cookbook li.testimonial img {
width:100px;
height:auto;
}

#cookbook li.testimonial .title {
color:#ff5379;
letter-spacing:0.04;
font:normal 700 17px/25px Oxygen, Helvetica, Arial, sans-serif;
margin:19px 0 20px;
}

#cookbook li.testimonial .mark1, #cookbook li.testimonial .mark2 {
color:#ff5379;
font:normal 400 38px/25px Oxygen, Helvetica, Arial, sans-serif;
}

#cookbook li.testimonial .mark1 {
position:absolute;
top:0;
left:-20px;
}

#cookbook li.testimonial .mark2 {
display: inline-block;
height: 20px;
vertical-align: bottom;
padding-left: 5px;
}

#cookbook li.testimonial .quote {
color:#525353;
font:normal 400 15px/21px Oxygen, Helvetica, Arial, sans-serif;
position:relative;
}

#cookbook li.testimonial .name {
color:#61a78e;
font:normal 400 15px/33px Oxygen, Helvetica, Arial, sans-serif;
margin-top:10px;
}

#cookbook .recipe {
background:#e2f2ec;
padding: 50px 0;
}

#cookbook .recipe .inner, #cookbook .recipebottom .inner {
width: 1090px;
margin:0 auto;
}

#cookbook .recipe h3 {
color:#61a78e;
font:normal 300 35px/35px Oxygen, Helvetica, sans-serif;
text-transform:uppercase;
letter-spacing:0.06em;
margin:0 0 20px;
text-align:left;
}

#cookbook .recipe h3 span {
font-weight:700;
}

#cookbook .recipe img {
width:100%;
height:auto;
}

#cookbook .recipe .text {
margin-top:30px;
font:normal 400 15px/22px Oxygen, Helvetica, sans-serif;
color:#000000;
}

#cookbook .recipebottom {
background:#82c7ae;
padding: 30px 0;
color:#ffffff;
font:normal 400 15px/20px Oxygen, Helvetica, sans-serif;
}

#cookbook .recipebottom .left {
width:615px;
float:left;
}

#cookbook .recipebottom .left span {
padding-right:40px;
}

#cookbook .recipebottom .right {
width:470px;
float:right;
}

#cookbook .recipebottom a.buy, #cookbook .recipebottom a.download {
display:inline-block;
background:#ff5379;
color:#f9fbff;
padding: 0 20px;
height: 50px;
font: normal 700 17px/50px Oxygen, Helvetica, Arial, sans-serif;
text-transform: uppercase;
margin-left: 10px;
letter-spacing: 0.02em;
margin-top: 25px;
}

#cookbook .recipebottom a.download {
background:#e7b718;
}

/*---------------------- Headings ----------------------*/

.page h1 {
margin:0 0 40px;
letter-spacing: 0.12em;
font: normal 700 40px Oxygen, Helvetica, Arial, sans-serif;
color: #61a78e;
text-transform: uppercase;
text-align: left;
}

.post h1 {
margin:0 0 40px;
letter-spacing: 0.12em;
line-height:1.4em;
font: normal 700 35px Oxygen, Helvetica, Arial, sans-serif;
color: #61a78e;
text-transform: uppercase;
text-align: left;
}

.post h1 a {
text-decoration:none;
color: #61a78e;
}

.post h3 a:hover {
color:#ddd;
}

h3.archive_head {
margin:0 0 40px;
letter-spacing: 0.12em;
line-height:1.4em;
font: normal 700 45px Oxygen, Helvetica, Arial, sans-serif;
color: #ff5379;
text-transform: uppercase;
text-align: left;
}

.page .page-body h3 {
font:normal 700 18px Oxygen, Helvetica, sans-serif;
color:#61a78e;
text-transform:uppercase;
margin: 35px 0 0px;
}

.page .page-body h4 {
font:normal 700 15px Oxygen, Helvetica, sans-serif;
color:#ff5379;
}

/*---------------------- Isagenix ----------------------*/

.post-48 .wpcf7 {
font:normal 400 13px Oxygen, Helvetica, sans-serif;
}

.post-48 .wpcf7 div {
display:inline-block;
width:170px;
}

.post-48 .wpcf7 .green {
color:#61a78e;
font-weight:700;
}

.post-48 .wpcf7 input[type="text"], .post-48 .wpcf7 input[type="email"] {
background:#dddddd;
border:0;
border-radius:0;
outline:none;
-webkit-appearance:none;
width:160px;
height:30px;
font:normal 400 13px/30px Oxygen, Helvetica, sans-serif;
}

.post-48 .wpcf7 textarea {
background:#dddddd;
border:0;
border-radius:0;
outline:none;
-webkit-appearance:none;
width:494px;
padding:10px 15px;
height:100px;
font:normal 400 13px/17px Oxygen, Helvetica, sans-serif;
}

.post-48 .wpcf7 input[type="submit"] {
background:#ff5379;
border:0;
border-radius:0;
outline:none;
-webkit-appearance:none;
width:115px;
height:30px;
color:#ffffff;
text-align:center;
text-transform:uppercase;
font: normal 700 15px/28px Oxygen, Helvetica, sans-serif;
float: right;
}

.post-48 .wpcf7 input[type="submit"]:hover {
background:#e7b718;
}

/*---------------------- Meal Guides ----------------------*/

#header-image.mealguide .text {
text-align:left;
text-transform:uppercase;
font: normal 700 45px/50px Oxygen, Helvetica, sans-serif;
color: #ffffff;
display: inline-block;
position: absolute;
top: 50%;
left: 150px;
}

#header-image.mealguide .text span {
text-transform:lowercase;
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
}

.mealguide .page-body {
max-width:900px;
}

.mealguide .pink {
color:#ff5379;
font-weight:700;
}

.mealguide .get {
color:#464646;
font-weight:700;
font-size:20px;
}

.mealguide ul.guides {
margin:35px 0;
padding:0;
list-style:none;
text-align:center;
}

.mealguide li.guide {
width:220px;
text-align:center;
color:#ffffff;
font:normal 700 15px/22px Oxygen, Helvetica, sans-serif;
letter-spacing:0.02em;
display:inline-block;
margin-right:15px;
}

.mealguide li.guide .footer {
height: 95px;
padding-top: 20px;
margin-top:10px;
}

.mealguide li.guide a {
color:#ffffff !important;
}

.mealguide li.guide:hover {
opacity:0.7;
}

.mealguide li.guide .buy {
margin-top:10px;
text-transform:uppercase;
}

.mealguide li.guide.green .footer {
background:#82c7ae;
}

.mealguide li.guide.yellow .footer {
background:#ff846c;
}

.mealguide li.guide.pink .footer {
background:#ff5379;
}

/*---------------------- Online Workouts ----------------------*/

#header-image.onlineworkouts .text {
background:#fff;
border:2px solid #ff846c;
text-align:left;
padding:24px 34px;
text-transform:uppercase;
font:normal 700 45px/48px Oxygen, Helvetica, sans-serif;
color:#ff5379;
display:inline-block;
position:absolute;
top:45%;
left:40px;
}

#header-image.onlineworkouts .text span {
text-transform:lowercase;
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
color:#61a78e;
}

.onlineworkouts .left {
width:555px;
float:left;
margin-top:40px;
}

.onlineworkouts .right {
width:472px;
float:right;
margin-top:40px;
}

.onlineworkouts .left h1 {
color:#61a78e;
letter-spacing:0.06em;
font: normal 700 40px/43px Oxygen, Helvetica, sans-serif;
text-transform:uppercase;
text-align:left;
margin-bottom: 20px;
}

.onlineworkouts .left h1.second {
letter-spacing:0.02em;
margin-top: 30px;
}

.onlineworkouts .left h1 span {
font-weight:300;
}

.onlineworkouts .left h4 {
font-size:20px;
color:#ff5379;
margin-bottom:0;
}

.onlineworkouts .left .joinnow {
background:#ff5379;
color:#ffffff;
padding:18px 15px;
font:normal 400 17px/22px Oxygen, Helvetica, sans-serif;
text-align:left;
display:inline-block;
}

.onlineworkouts .left .joinnow a {
color:#fff !important;
}

.onlineworkouts .left .joinnow:hover {
background:#61a78e;
}

.onlineworkouts .left .joinnow span.top {
font:normal 700 25px Oxygen, Helvetica, sans-serif;
letter-spacing:0.02em;
display:block;
text-transform:uppercase;
}

.onlineworkouts .right .box {
margin-top:25px;
}

.onlineworkouts .right .box .top {
background:#ff5379;
color:#ffffff;
font:normal 700 25px Oxygen, Helvetica, sans-serif;
text-transform:uppercase;
text-align:center;
padding:25px 0;
}

.onlineworkouts .right .box .bottom {
border-right:3px solid #ebebeb;
border-left:3px solid #ebebeb;
border-bottom:3px solid #ebebeb;
padding:10px 20px;
}

.onlineworkouts .right .box .bottom .pink {
color:#ff5379;
}

/*---------------------- Free Workouts ----------------------*/

#header-image.freeworkouts .text {
background:#fff;
border:2px solid #ff846c;
text-align:left;
padding:24px 34px;
text-transform:uppercase;
font:normal 700 40px/43px Oxygen, Helvetica, sans-serif;
color:#ff5379;
display:inline-block;
position:absolute;
top:45%;
right:10%;
}

#header-image.freeworkouts .text span {
text-transform:lowercase;
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
color:#61a78e;
}

#freeworkouts ul.freevideos {
margin:70px 0 0;
padding:0;
list-style:none;
}

#freeworkouts .post h1 {
margin-bottom:10px;
}

#freeworkouts.single {
margin:70px auto 0;
}

#freeworkouts li.video {
display:block;
margin-bottom:70px;
}

#freeworkouts li.video .title {
text-align:left;
text-transform:uppercase;
color:#61a78e;
font:normal 700 37px Oxygen, Helvetica, sans-serif;
margin-bottom:25px;
}

#freeworkouts .more-link {
display:none;
}

/*---------------------- Online Coaching ----------------------*/

#header-image.onlinecoaching .text {
text-align:left;
text-transform:uppercase;
font: normal 700 45px/50px Oxygen, Helvetica, sans-serif;
color: #ffffff;
display: inline-block;
position: absolute;
top:42%;
right:40px;
}

#header-image.onlinecoaching .text span {
text-transform:lowercase;
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
}

.onlinecoaching .video {
margin-bottom:55px;
}

.onlinecoaching h1 {
margin-bottom:20px;
}

.onlinecoaching .page-body {
max-width:930px;
}

.onlinecoaching span.green {
color:#61a78e;
font-weight:700;
}

.onlinecoaching .includes {
width:400px;
margin:45px 0;
}

.onlinecoaching .includes .top {
background:#ff5379;
padding:20px 0 10px;
text-align:center;
font:normal 700 28px Oxygen, Helvetica, sans-serif;
color:#ffffff;
letter-spacing:0.02em;
text-transform:uppercase;
}

.onlinecoaching .includes .top span {
font:normal 400 28px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
letter-spacing:0.1em;
display:block;
text-transform:lowercase;
}

.onlinecoaching .includes .text {
padding: 15px 35px 25px;
border-left: 2px solid #dddddd;
border-right: 2px solid #dddddd;
border-bottom: 2px solid #dddddd;
line-height: 1.5em;
}

.onlinecoaching .includes .text span.pink {
color:#ff5379;
font-weight:700;
}

.onlinecoaching .purchasebutton a {
background:#82c7ae;
color:#ffffff;
text-align:center;
padding:15px;
font:normal 700 16px Oxygen, Helvetica, sans-serif;
display:inline-block;
}

.onlinecoaching .purchasebutton a:hover {
background:#e7b718;
}


/*---------------------- Meditations Page ----------------------*/

#header-image.meditations .text {
text-align:left;
text-transform:uppercase;
font:normal 700 45px/48px Oxygen, Helvetica, sans-serif;
color:#ff5379;
display:inline-block;
position:absolute;
top:50%;
left:40px;
}

#header-image.meditations .text span {
text-transform:lowercase;
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
color:#ffffff;
letter-spacing:0;
}

.meditations .page-body {
text-align:center;
max-width:820px;
margin:0 auto;
}

.meditations .page-body p {
margin-bottom:40px;
}

.meditations .page-body span.pink {
font-size:23px;
font-weight:700;
color:#ff5379;
}

#med-benefits {
background:#82c7ae;
padding:30px 0;
margin:40px 0 0;
}

#med-benefits .inner {
width:1090px;
text-align:center;
margin:0 auto;
}

#med-benefits h3 {
font:normal 700 25px Oxygen, Helvetica, sans-serif;
color:#ffffff;
letter-spacing:0;
text-align:center;
text-transform:uppercase;
margin:0;
}

#med-benefits h3.bottom {
font-weight:300;
letter-spacing:0.04em;
}

#med-benefits .text {
color:#ffffff;
margin-top:30px;
line-height:22px;
}

.medquote {
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
color:#ff5379;
text-align:center;
}

.medquote span {
display:block;
font:normal 700 14px Oxygen, Helvetica, sans-serif;
text-transform:uppercase;
letter-spacing:0.1em;
}

ul.meddownloads {
padding:60px 0 20px;
margin:0 auto;
text-align: center;
list-style:none;
}

li.meditation {
display:inline-block;
width:260px;
margin-right:20px;
margin-bottom:40px;
text-align:left;
vertical-align:top;
}

li.meditation img {
width:100%;
height:auto;
}

li.meditation .headline {
font: normal 700 18px/25px Oxygen, Helvetica, sans-serif;
color:#000000;
margin:20px 0 15px;
}

li.meditation .description {
font: normal 400 15px/25px Oxygen, Helvetica, sans-serif;
color:#000000;
margin-bottom:20px;
}

li.meditation a {
background:#ff846c;
font:normal 700 15px/40px Oxygen, Helvetica, sans-serif;
color:#fdffff;
height:40px;
padding:0 20px;
text-transform:uppercase;
letter-spacing:0.08em;
display:inline-block;
}

li.meditation a:hover {
background:#89abdd;
}

/*---------------------- About Page ----------------------*/

#header-image.about .text {
background:#fff;
border:2px solid #ff846c;
text-align:left;
padding:24px 34px;
text-transform:uppercase;
font:normal 700 45px/48px Oxygen, Helvetica, sans-serif;
color:#ff5379;
display:inline-block;
position:absolute;
top:45%;
left:40px;
}

#header-image.about .text span {
text-transform:none;
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
color:#ff5379;
}

.about h1 {
color:#ff5379;
font:normal 700 45px Oxygen, Helvetica, sans-serif;
text-transform:uppercase;
letter-spacing:0.1em;
margin:0 0 10px;
}

.about .left {
width:730px;
float:left;
}

.about .left  p {
margin-bottom:20px;
}

.about .left  p.pink {
color:#ff5379;
font-weight:700;
}

.about .right {
float:right;
width:320px;
}

.about .right img {
width:100%;
height:auto;
margin-bottom:40px;
}

.about .magazines {
margin:20px 0;
}

.about .bio h3 {
font:normal 700 15px Oxygen, Helvetica, sans-serif;
color:#ff5379;
text-transform:uppercase;
}

.about .bio .text {
max-width:740px;
}

/*---------------------- Praise Page ----------------------*/

#header-image.praise .text {
background:#fff;
border:2px solid #ff846c;
text-align:left;
padding:24px 34px;
text-transform:uppercase;
font:normal 700 45px/48px Oxygen, Helvetica, sans-serif;
color:#ff5379;
display:inline-block;
position:absolute;
top:45%;
left:40px;
}

#header-image.praise .text span {
text-transform:none;
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
color:#ff5379;
}

#main-wrapper.praise {
padding:60px 0;
}

.praise ul.beforeafter {
margin:0;
padding:0;
list-style:none;
}

.praise li.baitem {
margin-bottom:20px;
}

.praise li.baitem .left {
width:435px;
float:left;
}

.praise li.baitem .left img {
width:200px;
height:auto;
margin-right:7px;
}

.praise li.baitem .right {
width:620px;
float:right;
}

.praise li.baitem .title {
text-transform:uppercase;
font:normal 700 35px/35px Oxygen, Helvetica, sans-serif;
color:#ff5379;
letter-spacing:0.02em;
margin:0;
}

.praise li.baitem .text {
color:#464646;
font:normal 300 15px/22px Oxygen, Helvetica, sans-serif;
text-align:left;
margin:20px 0 0;
}

.praise ul.testimonials {
margin:0;
padding:0;
list-style:none;
}

.praise li.testimonial {
margin-bottom:45px;
}

.praise li.testimonial .left {
width:155px;
float:left;
}

.praise li.testimonial .left img {
width:100%;
height:auto;
border-radius: 85px;
}

.praise li.testimonial .right {
width:880px;
float:right;
}

.praise li.testimonial .title {
text-transform:uppercase;
font:normal 700 15px Oxygen, Helvetica, sans-serif;
color:#ff5379;
letter-spacing:0.02em;
margin:25px 0 0;
}

.praise li.testimonial .text {
color:#464646;
font:normal 300 15px/24px Oxygen, Helvetica, sans-serif;
text-align:left;
margin:15px 0 0;
}

.praise .border {
border-top:1px solid #ff5379;
margin:70px 0;
}

/*---------------------- Events Page ----------------------*/

#header-image.event .text {
text-align:left;
font:normal 700 45px/48px Oxygen, Helvetica, sans-serif;
color:#ff5478;
display:inline-block;
text-transform:uppercase;
position:absolute;
top: 66%;
right: 30px;
}

#header-image.event .text span {
text-transform:none;
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
}

#main-wrapper.event {
margin:0px auto;
padding:0 0 70px;
}

.event h1 {
font:normal 700 35px/33px Oxygen, Helvetica, sans-serif;
color:#ff5379;
letter-spacing:0.02em;
text-transform:uppercase;
max-width:560px;
text-align:left;
margin:0;
}

.event .left {
width:690px;
float:left;
margin-top:25px;
}

.event .right {
width:345px;
float:right;
margin-top: 9px;
}

.event .right img {
width:100%;
height:auto;
}

.event .details strong {
color:#ff5379;
font-weight:700;
}

.event .details a {
color:#61a78e;
}

.event .buynow {
display:inline-block;
}

.event .buynow a {
background:#e7b718;
color:#ffffff;
text-align:center;
padding:20px 30px;
font:normal 700 20px Oxygen, Helvetica, sans-serif;
letter-spacing:0.02em;
display:inline-block;
text-transform:uppercase;
}

.event .buynow a:hover {
background:#82c7ae;
}

.event .purchase .details {
display:inline-block;
margin-left:20px;
vertical-align:middle;
}

.event .includes {
margin:35px 0;
max-width:690px;
}

.event .includes .top {
background:#ff5379;
padding:20px 0 10px;
text-align:center;
font:normal 700 28px Oxygen, Helvetica, sans-serif;
color:#ffffff;
letter-spacing:0.02em;
text-transform:uppercase;
}

.event .includes .text {
padding:15px 45px 25px;
border-left:2px solid #dddddd;
border-right:2px solid #dddddd;
border-bottom:2px solid #dddddd;
line-height:2em;
}

.event .includes .text span.pink {
color:#ff5379;
font-weight:700;
}

/*---------------------- Contact Page ----------------------*/

#header-image.contact .text {
text-align:center;
font:normal 700 45px/48px Oxygen, Helvetica, sans-serif;
color:#ffffff;
display:inline-block;
text-transform:uppercase;
position:absolute;
bottom:13%;
left:40px;
}

.contact .left {
float:left;
width:645px;
}

.contact .right {
float:right;
width:370px;
}

.contact h1 {
font:normal 700 35px Oxygen, Helvetica, sans-serif;
color:#000000;
text-transform:uppercase;
text-align:left;
letter-spacing:0.02em;
width:550px;
max-width:100%;
margin-bottom:10px;
}

.contact img {
width:100%;
height:auto;
}

.contact img.ajax-loader {
width:auto;
}

.contact {
font:normal 700 15px Oxygen, Helvetica, sans-serif;
}

.contact .wpcf7 input[type="text"], .contact .wpcf7 input[type="email"] {
background:#dddddd;
border:0;
border-radius:0;
outline:none;
-webkit-appearance:none;
padding:0 15px;
height:35px;
color:#000000;
font:normal 700 13px/35px Oxygen, Helvetica, sans-serif;
width: -moz-calc(100% - 30px);
width: -webkit-calc(100% - 30px);
width: calc(100% - 30px);
}

.contact .wpcf7 input::-webkit-input-placeholder {color:#000000;}
.contact .wpcf7 input:-moz-placeholder {color:#000000;}
.contact .wpcf7 input::-moz-placeholder {color:#000000;}
.contact .wpcf7 input:-ms-input-placeholder {color:#000000;}

.contact .wpcf7 textarea::-webkit-input-placeholder {color:#000000;}
.contact .wpcf7 textarea:-moz-placeholder {color:#000000;}
.contact .wpcf7 textarea::-moz-placeholder {color:#000000;}
.contact .wpcf7 textarea:-ms-input-placeholder {color:#000000;}

.contact .wpcf7 textarea {
background:#dddddd;
border:0;
border-radius:0;
outline:none;
-webkit-appearance:none;
width: -moz-calc(100% - 30px);
width: -webkit-calc(100% - 30px);
width: calc(100% - 30px);
padding:15px;
height:200px;
font:normal 700 13px/18px Oxygen, Helvetica, sans-serif;
}

.contact .wpcf7 input[type="submit"] {
background:#e7b718;
border:0;
border-radius:0;
outline:none;
-webkit-appearance:none;
width:155px;
height:38px;
color:#ffffff;
text-align:center;
text-transform:uppercase;
font: normal 700 15px/35px Oxygen, Helvetica, sans-serif;
float: right;
}

.contact .wpcf7 input[type="submit"]:hover {
background:#ff5379;
}

.collapseomatic {
background-image:url(images/plus.png) !important;
font-weight: 700;
background-position: 0px 6px;
}

.colomat-close {
background-image:url(images/minus.png) !important;
background-position: 0px 6px;
}
.collapseomatic_content {
margin-bottom:20px;
}

/*---------------------- Default Page ----------------------*/

#header-image.default .text {
text-align:left;
text-transform:uppercase;
font: normal 700 45px/50px Oxygen, Helvetica, sans-serif;
color: #000000;
display: inline-block;
position: absolute;
top:45%;
}

#header-image.default .text span {
text-transform:lowercase;
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
}

#header-image.default.white .text {
color:#ffffff;
}

#header-image.default.pink .text {
color:#ff5379;
}

#header-image.default.left .text {
top:45%;
left:40px;
}

#header-image.default.right .text {
top: 35%;
right: 20px;
}

#header-image.default.center .text {
top: 45%;
left:30%;
}

/*---------------------- Thank You ----------------------*/

#header-image.thankyou .text {
text-align:center;
font:normal 700 45px/48px Oxygen, Helvetica, sans-serif;
color:#ffffff;
display:inline-block;
position:absolute;
top:46%;
right:40px;
}

#header-image.thankyou .text span {
font:normal 400 15px/19px Oxygen, Helvetica, sans-serif;
display:block;
}

/*---------------------- 404 ----------------------*/

#header-image.error .text {
text-align: center;
font: normal 700 85px/78px Oxygen, Helvetica, sans-serif;
color: #ffffff;
display: inline-block;
position: absolute;
top: 47%;
right: 40px;
max-width:520px;
}

#header-image.error .text span {
font:normal 400 20px/24px Oxygen, Helvetica, sans-serif;
display:block;
}


/*---------------------- Posts ----------------------*/
.page {
padding:60px 0;
margin: 0;
line-height:1.6em;
}

#post-109 {
padding:40px 0 0;
}

.post {
margin:0 0 125px;
padding: 0;
width: 100%;
line-height:1.6em;
}

.post-body {
margin:0;
line-height:1.6em;
text-align: left;
}

.page-body h2 {
color:#ff5379;
font:normal 700 27px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
}

.post-body h1 {
margin:0;
letter-spacing: 0.07em;
line-height:1.4em;
font: normal 700 20px Oxygen, Helvetica, Arial, sans-serif;
color: #ff846c !important;
text-transform: uppercase;
text-align: left;
}

.post-body h3 {
font:normal 700 18px Oxygen, Helvetica, sans-serif;
color:#61a78e;
text-transform:uppercase;
margin-bottom:0;
text-align:left;
letter-spacing:0.08em;
}

.social-share, .social-share-mobile {
margin-top: 30px;
display:block;
clear:both;
}

.social-share-mobile {
display:none;
}

.social-share span, .social-share-mobile span {
display:block;
font:normal 700 15px Oxygen, Helvetica, sans-serif;
color:#ff5478;
text-align:left;
text-transform:uppercase;
margin-bottom:15px;
}

.social-share div, .social-share-mobile div {
display:inline-block;
float:left;
padding-right:17px;
}

.social-share div img, .social-share-mobile div img {
height:23px;
width:auto;
}

.comment-link {
}

.post img, .page img {
margin-bottom:10px;
max-width:100%;
height:auto;
}

img.aligncenter {
display:block;
margin:0 auto 10px;
max-width:100%;
height:auto;
}

img.alignright {
display:inline-block;
padding-left:10px;
float:right;
max-width:100%;
height:auto;
}

img.alignleft {
display:inline-block;
padding-right:10px;
float:left;
max-width:100%;
height:auto;
}


a.more-link {
padding:3px 7px;
background: #d6d6d5; 
border:0; 
font: normal 400 10px Helvetica, Arial, sans-serif;
color: #fff; 
text-transform:uppercase;
letter-spacing:2px; 
outline:none;
border-radius:0;
-webkit-appearance:none;
margin:20px 0 0;
display:inline-block;
}
a:hover.more-link  { 
background: #C9C8C8;
}

/*---------------------- Recipes ----------------------*/

#header-image.recipes .text {
text-align:left;
font:normal 700 45px/48px Oxygen, Helvetica, sans-serif;
color:#ffffff;
display:inline-block;
position:absolute;
top:35%;
right:60px;
text-transform:uppercase;
letter-spacing:0.02em;
}

#header-image.recipes .text span {
font:normal 400 30px caflisch-script-pro, Oxygen, Helvetica, sans-serif;
display:block;
text-transform:none;
letter-spacing:0;
}

.recipespage h1 {
text-transform:uppercase;
font:normal 700 45px Oxygen, Helvetica, sans-serif;
color:#61a78e;
letter-spacing:0.12em;
text-align:left;
margin-top:0;
}

.recipespage ul.therecipes {
margin:0;
padding:0;
list-style:none;
}

ul.therecipes li {
display:inline-block;
width:235px;
margin-right:20px;
margin-bottom:60px;
vertical-align:top;
}

ul.therecipes li:nth-child(3n) {
margin-right:0;
}

ul.therecipes li .thumbnail {
margin-bottom:0;
}

ul.therecipes li h3 {
text-align:center;
font:normal 700 15px/18px Oxygen, Helvetica, sans-serif;
color:#000000;
text-transform:uppercase;
letter-spacing:0.08em;
}

ul.therecipes li h3 a {
color:#000000;
}

#sidebar-wrapper h2 {
background:#ff846c;
color:#ffffff;
font:normal 700 18px/43px Oxygen, Helvetica, sans-serif;
text-align:center;
text-transform:uppercase;
letter-spacing:0.12em;
min-height:43px;
margin:0;
}

#sidebar-wrapper ul#menu-recipe-categories {
margin:0;
padding:0;
list-style:none;
}

ul#menu-recipe-categories li {
background:#f4f3f3;
font:normal 700 18px/43px Oxygen, Helvetica, sans-serif;
color:#000000;
letter-spacing:0.12em;
text-align:center;
text-transform:uppercase;
min-height:43px;
}

ul#menu-recipe-categories li a, ul#menu-recipe-categories li:hover a {
color:#000000;
}

ul#menu-recipe-categories li:hover, ul#menu-recipe-categories li.current-menu-item, ul#menu-recipe-categories li.current-post-parent {
background:#ffffff;
}



/*---------------------- Page + Comment Navigation ----------------------*/

.blog-pager-newer-link a {
float: right;
font: normal 700 18px Oxygen, Helvetica, Arial, sans-serif;
color: #61a78e;
margin: 10px 0 40px;
letter-spacing:0.08em;
text-transform:uppercase;
}

.blog-pager-older-link a {
float: left;
font: normal 700 18px Oxygen, Helvetica, Arial, sans-serif;
color: #61a78e;
margin: 10px 0 40px;
letter-spacing:0.08em;
text-transform:uppercase;
}

.blog-pager-newer-link a:hover, .blog-pager-older-link a:hover {
color:#ff5379;
}

.navigation {
text-align: center;
}

 
/*---------------------- Footer, Credits, and Misc ----------------------*/

#credits {
padding: 35px 0;
margin:0 auto;
width: 1180px;
text-align: center;
display: block;
text-transform: uppercase;
font: normal 700 12px Oxygen, Helvetica, Arial, sans-serif;
color: #000000;
background:#f6f6f6;
}

#credits .inner {
width:1080px;
margin:0 auto;
}

#credits a {
color:#000000;	
}

#credits .left {
float:left;
}

#credits .right {
float:right;
}

img#wpstats {
display: none;
}

input#s {
  width:100%;
height:40px;
font-size:12px;
margin-top:15px;
margin-bottom:15px;
  border:1px solid #82c7ae;
}

input#searchsubmit {
  width:100%;
height:40px;
font-size:12px;
margin-top:15px;
margin-bottom:15px;
  border:1px solid #82c7ae;
}