/*-----------------------------------------------------------------------------------*/
/*  BLOG
/*-----------------------------------------------------------------------------------*/
.content-area .post-cat-comments, .content-area .post-title, .content-area .post-meta{
	margin-bottom:.5%;
}
.content-area .post-meta{
	font-size:1.6rem;
	margin-bottom:25px;
}
.content-area .read-more{
	text-align:center;
	margin:25px 0;
	padding-bottom:25px;
}
.content-area .read-more a{
	text-decoration:none;
}
.latest-posts{
	margin-top:90px;
	margin-bottom:90px;
}
.latest-post-img img{
}
.post{
	
}
.post-list{
	border-bottom: 1px solid #000;
	padding-bottom:25px;
	margin-bottom:25px;
}
.post-list:nth-of-type(6){
	border-bottom: none;
}
.vid-post.post-list:nth-of-type(5){
	border-bottom: none;
}
.post-title{
	color:$dkgrey;
	margin-top:20px;
	font-size: 2.5rem;
	font-family: $body;
	text-transform: uppercase;
	font-weight: 700;
}
a.post-title-link {
	 text-decoration:none;
	 letter-spacing:.025rem;
	 -webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.episode-title{
	color:#000;
	font-family: $headings;
	font-weight: 400;
	font-size: 2.6rem;
	margin:5px 0 -15px;
	display: block;
}
a.post-title-link:hover .episode-title{
	color:$accent;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.post-meta{
	color:$accent;
	text-transform: uppercase;
	font-size:1.6rem;
}
.post-meta a{
	text-decoration:none;
}
.post-meta a:hover{
	text-decoration: underline;
}
.post-date{
	text-transform: capitalize;
}
.post-cat-comments{
	font-size:1.4rem;
	letter-spacing:.01rem;
	margin-top:-2px;
}
.post-cat-comments a:hover{
	text-decoration:none;
}
.intro{
	margin-bottom:75px;
}
.tags a{
	text-decoration:none;
}
.pop-post-img img{
	opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.pop-post-img .episode-title{
	display:none;
}
.pop-post-img .post-title{
	text-align: center;
	color:#fff;
	font-family:$headings-italic;
	font-style: italic;
	font-size:1.6rem;
}
.pop-post-img h1.listen-text{
	color:#fff;
	font-family: $body;
	text-transform:uppercase;
	font-weight:300;
}
.pop-post-img .play-btn { 
	content: ""; 
	position: relative; 
	display: block; 
    background: url(_static/images/play-button.png) no-repeat 0 0; 
	background-size: contain;
    top: 50%; 
	left: 40%; 
	width: 75px; 
	height: 75px; 
	z-index: 30; 
	cursor: pointer;
	/*margin-top:40px;*/
} 
.pop-post-img .play-btn.vlog-play{
	width: 50px; 
	height: 50px;
	top: -15px !important;
	left: 43% !important;
}
.pop-post-img {
    position: relative;
    background-color:#000;
	overflow: hidden;
	transition: all .2s ease-in-out;
	cursor: pointer;
}
.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
	width: 100%;
    text-align: center;
}
.pop-post-img:hover img {
  opacity: 0.3;
	transform: scale(1.1);
}
.pop-post-img:hover .overlay {
  opacity: 1;
}

.subscribe-links{
	box-sizing:border-box;
	background-color: #000;
	padding:0px 35px;
	margin:25px 0;
	position: relative;
}
.subscribe-text{
	font-family:$script;
	font-size:5rem;
	color:#fff;
	float:left;
	margin:-15px 30px 25px 0;
}
.subscribe-buttons{
	position: relative;
	top: 50%;
  	transform: translateY(50%);
}
.subscribe-buttons .button{
	height:35px;
	border:none;
	background-color: #fff;
	line-height: 35px;
	margin-right:.5%;
	text-transform: none;
	min-width:245px;
}
.subscribe-buttons .button:hover{
	background-color:$dkgrey;
	color:#fff;
}
.single-post .subscribe-links{
	margin:15px 0;
}
.blog-header{
	margin: 0 auto -110px;
	background-position: top right;
}
.blog-header .hero-text-outer .hero-text .button{
	max-width:167px;
	min-width:167px;
	padding:0;
	height:50px;
	line-height:50px;
	font-size:1.5rem;
	letter-spacing: .06em;
}
.single-post-title{
	color:$dkgrey;
	font-size:4.0rem;
	font-family: $body;
	text-transform: uppercase;
	font-weight:700;
}
.single-post .post-body .episode-title{
	display:inline;
	color:#000;
	font-weight:300;
	font-family: $body;
	font-size:4.0rem;
}
.single-post .featured img{
	width:100%;
}
.single-post .post-content{
	margin-top:25px;
	font-size:1.6rem;
}
.single-post .post-content h3{
	font-size:2.5rem;
	font-family: $body;
	text-transform: uppercase;
}
.post-list .seven.columns{
	position:relative;
}
.post-text{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    height: 300px;
    width: 100%;
}
.category-podcast .hero-text, .single-post .hero-text{
	top:60%;
}
.category-podcast .instashow-gallery{
	display:none;
}

/*-----------------------------------------------------------------------------------*/
/*	BLOG SINGLE
/*-----------------------------------------------------------------------------------*/

.post-body {
    margin:0;
}
.blog-posts .post-preview{
	margin-bottom:0;
}
blockquote {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
blockquote p {
    font-style: italic;
	font-size: 2.7rem;
	font-weight:400;
	font-family:$headings;
	color:#000;
	line-height:normal;
	text-align: center;
}
.post-footer {
    text-transform: uppercase;
	font-size: 2.5rem;
	box-sizing:border-box;
}
.post-footer .share-title{
	margin-right:30px;
}
.post-footer a{
	color:#000;
}
.post-footer a:hover{
	color:$accent;
}
#pagination{
	margin:30px 0;
}
.nav-older{
	float:left;
}
.nav-newer{
	float:right;
}
.share-buttons div {
    display:inline-block;
    padding-right:10px;
}
.post img, .page img {
    max-width:100%;
    height:auto;
}
img.aligncenter {
    display:block;
    margin:0 auto 10px;
    max-width:100%;
    height:auto;
}
img.alignright {
    display:inline-block;
    padding-left:1.6%;
    float:right;
    max-width:100%;
    height:auto;
}
img.alignleft {
    display:inline-block;
    padding-right:1.6%;
    float:left;
    max-width:100%;
    height:auto;
}
h4.episode-text-heading{
	font-size:2.5rem;
	text-transform: uppercase;
	font-family: $body;
}
.additional-content{
	padding-left:2%;
}
.additional-content p, .additional-content ul{
	font-size:1.6rem;
}
.wp-post-navigation, .wp-post-navigation div a:after{
	display:none;
}
.wp-post-navigation-pre{
	padding-left:0 !important;
}
.wp-post-navigation-next{
	padding-right:0 !important;
}
.wp-post-navigation a, a.fasc-button{
	display: inline-block;
	height: 46px;
	padding: 0 45px;
	color: #fff;
	text-align: center;
	font-size: 1.6rem;
	font-family:$body;
	font-weight: 400;
	line-height: 46px;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	background-color: #000 !important;
	border: 1px solid #000 !important;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.wp-post-navigation a:hover, a.fasc-button:hover{
	background-color:$accent !important;
	border-color:$accent !important;
}

.recipe-posts.container{
	max-width:1172px;
}
.recipe-posts h4.single-post-title{
	color:#000;
	text-transform: none;
	font-weight:400;
	font-size: 3.0rem;
	letter-spacing: .03em;
}
.recipe-posts .post-content h3{
	font-weight:700;
	font-size:1.7rem;
	margin-bottom:1%;
}
.recipe-posts .wp-post-navigation{
	display:block;
}
.recipe-posts .sidebar h3{
	background-color:#000;
	color:#fff;
	font-family:$body;
	text-transform: uppercase !important;
	text-align:center !important;
	font-weight:400 !important;
	font-size:2.5rem !important;
	padding:15px 0;
	margin-bottom:0;
}
.recipe-posts .sidebar .menu-recipe-categories-container{
	text-align:center;
	background-color:$tan2;
	padding:35px 0;
	text-transform: uppercase;
	font-size:2.1rem;
	font-weight:300;
}
.recipe-posts .sidebar .menu-recipe-categories-container a{
	text-decoration: none;
	color:#000;
}
.recipe-posts .sidebar .menu-recipe-categories-container a:hover{
	color:$accent;
	font-weight:700;
}
.recipe-posts .sidebar .menu-recipe-categories-container li{
	margin-bottom:4%;
}
.recipe-posts .post-footer{
	float: right;
    width: 35%;
	margin-top:-2%;
}
.recipe-posts .content-area{
	width: 56.25%;
}
.recipe-posts .sidebar{
	 width: 35%;
}
.recipe-posts img{
	width:100%;
	margin-bottom:5%;
}
.recipe-list .post-text{
	transform: translate(0%, -3%) !important;
	left:0% !important;

}
.recipe-list .post-title{
	font-family:$headings;
	font-weight:400;
	color:#000;
}

.workout-vlog-vids{
	margin:0 auto 50px;
}
.workout-vlog-vids.container{
	max-width:880px;
}
.workout-vlog-vids h1.post-title.vid-title{
	font-size:4.0rem;
	font-weight: 300;
	margin:1% 0;
	color:#000;
}
.workout-vlog-vids a h1.post-title.vid-title{
	color:#000;
}
.workout-vlog-vids a:hover h1.post-title.vid-title{
	color:$accent;
}
.workout-vlog-vids .vid-post-excerpt{
	font-size:1.7rem;
}
.workout-vlog-vids .vid-post{
	margin-bottom:50px;
	display:block;
}
.category-healthy-minds .arve-wrapper{
	margin:0 auto 1.5em;
}
/*-----------------------------------------------------------------------------------*/
/*	ABOUT AUTHOR
/*-----------------------------------------------------------------------------------*/

#about_author{
	background-color:#f6f6f6;
	box-sizing:border-box;
	padding:30px 30px 5px;
	margin:25px 0;
}
#about_author img {
    float: left;
    height: 106px;
	border-radius:50%;
    margin-right:20px;
    padding: 10px;
    width: 106px;
}
.author_text h4{
	margin-bottom:0;
}
.author_text a{
	text-decoration:none;
	color:#152b52;
}


/*-----------------------------------------------------------------------------------*/
/*	SIDEBAR & WIDGETS
/*-----------------------------------------------------------------------------------*/

.widget{
	margin-bottom:30px;
	padding:0 0 10px;
	border-bottom:thin solid #ccc;
}
.widget ul{
	list-style:none;
}
.widget:last-child{
	border-bottom:none;
}
.aside .widget.social{
	padding-bottom:20px;
}
.aside .widget.social .social-title{  
	letter-spacing: .05rem;
}
.aside .widget.social a{
	font-size:1.8rem;
	margin-left:3%;
	text-decoration:none;
}
.aside .widget.social a:hover{
	color:#AE8231;
}
#search_form { 
	position: relative; 
}
#search_form input { 
	text-align: center;
	letter-spacing: .12rem;
	font-size:2.5rem;
	width:100%;
	height:45px;
	margin-bottom:10px;
	background-color:transparent;
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:1px solid #000;
}
#search_form .fa-search { 
  position: absolute;
  top: 23%;
  left: 10px;
  font-size: 18px;
}
#sidebar h3 {
    letter-spacing: .05rem;
	font-size:2.0rem;
    text-transform: lowercase;
    text-align: left;
}
.widget-subtitle{
	color:#ccc;
	font-style:italic;
	margin-top:-20px;
	margin-bottom:20px;
}

.cat-search{
	max-width:1035px;
	margin:0 auto 35px;
	border-bottom: 1px solid #000;
}
.cat-search .search-link{
	text-decoration: none;
	letter-spacing: .12rem;
    font-size: 2.5rem;
	color: #bfbfbf;
	text-transform: uppercase;
}
.cat-search input.empty{
	font-family: $body, FontAwesome;
	color:#bfbfbf;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
/*-----------------------------------------------------------------------------------*/
/*	RELATED POSTS
/*-----------------------------------------------------------------------------------*/
#related_posts .pop-post-img .play-btn{
	left:40%;
}
#related_posts h3{
	font-size:2.5rem;
	font-family: $body;
	text-transform: uppercase;
}
#related_posts ul{
	list-style:none;
}
#related_posts ul li{
	display:inline-block;
	padding:0;
	margin-right:1.5%;
	max-width: 206px;
	vertical-align:top;
}
#related_posts ul li:last-child{
	margin-right:0;
}
.relatedcontent h3{
	text-transform:none;
	font-size:1.6rem !important;
	text-align:center;
	 
	margin-bottom:0;
}
.relatedcontent h3 a{
	color:#000;
}
.relatedcontent h3 a:hover{
	text-decoration:none;
}
.related-vlogs{
	margin-top:25px;
}

/*-----------------------------------------------------------------------------------*/
/*	COMMENTS
/*-----------------------------------------------------------------------------------*/

#comments {
    clear: both;
	border-top:thin solid #b6ced1;
	padding-top:30px;
}

#comments h4 {
    margin:0 0 20px;
    letter-spacing: .05rem;
    line-height:1.4em;
	font-size:2.0rem;
    text-transform: uppercase;
    text-align: left;
}
.user{
	float: left;
    width: 75px;
    height: 75px;
	margin-right: 20px;
}
.user img{
	border-radius:50%;
}

#comments .message {
    overflow: hidden;
    padding: 0 20px 0 20px;
    position: relative;
}
#comments .message .reply-link {
    position: absolute;
    right: 20px;
    top: 20px;
    line-height: 1;
    font-size: 1.4rem;
    text-transform: lowercase;
}
#comments .message  .info {
    margin-bottom: 12px;
}
.comment-author{
	font-size:1.8rem;
	letter-spacing:.01rem;
}
.comment-time{
	letter-spacing:.01rem;
	font-size:1.4rem;
	text-transform:uppercase;
}
.comment-time a{
	color:#000;
}
.comment-time a:hover{
	color:#AE8231;
	text-decoration:none;
}
ul#comment-block {
    margin:0;
    padding-bottom:10px;
}

ul#comment-block li.comment {
    padding: 15px 0;
    list-style: none;
    overflow: hidden;
	border-bottom: 1px solid #ccc;
}

ul#comment-block li.comment ul.children {
    margin: 0 0 0 15%;
}
ul#comment-block li.comment ul.children li.comment {
    border-bottom: none;
    padding-bottom: 0;
    margin-top: 15px;
	border-top: 1px solid #ccc;
}



/*-----------------------------------------------------------------------------------*/
/*	COMMENT FORM
/*-----------------------------------------------------------------------------------*/

#respond {
    padding: 30px 0 0;
    clear: both;
    overflow: hidden;
}