/*-----------------------------------------------------------------------------------*/
/*  HEADER
/*-----------------------------------------------------------------------------------*/
#header-wrapper {
	width: 100%;
	background-color:rgba(253,233,224,.88);
	padding: 45px 0 40px;
	margin-bottom:50px;
	z-index: 1;
    position: relative;
}
header {	
}
.header-inner{
	padding:0 40px;
}
.logo {
	height: auto;
    width: 235px;
    max-width: 75%;
	float:left;
}
.hero-header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}
.hero-header{
	margin:0 auto -75px;
	z-index: 0;
	position:relative;
	top:-158px;
}
.hero-text-outer{
	position:relative;
}
.hero-text{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:100%;
}
.hero-text h1{font-size:6.0rem;margin-bottom:0;font-family: $hero-heading;}
.hero-text h2{font-size:5.6rem;margin-bottom:0;font-family: $hero-heading;}
.hero-text h3{font-size:5.0rem;margin-bottom:0;font-family: $hero-heading;}
.hero-text h4{font-size:4.4rem;margin-bottom:0;font-family: $hero-heading;}
.hero-text h5{font-size:3.8rem;margin-bottom:0;font-family: $hero-heading;}
.hero-text h6{font-size:3.5rem;margin-bottom:0;font-family: $hero-heading;}
.hero-text p{font-size:3.5rem;font-family: $headings;}

@media only screen and (max-width: 480px) {
	.hero-text-outer{
		max-width:100% !important;
		margin-left: 0 !important;
	}
	.hero-text h1{font-size:5.0rem;margin-bottom:0;}
	.hero-text h2{font-size:4.6rem;margin-bottom:0;}
	.hero-text h3{font-size:4.0rem;margin-bottom:0;}
	.hero-text h4{font-size:3.4rem;margin-bottom:0;}
	.hero-text h5{font-size:2.8rem;margin-bottom:0;}
	.hero-text h6{font-size:2.5rem;margin-bottom:0;}
	.hero-text p{font-size:2.0rem;}
	
}

/*-----------------------------------------------------------------------------------*/
/*  NAVIGATION
/*-----------------------------------------------------------------------------------*/
#linkbar {
	padding-top: 1px;
}
#linkbar ul {
	margin: 0px;
	padding: 0px;
	list-style-type:none;
}
#linkbar li {
	display: inline;
    margin: 0px;
    padding: 0 20px;
    position: relative;
}
@media only screen and (max-width: 1340px) {
	#linkbar li {
		padding: 0 20px;
	}
}
@media only screen and (max-width: 1280px) {
	#linkbar li {
		padding: 0 15px;
	}
}
@media only screen and (max-width: 1170px) {
	#linkbar li {
		padding: 0 10px;
	}
}

#linkbar li ul {
	display:none;
	top:100%;
	left:0;
	white-space: nowrap;
	position:absolute;
	background:#f6f6f6;
	padding:10px;
	z-index:1;
}
#linkbar li:hover ul {
	display:block;
}
#linkbar li ul li {
	display:block;
	margin:20px 0;
}
#linkbar a {
	padding: 0;
	text-decoration:none;
	color:#000;
	font-size:1.5rem;
	font-weight: 400;
	text-transform: none;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#linkbar a:hover {
	color: $accent;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#linkbar .current-menu-item a{
	color:$accent !important;
}
.nav-menu{
	float: none;
	text-align: center;
	padding-right:18.5%;
}
.menu-item-parent > a:after, .menu-item-has-children > a:after {
	font-family: 'FontAwesome';
    content: "\f0dd";
	font-size: 1.6rem;
	padding-left:5px;
}
.menu-social-links{
	position:absolute;
	right: 150px;
	top:45px;
}
.menu-social-links .social-link i{
	font-size:2.2rem;
	width:35px;
	text-align: center;
}


/* Slideout Nav */
#slideout-menu {
  background:rgba(000, 000, 000, 0.88);
  position:fixed;
  padding:90px 70px 100px 60px;
  top:0;
  right:-384px;
  min-width:384px;
  height:100vh;
  z-index:1000;
  /*max-height: calc(100vh - 195px);*/
  overflow-y: scroll;
}

  @media screen and (max-width:1023px) {
    #linkbar .menu-social-links, #linkbar a.cd-search-trigger {
    	display:none;
    }
	#linkbar .nav-menu {
    	padding-right:0;
    }
  }

#slideout-menu #nav-close {
  position: absolute;
  top: 46px;
  right: 46px;
  height:16px;
  width:16px;
}

.close-lines1 {
  width:25px;
  background-color:#fff;
  height:1px;
  transition:300ms ease all;
  -webkit-transition-delay: 400ms; /* Safari */
  transition-delay: 400ms;
  position:relative;
  top:8px;
  -ms-transform: rotate(-180deg); /* IE 9 */
  -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
  transform: rotate(-180deg);
}

.close-lines2 {
  display:block;
  width:25px;
  background-color:#fff;
  height:1px;
  transition:300ms ease all;
  -webkit-transition-delay: 400ms; /* Safari */
  transition-delay: 400ms;
  position:relative;
  top:7px;
}

#slideout-menu.open .close-lines1 {
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

#slideout-menu.open .close-lines2 {
  -ms-transform: rotate(-45deg); /* IE 9 */
  -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
  transform: rotate(-45deg);
}

#slideout-trigger {
  position:absolute;
  width:100px;
  height:30px;
  right:35px;
  top:45px;
	z-index: 1;
}

#slideout-bar {
  width:35px;
  height:1px;
  top:12px;
  background-color:#000;
  position:relative;
	right:-10px;
}

#slideout-bar:before {
  content:"";
  display:block;
  width:35px;
  height:1px;
  background-color:#000;
  position:relative;
  bottom:8px;
}

#slideout-bar:after {
  content:"";
  display:block;
  width:35px;
  height:1px;
  background-color:#000;
  position:relative;
  top:6px;
}
#slideout-menu li.mobile-margin{
	margin-bottom:25px;
}
#slideout-menu a {
  color:#fff;
  font-weight:400;
  font-size:1.7rem;
  text-transform: none;
  text-decoration: none;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#slideout-menu a:hover, #slideout-menu .yawp_wim_widget a:hover{
	color:$accent;
}
#slideout-menu .yawp_wim_widget{
	margin-top:15px;
}
#slideout-menu .yawp_wim_widget a {
	color:#fff;
	font-size:2.2rem;
	margin-right: 10px;
}
#slideout-menu .small a{
	font-size:1.4rem;
	font-weight:400;
}
#slideout-menu .small.first {
	margin-top:25px;
}
#slideout-menu #search_form .fa-search{
	color:#000;
}
#slideout-menu #search_form input{
	border:none;
	min-width:195px;
}
#slideout-menu ul {
  text-align:left;
	list-style: none;
}
#slideout-menu ul li{
  margin-bottom:4%;
}
#slideout-menu #main-nav-slideout {
  display:none;
}

#slideout-menu ul#menu-navigation-1 {
  margin-bottom:3em;
}

#slideout-menu ul#menu-slideout-menu {
  margin-bottom:235px;
}
.menu-text{
	float:right;
	font-style: italic;
	font-family: 'essonnes-text';
	font-weight:400;
	font-size:1.6rem;
}
@media screen and (max-width:1023px) {
  #slideout-menu ul#menu-slideout-menu {
    margin-bottom:135px;
  }
}

#slideout-menu li {
  margin-bottom:1em;
}

@media screen and (max-width:767px) {
  #slideout-menu {
    padding:85px 45px;
  }
  #slideout-menu li {
    margin-bottom:.5em;
  }
  #slideout-menu ul#menu-navigation-1 {
    margin-bottom:2em;
  }
  #slideout-menu ul#menu-slideout-menu {
    margin-bottom:45px;
  }
}

@media screen and (max-width:1090px) {
  nav, .menu-social-links {
    display:none;
  }
	#header-wrapper{
		padding: 20px 0 40px;
	}
	#slideout-trigger{
		top:18px;
	}
	#slideout-menu #main-nav-slideout {
  		display:block;
	}
	#slideout-menu a{
		font-size:2.0rem;
	}
}
@media screen and (max-width:480px) {
	.menu-text{
		display:none;
	}
	#slideout-trigger{
		right:0;
		width: 70px;
	}
	.header-inner{
		padding:0 20px;
	}
}

.search-link a:before{
	font-family: FontAwesome;
	content:'\f002';
	margin-right:10px;
}
/* -------------------------------- 
			Breadcrumbs 
-------------------------------- */
#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}
#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
#breadcrumbs li a{
	text-decoration:none;
}
#breadcrumbs li a:hover{
	color:#fff;
}
#breadcrumbs .separator{
    font-size:18px;
    font-weight:100;
    color:#ccc;
}

/*-----------------------------------------------------------------------------------*/
/*  FOOTER
/*-----------------------------------------------------------------------------------*/
.top-footer{
	box-sizing: border-box;
	padding:35px 0;
}
.top-footer .top-footer-left .one-quarter{
	float:left;
	width:25%;
}
.top-footer .top-footer-left .widget{
	border-bottom: none;
	margin-bottom:0;
}
.top-footer .top-footer-left h3, .top-footer .top-footer-left .social-title{
	font-size:1.5rem;
	font-family: $body;
	font-weight: 700;
	margin-bottom: 0;
	display: block;
}
.top-footer .top-footer-left .social-title{
	margin-bottom:8%;
}
.top-footer .top-footer-left a{
	color:#000;
	text-decoration: none;
}
.top-footer .top-footer-left a:hover{
	color:$accent;
}
.top-footer .top-footer-left a i{
	font-size: 2.2rem;
	margin-right:20px;
}
.top-footer .top-footer-left ul.menu li{
	margin-bottom: 0;
	line-height: normal;
}
.top-footer .top-footer-left ul.menu li a{
	color:#000;
	text-decoration: none;
	font-size: 1.2rem;
}
.top-footer .top-footer-left ul.menu li a:hover{
	text-decoration: underline;
	color:$accent;
}
.top-footer-optin-text.three.columns{
	width:27%;
}
.top-footer-optin-text h3{
	font-size: 3.0rem;
	font-style: italic;
	margin-bottom:0;
}
.top-footer-optin-text p{
	font-weight: 300;
	letter-spacing: .06em;
}
.top-footer .top-footer-form{
	max-width:245px;
	float:right;
}
.top-footer input[type="text"], .top-footer input[type="email"]{
	width:100%;
	background-color: transparent;
	border-bottom:2px solid #000;
	border-left:none;
	border-right:none;
	border-top:none;
	padding:0;
	height:25px;
	font-size: 1.2rem;
}
.top-footer .button, button, input[type="submit"]{
	width:100%;
	margin-top:15px;
	font-size: 1.5rem;
	height:40px;
	line-height: 40px;
	background-color: #000;
	color:#fff;
	letter-spacing: .06em;
}
#footer-mobile-menu,
#footer-mobile-menu ul,
#footer-mobile-menu ul li,
#footer-mobile-menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  text-align:center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#footer-mobile-menu #menu-footer-mobile-menu{
	border-bottom:1px solid #000;
}
#footer-mobile-menu {
  width: 100%;
	display:none;
}
#footer-mobile-menu ul ul {
  display: none;
}
#footer-mobile-menu .menu-item-parent>a:after, #footer-mobile-menu .menu-item-has-children>a:after{
	padding-left:0;
	content:'';
}
#footer-mobile-menu li.menu-item-has-children a {
  padding: 5px;
  cursor: pointer;
  z-index: 2;
  font-size: 1.5rem;
  font-weight: 700 !important;
  text-decoration: none;
  color: #000;
  border-top:1px solid #000;
}
#footer-mobile-menu > ul > li > a:hover,
#footer-mobile-menu > ul > li.active > a,
#footer-mobile-menu > ul > li.open > a,
#footer-mobile-menu li.menu-item-has-children a:hover{
  color: $accent;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
#footer-mobile-menu ul ul.sub-menu li a {
  cursor: pointer;
  line-height: 1.5;
  z-index: 1;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight:400 !important;
  color: #000;
  border-top:none;
}
#footer-mobile-menu ul ul li:hover > a,
#footer-mobile-menu ul ul li.open > a,
#footer-mobile-menu ul ul li.active > a {
  color: $accent;
  text-decoration: underline;
}
footer{
	background-color:$tan;
	padding: 25px 0 10px;
}
#credits {
	text-transform: none;
	color: #000;
	font-size:1.2rem;
	font-weight: 300;
}
#credits a {
	color:#000;
	text-decoration:none;
}
#credits a:hover {
	color:$accent;
}
#credits .footer-left {
	width:53%;
	text-align:left;
	text-transform: uppercase;
}
#credits .footer-right {
	width:30%;
	text-align:right;
}
#credits .footer-left .widget_nav_menu{
	display: inline;
	float:right;
	margin:0;
	padding: 0;
}
#menu-footer-menu li{
	display:inline;
	padding:0 20px;
}
@media only screen and (max-width: 1230px) {
	.top-footer-optin-text.three.columns {
		width: 23.8%;
	}
}
@media only screen and (max-width: 850px) {
	.top-footer-optin-text.three.columns, .top-footer .six.columns, .top-footer .three.columns {
		width: 100%;
		clear: both;
	}
	.top-footer-optin-text .widget{
		margin-bottom:0;
		margin-top:30px;
	}
	.top-footer .top-footer-form{
		max-width:100%;
		float:none;
	}
}
@media only screen and (max-width: 480px) {
	.top-footer .top-footer-left .one-quarter{
		width:50%;
	}
}

@media only screen and (max-width: 1200px) {
	#menu-footer-menu li {
    padding: 0 5px;
}
	#credits .footer-right {
    width: 40%;
	}
}
@media only screen and (max-width: 983px) {
	#credits .footer-left, #credits .footer-right, #credits .footer-left .widget_nav_menu {
	width:100%;
		float:none;
		text-align: center;
		margin-bottom:0;
	}
	#credits .footer-left .widget_nav_menu ul{
		margin-bottom:0;
	}
}