/*-----------------------------------------------------------------------------------*/
/*  HOME PAGE
/*-----------------------------------------------------------------------------------*/
.page-home .hero-header .hero-text{
	top:40%;
}
.page-home .hero-header .hero-text .button{
	margin-top:20px;
}
.video-section .vid-text{
		margin-top:-2%;
}
.video-section .vid-text .script-font{
	font-size:7.2rem;
}
.video-section .vid-text h1{
	margin-top:-20px;
	margin-bottom:40px;
	font-size: 2em;
}
.video-section .vid-text .button{
	margin-top:5%;
}
.video-container{ 
	max-width:850px; 
	margin:-55px auto 35px;
}
.video { 
	position: relative; 
	padding-bottom: 56.25%; /* 16:9 */ 
	height: 0;
	overflow: hidden;
}
.video img { 
	position: absolute; 
	display: block; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: auto;
	max-height: inherit;
	z-index: 20; 
	cursor: pointer; 
}
.video:after { 
	content: ""; 
	position: absolute; 
	display: block; 
    background: url(_static/images/play-button.png) no-repeat 0 0; 
	background-size: contain;
    top: 46.5%; 
	left: 46.5%; 
	width: 75px; 
	height: 75px; 
	z-index: 30; 
	cursor: pointer; 
} 
.video:hover:after {
	opacity:0.75;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease; 
}
.video iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	max-width:850px;
}
/* image poster clicked, player class added using js */
.video.player img { 
	display: none; 
}
.video.player:after { 
	display: none; 
}

.quick-links{
	margin-bottom:50px;
}
* { -webkit-box-sizing: border-box; box-sizing: border-box; }
figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	background: #fff;
	text-align: center;
	cursor: pointer;
}
figure img {
	position: relative;
	display: block;
	/*min-height: 100%;*/
	max-width: 100%;
	opacity: 0.5;
}
figure figcaption {
	padding: 2em;
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}
figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
figure h2,
figure p {
	margin: 0 0 -10px;
}
figure p {
	letter-spacing: .04em;
}
figure.effect-chico img {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
}
figure.effect-chico:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}
figure.effect-chico:hover h2{
	color:#fff;
	position: relative;
}
figure.effect-chico figcaption::before {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	left: 5px;
	background-color:rgba(0, 0, 0, 0.6);
	content: '';
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
figure.effect-chico p a{
	color:#fbe6e6;
	text-transform: uppercase;
	text-decoration: none;
	font-size:1.6rem;
}
figure.effect-chico figcaption::before,
figure.effect-chico p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.effect-chico h2 {
	padding: 20% 0 20px 0;
	font-family:$hero-heading;
	font-style: italic;
}
figure.effect-chico p {
	margin: 0 auto;
	max-width: 200px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.podcasts{
	max-height:495px;
	margin-left:-3px;
}
.podcasts h2.poppod-header{
	font-size:3.4rem;
	font-style: italic;
	color:$dkgrey;
	text-align: center;
}
.podcast{
	width:33.333%;
	min-height:538px;
	float:left;
	background-color:#000;
	background-size: cover;
	background-repeat: repeat;
	background-position: center center;
	position: relative;
}
.podcast:after {
    content: '';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.55);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.podcast .pod-title{
	box-sizing: border-box;
	text-transform: uppercase;
	text-align: center;
	font-size:1.8rem;
	background-color:$blush;
	padding:10px 0;
	width:100%;
	position: relative;
	z-index: 1;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a .podcast {
	color:$dkgrey;
}
.podcast{
	box-sizing: border-box;
	border-left: 3px #fff solid;
	border-right: 3px #fff solid;
}
.podcast:last-child{
	border-right: none;
}
.podcasts a:hover .podcast .pod-title{
	color:#fff;
	background-color:#000;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.podcasts a:hover .podcast:after{
	opacity:1;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.optin{
	box-sizing: border-box;
	padding:130px 0 55px;
}
.optin .script-font{
	font-size:10.2rem;
}
.optin p{
	font-size:3.9rem;
	font-family:$headings;
	line-height: 1.25;
	margin-top:-20px;
}
.optin #mc_embed_signup { border: none; text-align: center; width: 100%; margin-top:4%;}
.optin #mc_embed_signup .mc-field-group { display: inline-block; }
.optin #mc_embed_signup .clear { display: inline-block; }
.optin #mc_embed_signup input{font-size:1.4rem;}
.optin #mc_embed_signup input[type="submit"]{border-color:#fff;color:#fff;vertical-align: middle; background-color:$dkgrey;letter-spacing: .04em; margin-top:6px;height: 46px;}
.optin #mc_embed_signup input[type="submit"]:hover{background-color:$accent;}
.optin #mc_embed_signup input[type="text"],.optin #mc_embed_signup input[type="email"]{min-width:278px;border-color:#fff;}

@media only screen and (max-width: 480px) {
	.optin #mc_embed_signup .mc-field-group, .optin #mc_embed_signup .clear{
		display: block;
    min-width: 100% !important;
    width: 100%;
	}
	.optin #mc_embed_signup input{
		width:100%;
	}
}
.happenings-container{
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 515px;
}
.happenings-panel{
	box-sizing: border-box;
	padding:25px 60px;
	background-color:#fff;
	display:block;
	position: absolute;
	right:8px;
	top:8px;
	max-width:50%;
}
.happenings-panel h3{
	font-size:2.8rem;
	font-family: $body;
	text-transform: uppercase;
	letter-spacing: .06em;
}
.happenings-panel ul{
	list-style: none;
}
.happenings-panel ul li .event-title{
	text-transform: uppercase;
	letter-spacing: .06em;
}
.happenings-panel ul li .event-date{
	letter-spacing: .06em;
	margin-bottom:25px;
}
.happenings-panel ul li{
	border-bottom: 1px solid #000;
	padding:25px 0;
}
.happenings-panel ul li:last-child{
	border:none;
	padding-bottom:0;
}
.happenings-panel ul li:first-child{
	padding-top:0;
}
.happenings-panel ul li a{
	text-transform: uppercase;
	text-decoration: none;
	color:#000;
	font-weight: 700;
}
.happenings-panel ul li a:hover{
	color:$accent;
}

.social-stories{
	box-sizing: border-box;
	padding:35px 0;
}
.social-stories .ss-text .social-title{
	font-size:1.7rem;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.social-stories .ss-text p{
	font-size:1.6rem;
}
.social-stories .ss-text .button{
	padding:0 16px;
	margin-right:4%;
}
.social-stories .ss-text {
  position: relative;
  top: 0;
  transform: translateY(0);
}
.social-stories .social-text{
	width:35%;
}
.social-stories .social-img{
	float:right;
	width:60%;
}

/*-----------------------------------------------------------------------------------*/
/*  CONTACT PAGE
/*-----------------------------------------------------------------------------------*/
.page-contact .hero-text{
	top:65%;
}
.page-contact .instashow-gallery{
	display:none;
}
.contact-intro-section{
	max-width:1146px;
	margin:0 auto 50px;
	position: relative;
}
.contact-intro-section .script-font{
	font-size:7.2rem;
}
.contact-intro-section p{
	margin-top:-25px;
}
.contact-intro-section p a{
	text-decoration: none;
	font-weight: 700;
}
.contact-intro-section p a:hover{
	text-decoration: underline;
}
.contact-intro-section .contact-social-links{
	right:20px;
	margin-top:7%;
	position: absolute;
}
.contact-intro-section .contact-social-links a{
	color:#000;
	text-decoration: none;
	font-size: 3rem;
	margin-left: 20px;
}
.contact-intro-section .contact-social-links a:hover{
	color:$accent;
}
.contact-forms .tab {
    font-weight: 600;
    padding: 0;
    margin-left: 0;
    display: inline-block;
    background: transparent;
    border: none;
	top: 0;
	width:100%;
}
.contact-forms .tab button{
	max-width:32.5%;
	height:56px;
	font-size:1.4rem;
	line-height: 56px;
	padding:0;
	margin:10px .75% -1% 0;
}
.contact-forms .tab button:last-child{
	margin-right:0;
}
.contact-forms .tab button.active {
    background-color: #d373be;
	border-color:#d373be;
}
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*-----------------------------------------------------------------------------------*/
/*  ABOUT PAGE
/*-----------------------------------------------------------------------------------*/
.page-meet-lori .hero-header .hero-text{
	margin-top:.5%;
}
.page-meet-lori .hero-header .hero-text .button{
	margin-top:1.25%;
}
.dream-big{
	box-sizing: border-box;
	padding:40px 0 60px;
}
.dream-big .script-font{
	font-size:8.0rem;
}
.dream-big h1{
	max-width:425px;
}
.dream-big p{
	font-size:1.6rem;
	max-width:450px;
}
.dream-big p strong{
	margin-top:3%;
	display: inline-block;
}
.dream-big-img-one{
	float: right;
}
.dream-big-img-two{
	margin-top:-20%;
	position: relative;
	z-index: -1;
}
.dream-big-img-two img{
	max-width:100%;
}
.my-story .script-font{
	font-size:9.1rem;
	display: inline-block;
	margin-bottom: 2%;
}
.my-story p{
	max-width:950px;
	margin: 0 auto 2.5%;
}
.zines ul{
	list-style: none;
	text-align: center;
	margin:40px 0 30px;
}
.zines li{
	max-width: 15.33%;
	display: inline-block;
	margin: 0 .5%;
	box-sizing: border-box;
	text-align: center;
	transition: all .2s ease-in-out;
}
.zines li:hover{
    transform: scale(1.1);;
}
.zines li img{
	border:1px #ccc solid;
	min-height:200px;
	max-height:200px;
	box-shadow: 5px 5px 10px #ccc;
}
@media only screen and (max-width: 768px) {
	.zines li{
		width: 32.26%;
	}
}
@media only screen and (max-width: 480px) {
	.zines li{
		width: 100%;
	}
}
.logo-section ul{
	list-style: none;
	text-align: center;
	margin:10px 0 50px;
}
.logo-section li{
	max-width: 23.8%;
	display: inline-block;
	margin: 0 6%;
	box-sizing: border-box;
	text-align: center;
	transition: all .2s ease-in-out;
}
.logo-section li:hover{
    transform: scale(1.1);;
}
@media only screen and (max-width: 768px) {
	.logo-section li{
		width: 32.26%;
	}
}
@media only screen and (max-width: 480px) {
	.logo-section li{
		width: 100%;
	}
}

/*-----------------------------------------------------------------------------------*/
/*  PRODUCTS & RESOURCES PAGES
/*-----------------------------------------------------------------------------------*/
.page-products .hero-header {
    margin: 0 auto -105px;
}
.page-products .hero-header .hero-text .button, .page-resources .hero-header .hero-text .button{
	background-color: #fff;
	color:#000;
	border-color:#fff;
}
.page-resources .hero-header .hero-text{
	margin-top:7%;
}
.page-products .hero-header .hero-text .button:hover, .page-resources .hero-header .hero-text .button:hover{
	background-color: $accent;
	color:#fff;
	border-color:$accent;
}
.product{
	margin-bottom:20px;
}
.product-content {
	max-width:1138px;
	margin:0 auto 50px;
}
.product-content h1{
	font-size:5.0rem;
	margin-bottom:1%;
}
.product .image-text-section{
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;	
}
.product .image-text-section .image{
	width: 49%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	background-size: cover;
	background-position: center center;
	position: absolute;
}
.product .image-text-section .item-content{
	width: 51%;
	float: right;
	min-height: 37vw;
	background-color: #fff;
	border-top: 1px solid #000;
    border-bottom: 1px solid #000;
	border-right:  1px solid #000;
	padding:60px 60px 20px;
	box-sizing: border-box;
	text-align: center;
}
.product .image-text-section .item-content-inner {
  position: relative;
  top: 5%;
  transform: translateY(5%);
}
.product .image-text-section .item-content h1{
	font-size:4.5rem;
	margin-bottom:5%;
}
.product .image-text-section .item-content p{
	margin-bottom:5%;
}
.product .image-text-section .item-content .button{
	min-width:223px;
	height:44px;
	line-height: 44px;
}
@media only screen and (max-width: 767px) {
	.product .image-text-section .image{
	padding-top: 78vw;
    position: relative;
    width: 100%;
	}
	.product .image-text-section .item-content{
	float: none;
    padding: 30px 20px;
    width: 100%;
	}
}

/*-----------------------------------------------------------------------------------*/
/*  PROGRAMS PAGES
/*-----------------------------------------------------------------------------------*/
.page-programs .hero-text{
	top:60%;
}
.page-programs .hero-header {
    margin: 0 auto -105px;
}
.page-programs .hero-header .hero-text .button{
	background-color: #fff;
	color:#000;
	border-color:#fff;
}
.page-programs .hero-header .hero-text .button:hover{
	background-color: $accent;
	color:#fff;
	border-color:$accent;
}
.program {
	margin-bottom:25px;
}
.program-content {
	max-width:1185px;
	margin:0 auto 50px;
}
.program-content h1{
	font-size:5.0rem;
	margin-bottom:1.5%;
}
.program .image-text-section{
	overflow-y: hidden;
	overflow-x: hidden;
	position: relative;	
}
.program .image-text-section .image{
	width: 64.75%;
	height: 100%;
	top: 0px;
	bottom: 0px;
	background-size: cover;
	background-position: center center;
	position: absolute;
}
.program .image-text-section .item-content{
	width: 35.25%;
	min-height: 39.5vw;
	padding:60px 60px 20px;
	box-sizing: border-box;
	text-align: center;
}
.program .image-text-section .item-content-inner {
  position: relative;
  top: 0%;
  transform: translateY(0%);
}
.program .image-text-section .item-content h1{
	font-size:7.2rem;
	font-family: $script;
	color:#fff;
	margin-bottom:-10px;
}
.program .image-text-section .item-content h4{
	font-size:2.5rem;
	font-family: $body;
	color:#fff;
	text-transform: uppercase;
	margin-bottom:50px;
	font-weight:700;
}
.program .image-text-section .item-content p{
	margin-bottom:5%;
	color:#fff;
	font-weight:300;
}
.program .image-text-section .item-content .button{
	min-width:228px;
	height:43px;
	line-height: 43px;
	margin-top:25px;
}
.program .image-text-section .item-content .button:hover{
	background-color:$accent !important;
	border-color:$accent !important;
	color:#fff !important;
}

.program.odd .image-text-section .item-content .button{
	background-color:#fff;
	border-color:#fff;
	color:#000;
}
.program.odd .image-text-section .item-content{
	background-color: #000;
	float: right;
}
.program.odd .image-text-section .image{
	left: 0px;
}

.program.even .image-text-section .item-content{
	float: left;
	background-color: $pink;
}
.program.even .image-text-section .image{
	right: 0px;
}
.program.even .image-text-section .item-content h1, .program.even .image-text-section .item-content h4, .program.even .image-text-section .item-content p{
	color:#000;
}
.program.even .image-text-section .item-content h1{
	margin-bottom:0;
}

@media only screen and (max-width: 767px) {
	.program .image-text-section .image{
	padding-top: 78vw;
    position: relative;
    width: 100%;
	}
	.program .image-text-section .item-content{
	float: none;
    padding: 30px 20px;
    width: 100%;
	}
}

/*-----------------------------------------------------------------------------------*/
/*  404 PAGE
/*-----------------------------------------------------------------------------------*/
.error404 .instashow-gallery{
	display:none;
}
.error404 .hero-header{
	margin: 0 auto -140px;
}
.error404 .hero-text h1{
	font-size:5.6rem;
}

/*-----------------------------------------------------------------------------------*/
/*  MEAL GUIDES PAGE
/*-----------------------------------------------------------------------------------*/
.page-meal-guides .hero-text{
	top:60%;
}
.page-meal-guides .instashow-gallery{
	display:none;
}
.page-meal-guides .hero-header {
    margin: 0 auto -120px;
}
.page-meal-guides .hero-text h1 {
    font-size: 5.6rem;
}
.page-meal-guides .hero-text .button{
	background-color: #fff;
	border-color: #fff;
	color:#000;
}
.page-meal-guides .hero-text .button:hover{
	background-color: $accent;
	border-color: $accent;
	color:#fff;
}
.meal-guide-content .container, .meal-guides .container{
	max-width:1200px;
}
.meal-guide-content p{
	font-size:1.6rem;
	line-height: 1.75;
}
.meal-guide-content h1{
	text-transform:uppercase;
	font-family:$body;
	font-size:5.5rem;
	font-weight:700;
	letter-spacing: 0.02em;
	margin-bottom: 0;
}
.meal-guide-content h5{
	font-size:2.2rem;
}
.meal-guide-content h4{
	font-size:2.5rem;
	font-family:$body;
}
.meal-guide-content ul{
	margin:-15px 0 30px 20px;
	line-height: normal;
	font-size:1.6rem;
}
.meal-guide-content li:before {
    content: "+";
    margin-right: 10px;
	list-style-position: outside;
	margin-left: -1em;
}
.meal-guide-content .eight.columns{
	width: 60%;
}
.meal-guide-content .four.columns{
	width: 36%;
	float:right;
}
.meal-guides{
	margin:40px 0;
}
.meal-guides img{
	max-width:350px;
	max-height:450px;
	width:100%;
}
.meal-guides .button{
	min-width:100%;
}
.meal-guides .button{
	background-color: $accent;
	border-color: $accent;
}
.meal-guides a:hover .button{
	background-color: #000;
	border-color: #000;
}
.meal-guides a:hover img{
	opacity: .8;
}
.meal-guides .four.columns{
	width: 30.25%;
}
.meal-guides .columns:first-child{
	margin-left:0;
}
.meal-guides .columns{
	margin-left: 4.25%;
}

/*-----------------------------------------------------------------------------------*/
/*  COOKBOOK PAGE
/*-----------------------------------------------------------------------------------*/
.page-cookbook .hero-text{
	top:60%;
}
.page-cookbook .instashow-gallery{
	display:none;
}
.page-cookbook .hero-header {
    margin: 0 auto -110px;
}
.page-cookbook .hero-text h1 {
    font-size: 5.6rem;
}
.page-cookbook .hero-text .button{
	background-color: #fff;
	border-color: #fff;
	color:#000;
}
.page-cookbook .hero-text .button:hover{
	background-color: $accent;
	border-color: $accent;
	color:#fff;
}
.cookbook-content .container, .cookbook-testimonials .container{
	max-width:1200px;
}
.cookbook-content h1{
	font-family:$body;
	font-size:5.5rem;
	font-weight:700;
	letter-spacing: 0.02em;
}
.cookbook-content h1 em{
	font-weight:400;
	font-family: $headings;
}
.cookbook-content p{
	font-size:1.6rem;
	line-height: 1.75;
}
.cookbook-content .button{
	margin-right:1.6%;
	margin-top:25px;
	font-weight:700;
}
.cookbook-content .button:hover{
	background-color:#000 !important;
	border-color:#000 !important;
	color:#fff !important;
}
.cookbook-content .button.pink{
	background-color:$pink;
	border-color:$pink;
	color:#000;
}
.cookbook-content .button.dk-blush{
	background-color:$dkblush;
	border-color:$dkblush;
	color:#000;
}
.cookbook-content .ipad-img img{
	margin-top:3%;
}
.cookbook-testimonials{
	margin:40px 0;
}
.cookbook-testimonials .cookbook-testimonial{
	max-width:280px;
}
.cookbook-testimonials .cookbook-testimonial .auth-image{
	max-width:150px;
	margin:0 auto 25px;
}
.cookbook-testimonials .cookbook-testimonial .auth-image img{
	border-radius: 50%;
	width:100%;
}
.cookbook-testimonials .cookbook-testimonial .auth-text strong{
	font-size:1.8rem;
	margin-bottom: 6%;
	display:block;
}
.cookbook-testimonials .cookbook-testimonial .auth-text p{
	font-size:1.6rem;
	line-height: normal;
}
.cookbook-testimonials .cookbook-testimonial .auth-text pre{
	font-size:1.4rem;
	font-family: $body;
	text-transform:uppercase;
}
.cookbook-testimonials .four.columns{
	width: 23.8%;
}
.cookbook-testimonials .columns:first-child{
	margin-left:0;
}
.cookbook-testimonials .columns{
	margin-left:14%;
}
.cookbook-callout{
	box-sizing: border-box;
	padding:55px 0;
	background-color: #000;
}
.cookbook-callout h2{
	font-size:3.4rem;
}
.cookbook-callout .button{
	background-color:#fff;
	border-color:#fff;
	color:#000;
	min-width:321px;
	margin:0 15px;
	font-weight: 700;
}
.cookbook-callout .button.pink{
	background-color:$pink;
	border-color:$pink;
	color:#000;
}
.cookbook-callout .button:hover{
	background-color:$accent !important;
	border-color:$accent !important;
	color:#fff !important;
}

/*-----------------------------------------------------------------------------------*/
/*  SPEAKING PAGE
/*-----------------------------------------------------------------------------------*/
.page-speaking .hero-text{
	top:60%;
}
.page-speaking .hero-text h1 {
    font-size: 5.6rem;
}
.page-speaking .hero-text .button{
	background-color: #fff;
	border-color: #fff;
	color:#000;
}
.page-speaking .hero-text .button:hover{
	background-color: $accent;
	border-color: $accent;
	color:#fff;
}
.speaking-video-section .container{
	max-width:1200px;
	margin:0 auto;
}
.suggested-topics .container, .featured-in .container, .inquire .container{
	max-width:1140px;
	margin:0 auto;
}

.speaking-video-section .video-container{ 
	max-width:100%; 
}
.speaking-video-section .video { 
	position: relative; 
	padding-bottom: 56.25%; /* 16:9 */ 
	height: 0;
	overflow: hidden;
}
.speaking-video-section .video img { 
	position: absolute; 
	display: block; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: auto;
	max-height: inherit;
	z-index: 20; 
	cursor: pointer; 
}
.speaking-video-section .video:after { 
	content: ""; 
	position: absolute; 
	display: block; 
    background: url(_static/images/play-button.png) no-repeat 0 0; 
	background-size: contain;
    top: 46.5%; 
	left: 46.5%; 
	width: 75px; 
	height: 75px; 
	z-index: 30; 
	cursor: pointer; 
} 
.speaking-video-section .video:hover:after {
	opacity:0.75;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease; 
}
.speaking-video-section .video iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	max-width:100%;
}
/* image poster clicked, player class added using js */
.speaking-video-section .video.player img { 
	display: none; 
}
.speaking-video-section .video.player:after { 
	display: none; 
}

.hire-me{
	color:#fff;
	background-color: #000;
	box-sizing: border-box;
	padding:117px 120px 50px;
	max-width:914px;
	margin:-95px auto 25px;
	z-index: -1;
	font-size:1.6rem;
}
.hire-me h1{
	color:#fff;
	font-size:7.2rem;
	font-family: $script;
	margin-bottom:10px;
}
.featured-in-text{
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.6rem;
	margin-right:25px;
}
.featured-in ul{
	list-style: none;
	text-align: right;
	margin:40px 0 15px;
}
.featured-in li{
	max-width: 9.5%;
	display: inline-block;
	margin: 0 8px;
	box-sizing: border-box;
	text-align: center;
	vertical-align: middle;
	transition: all .2s ease-in-out;
	opacity:.5;
}
.featured-in li img{
	max-height: 30px;
}
.featured-in li:hover{
    transform: scale(1.1);
	opacity:1;
}
@media only screen and (max-width: 768px) {
	.featured-in li{
		width: 32.26%;
	}
}
@media only screen and (max-width: 480px) {
	.featured-in li{
		width: 100%;
	}
}
.suggested-topics h4{
	text-transform: uppercase;
	font-family: $body;
	text-align: center;
	font-size: 2.6rem;
}
.suggested-topics .six.columns{
	margin-left:.90%;
	width: 49.5%;
}
.suggested-topics .columns:first-child {
    margin-left: 0;
}
.image-collage .four.columns{
	margin-left:.90%;
	width: 32.7%;
}
.image-collage .columns:first-child {
    margin-left: 0;
}
a.feature-block-link{
	color:#000;
	text-decoration: none;
}
.feature-block{
	box-sizing: border-box;
	padding:120px;
	text-transform: uppercase;
	font-size:2.5rem;
	text-align: center;
	letter-spacing: .08em;
	margin-bottom:1.6%;
}
.feature-block.odd{
	background-color:$pink;
}
.feature-block.even{
	background-color:$tan;
}
.inquire{
	box-sizing: border-box;
	padding:40px 0;
}
.inquire h1{
	font-size:7.2rem;
	font-family: $script;
	margin-bottom:10px;
	text-indent: 20px;
}
.inquire p{
	font-size:1.6rem;
	margin-bottom:0;
}
.inquire a{
	font-weight:700;
	text-decoration: none;
}
.inquire a:hover{
	text-decoration: underline;
}

/*-----------------------------------------------------------------------------------*/
/*  14 DAY CHALLENGE SALES PAGE
/*-----------------------------------------------------------------------------------*/
.page-lh14daychallengehome .instashow-gallery{
	display:none;
}
.page-lh14daychallengehome .hero-text{
	margin-top:7%;
}
.page-lh14daychallengehome .hero-text h1 {
    font-size: 5.6rem;
}
.page-lh14daychallengehome .hero-text .button{
	background-color: #fff;
	border-color: #fff;
	color:#000;
}
.page-lh14daychallengehome .hero-text .button:hover{
	background-color: $accent;
	border-color: $accent;
	color:#fff;
}
.lh14-day-intro-text h1{
	font-size:5.0rem;
}
.lh14-day-intro-text p{
	font-size:2.5rem;
	letter-spacing: 0.02em;
	font-family: $hero-heading;
}
.lh14-day-intro-text img{
	margin-left:-20px;
}
.lh14-day-optin{
	box-sizing: border-box;
	padding:70px 40px;
	background-color: #000;
	color:#fff;
	font-family: $body;
	max-width: 476px;
	float:right;
	margin:20% auto;
}
.lh14-day-optin h4{
	color:#fff;
	font-family: $body;
	font-size:2.6rem;
	letter-spacing: 0.04em;
}
.lh14-day-optin h4 span{
	letter-spacing: 0;
}
.lh14-day-optin p{
	font-size:1.6rem;
}
.lh14-day-optin form{
	margin:30px auto;
}
.lh14-day-optin input{
	width:100%;
	height:49px;
	line-height: 49px;
	color:#000;
}
.lh14-day-optin input[type="submit"]{
	background-color: $accent;
	border-color: $accent;
	margin:0 auto;
	color:#fff;
}
.lh14-day-optin input[type="submit"]:hover{
	background-color: #fff;
	border-color: #fff;
	color:#000;
}
.hey-gorgeous{
	background-color: $offwht;
	box-sizing: border-box;
	padding:68px 0 25px;
}
.hey-gorgeous-text{
	max-width:810px;
	margin:0 auto;
}
.hey-gorgeous-text h4{
	font-size:2.5rem;
	font-family: $body;
}
.hey-gorgeous-text h4 em{
	font-size:2.1rem;
	font-family: $headings;
}
.how-it-works{
	box-sizing: border-box;
	padding:30px 0 0;
	margin-bottom: -5px;
}
.how-it-works h1{
	font-family: $script;
	font-size:4.9rem;
}
.how-it-works .container{
	max-width:1080px;
	margin:0 auto;
}
.how-it-works h4{
	font-family: $body;
	color:$accent3;
	text-transform: uppercase;
	margin-bottom:-1%;
	font-size: 2.2rem;
}
.how-it-works p{
	margin-bottom:5%;
}
.how-it-works .four:nth-child(2){
	text-align: center;
}
.how-it-works .four:nth-child(1), .how-it-works .four:nth-child(3) {
	margin-top:7.5%;
}
.join-footer{
	box-sizing: border-box;
	padding:35px 0 50px;
	background-color:$tan;
}
.join-footer .join-container{
	max-width:631px;
	margin:0 auto;
	border:2px solid $accent;
	box-sizing: border-box;
	padding:35px 80px 60px;
	position: relative;
}
.join-footer .join-container p{
	font-size:2.1rem;
}
.join-footer .join-container h3{
	font-family: $body;
	letter-spacing: 0.1em;
	margin-bottom:0;
}
.join-footer .join-container h3 em{
	font-family:$hero-heading;
	letter-spacing: 0;
}
.join-footer .join-container .button{
	max-width:278px;
	position: absolute;
	left:0;
	right:0;
	margin:0 auto;
	bottom:-10%;
}

/*-----------------------------------------------------------------------------------*/
/*  BLISS PROJECT SALES PAGE
/*-----------------------------------------------------------------------------------*/
.page-bliss-project .instashow-gallery{
	display:none;
}
.page-bliss-project .content-wrapper{
	margin-top:80px;
}
.page-bliss-project .hero-text{
	margin-top:-8%;
}
.page-bliss-project .hero-text h1 {
    font-size: 5.6rem;
}
.bliss-intro{
	margin-bottom:100px;
}
.bliss-intro .container{
	max-width:1140px;
	margin:0 auto;
}
.bliss-intro .script-font{
	font-size:7.2rem;
	margin-top:5%;
	display:block;
}
.bliss-intro h4{
	font-size:2.6rem;
	margin-bottom:0;
}
.bliss-intro h1{
	font-size:4.5rem;
}
.bliss-intro p{
	font-size:1.6rem;
}
.bliss-intro a{
	text-decoration: none;
}
.bliss-intro a:hover{
	text-decoration: underline;
}

.bliss-intro .video-container{ 
	max-width:100%;
	height: 0;
}
.bliss-intro .video { 
	position: relative; 
	padding-bottom: 56.25%; /* 16:9 */ 
	height: 400px;
	overflow: hidden;
	background-color: #000;
}
.bliss-intro .video img { 
	position: absolute; 
	display: block; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: auto;
	z-index: 20; 
	cursor: pointer;
	opacity:.73;
}
.bliss-intro .video:after { 
	content: ""; 
	position: absolute; 
	display: block; 
    background: url(_static/images/play-button.png) no-repeat 0 0; 
	background-size: contain;
    top: 46.5%; 
	left: 46.5%; 
	width: 75px; 
	height: 75px; 
	z-index: 30; 
	cursor: pointer; 
} 
.bliss-intro .video:hover:after {
	opacity:0.75;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease; 
}
.bliss-intro .video iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	max-width:100%;
}
/* image poster clicked, player class added using js */
.bliss-intro .video.player img { 
	display: none; 
}
.bliss-intro .video.player:after { 
	display: none; 
}
#first-of-kind{
	box-sizing: border-box;
	padding:70px 0 50px;
	background-color:$offwht2;
}
#first-of-kind .inner-text{
	max-width:860px;
	margin:0 auto;
}
#first-of-kind .inner-text h4{
	font-size:2.5rem;
	font-family: $body;
}
#first-of-kind .inner-text h4 em{
	font-size:2.5rem;
	font-family: $headings;
}
#first-of-kind .inner-text h4:nth-of-type(2){
	margin-bottom: 0;
}
#first-of-kind .inner-text p{
	font-size:1.7rem;
}
.image-bg-two.columns{
	min-height:392px;
	width:50%;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
	margin-left: 0;
}
.image-bg-three.columns{
	min-height:392px;
	width:33.3%;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
	margin-left: 0;
}
.bliss-textimonial{
	box-sizing: border-box;
	padding:80px 0 45px;
}
.bliss-textimonial .container{
	max-width: 1000px;
}
.bliss-textimonial-author{
	position: relative;
	left:0;
}
.bliss-textimonial-author .border-one{
	border:5px solid #000;
	width:245px;
	height:245px;
	position:absolute;
}
.bliss-textimonial-author .border-two{
	border:5px solid #000;
	width:245px;
	height:245px;
	position:absolute;
	top:-12px;
	left:12px;
}
.auth-img{
	position:absolute;
	top:12px;
	left:36px;
}
.bliss-testimonial-text{
	float:right;
	max-width:650px;
}
.bliss-testimonial-text h4{
	font-family: $body;
	font-weight:300;
	font-size:2.5rem;
	letter-spacing: .04em;
	line-height: 1;
	margin-bottom:2.5rem;
}
.bliss-testimonial-text p{
	font-size:1.6rem;
	letter-spacing: .04em;
}
.bliss-testimonial-text p strong{
	font-size:1.7rem;
	letter-spacing: .04em;
	color:#000;
	margin-top:25px;
	display: block;
}
#answer-for-women{
	box-sizing: border-box;
	padding:100px 0 70px;
	background-color: $tan;
}
#answer-for-women .container{
	max-width:940px;
}
#answer-for-women .inner-text h4{
	font-family: $body;
	font-size:2.5rem;
}
#answer-for-women .inner-text p:first-of-type{
	margin-bottom:5%;
}
#answer-for-women .inner-text p{
	font-size:1.7rem;
	letter-spacing: 0.02em;
}
#why-should-you{
	box-sizing: border-box;
	padding:100px 0 110px;
	background-color: $offwht2;
}
#why-should-you .container{
	max-width:940px;
}
#why-should-you .inner-text h4{
	font-family: $body;
	font-size:2.5rem;
}
#why-should-you .inner-text p, #why-should-you .inner-text ul{
	font-size:1.7rem;
	letter-spacing: 0.02em;
}
#why-should-you .inner-text ul{
	margin:-10px 0 0 20px;
}
#why-should-you .inner-text li:before {
    content: "+";
    margin-right: 10px;
	list-style-position: outside;
	margin-left: -1em;
}
.event-dates{
	min-height:700px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
}
.date-panel{
	color:#fff;
	background-color: rgba(000,000,000,.88);
	max-width:686px;
	min-height:700px;
	margin-left:3%;
	box-sizing: border-box;
	padding:50px;
}
.date-panel-inner{
	position: relative;
  	top: 1.5%;
  	transform: translateY(1.5%);
}
.date-panel-inner h4{
	font-family: $body;
	text-transform: uppercase;
	color:#fff;
	font-size:2.5rem;
	font-weight:700;
	letter-spacing: 0.04em;
}
.date-panel-inner h5{
	font-family: $body;
	color:#fff;
	font-size:2.0rem;
	font-weight:700;
	margin-bottom: 0;
}
.date-panel-inner p{
	font-size:1.6rem;
	margin-bottom:30px;
}
.date-panel-inner .button{
	min-width:390px;
	height:65px;
	line-height: 65px;
	background-color: #fff;
	border-color:#fff;
	color:#000;
	font-size:1.8rem;
	font-weight:700;
	letter-spacing:0.06em;
	margin-top:2.5%;
}
.date-panel-inner .button:hover{
	background-color: #000;
	border-color:#000;
	color:#fff;
}
.for-you{
	box-sizing: border-box;
	padding:120px 0 110px;
	max-width:940px;
	margin:0 auto;
}
.for-you h1{
	font-family: $script;
	font-size:7.2rem;
	margin-bottom:3%;
}
.for-you-list{
	max-width:640px;
	margin:0 auto;
	font-size: 1.7rem;
}
.for-you-list li{
	margin-bottom:2%;
}
.for-you-list li:before {
    content: "+";
    margin-right: 10px;
	list-style-position: outside;
	margin-left: -1em;
	color:$accent;
	font-weight:700;
}
.for-you .button{
	min-width:390px;
	height:65px;
	line-height:65px;
	background-color: $accent;
	border-color:$accent;
	color:#fff;
	font-size:1.8rem;
	font-weight:700;
	letter-spacing:0.06em;
	margin-top:7%;
}
.for-you .button:hover{
	background-color: #000;
	border-color:#000;
}
.bliss-faq{
	box-sizing: border-box;
	padding:90px 0;
	background-color: $tan;
}
.bliss-faq .container{
	max-width:950px;
	margin:0 auto;
}
.bliss-faq h4{
	font-family:$body;
	font-size:2.5rem;
}
.bliss-faq .toggle-title {
    cursor: pointer;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    color: #000;
    font-weight: bold;
}
.bliss-faq .toggle-title:hover{
	color:$accent;
}
.bliss-faq .toggle-title.active { 
	color:$accent;
}
.bliss-faq .togglebox{
	background: transparent;
    border: none;
}
.bliss-faq .toggle-content{
	padding:15px 0 0 15px;
}
.bliss-faq .toggle-content p{
	margin-bottom:0;
}
.bliss-sponsors{
	box-sizing: border-box;
	padding:50px 0;
}
.bliss-sponsors h4{
	font-size:2.7rem;
	font-family: $body;
	margin-bottom:0;
}
.bliss-sponsors h4 em{
	font-family:$headings;
	margin-bottom:3%;
	display:block;
	font-size:2.5rem;
}
.bliss-sponsors h5{
	font-size:2.0rem;
	font-family: $body;
	font-weight:700;
	margin-bottom:40px;
}
.bliss-sponsors img{
	margin-bottom:4%;
	display:block;
}
.bliss-sponsors  ul {
 -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
	max-width:615px;
	margin:4% auto;	
}
.bliss-sponsors  ul li{
	font-size:2.0rem;
	margin-bottom:0;
}

/*-----------------------------------------------------------------------------------*/
/*  BODY + SOUL PROGRAM SALES PAGE
/*-----------------------------------------------------------------------------------*/
.page-body-soul-program .instashow-gallery{
	display:none;
}
.page-body-soul-program .hero-text{
	margin-top:8%;
}
.page-body-soul-program .hero-text h1 {
    font-size: 5.6rem;
}
.body-soul-intro{
	margin-bottom:-19px;
}
.body-soul-intro .container{
	max-width:1140px;
	margin:0 auto;
}
.body-soul-intro h4{
	font-size:2.6rem;
	margin:10% 0 0;
}
.body-soul-intro h1{
	font-size:4.5rem;
	margin-top:0;
}
.body-soul-intro p{
	font-size:1.6rem;
	margin-bottom:5%;
}
.body-soul-intro a{
	text-decoration: none;
}
.body-soul-intro a:hover{
	text-decoration: underline;
}

.body-soul-intro .video-container{ 
	max-width:100%;
	height: 0;
}
.body-soul-intro .video { 
	position: relative; 
	padding-bottom: 56.25%; /* 16:9 */ 
	height: 400px;
	overflow: hidden;
	background-color: #000;
}
.body-soul-intro .video img { 
	position: absolute; 
	display: block; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: auto;
	z-index: 20; 
	cursor: pointer;
	opacity:.73;
}
.body-soul-intro .video:after { 
	content: ""; 
	position: absolute; 
	display: block; 
    background: url(_static/images/play-button.png) no-repeat 0 0; 
	background-size: contain;
    top: 46.5%; 
	left: 46.5%; 
	width: 75px; 
	height: 75px; 
	z-index: 30; 
	cursor: pointer; 
} 
.body-soul-intro .video:hover:after {
	opacity:0.75;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease; 
}
.body-soul-intro .video iframe { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	max-width:100%;
}
/* image poster clicked, player class added using js */
.body-soul-intro .video.player img { 
	display: none; 
}
.body-soul-intro .video.player:after { 
	display: none; 
}
/*.photo-row ul {
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    width: 100%;
    margin: 100px 0 0;
    padding: 0;
}
.photo-row ul li {
    display: block;
    flex: 0 1 auto; 
    list-style-type: none;
	margin-left:.50%;
}
.photo-row ul li:first-child{
	margin-left:0;
}
.photo-row ul li img{
	max-height:240px;
}*/
.photo-row{
	margin: 90px 0 20px;
}
.photo-row img{
	max-height:240px;
}
#nothing-changes{
	box-sizing: border-box;
	padding:30px 0 15px;
	background-color:$offwht2;
}
#nothing-changes .container{
	max-width:900px;
	margin:0 auto;
}
#nothing-changes .inner-text h4{
	font-size:2.5rem;
	font-family:$body;
}
#nothing-changes .inner-text h4 em{
	font-family:$headings;
}
#nothing-changes .inner-text h4:nth-of-type(2){
	margin-bottom:0;
}
#nothing-changes .inner-text p:nth-of-type(3){
	margin-bottom:1.5%;
}
.text-photo-montage .container{
	max-width:1200px;
	margin:0 auto;
}
.text-photo-montage{
	box-sizing: border-box;
	padding:100px 0 0;
	background-color:$offwht2;
}
.text-photo-montage .seven.columns{
	width: 50%;
}
.text-photo-montage .five.columns{
	float:right;
	width: 44%;
}
.text-photo-montage h4{
	font-size:2.5rem;
	font-family:$body;
}
.text-photo-montage h5{
	font-family:$body;
	font-weight:700;
	margin-bottom:0;
	text-transform: uppercase;
}
.text-photo-montage p, .text-photo-montage ul li{
	font-size:1.6rem;
}
.text-photo-montage ul{
	margin-left:20px;
}
.text-photo-montage ul li{
	margin-bottom:0;
}
.text-photo-montage .full-width{
	margin-top:0;
	margin-bottom:0;
}
.text-photo-montage ul li:before {
    content: "+";
    margin-right: 10px;
	list-style-position: outside;
	margin-left: -1em;
}
.pull-quote{
	box-sizing: border-box;
	padding:60px 0 35px;
	background-color:$offwht2;
}
.pull-quote .container{
	max-width:900px;
	margin:0 auto;
}
.pull-quote blockquote p{
	font-size:3.0rem;
}
.pull-quote blockquote p strong{
	display:block;
	font-size:2.0rem;
	font-family: $body;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	margin-top:25px;
}
.program-details{
	min-height:900px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.program-panel{
	color:#fff;
	background-color: rgba(212,115,192,.88);
	max-width:710px;
	min-height:900px;
	margin-left:3%;
	box-sizing: border-box;
	padding:100px 93px 0;
}
.program-panel-inner h4{
	font-family: $body;
	text-transform: uppercase;
	color:#fff;
	font-size:2.5rem;
	font-weight:700;
	letter-spacing: 0.04em;
}
.program-panel-inner h5{
	font-family: $body;
	color:#fff;
	font-size:2.0rem;
	font-weight:700;
	margin-bottom:2.5%;
}
.program-panel-inner h5 em{
	font-family:$headings;
	font-weight:400;
	line-height: 1.125;
	margin-top: 1.5%;
	display:inline-block
}
.program-panel-inner p{
	font-size:1.5rem;
}
.program-panel-inner p strong{
	font-size:2.0rem;
}
.program-panel-inner .button{
	min-width:390px;
	height:65px;
	line-height: 65px;
	background-color: #fff;
	border-color:#fff;
	color:#000;
	font-size:1.8rem;
	font-weight:700;
	letter-spacing:0.06em;
	margin-bottom:0;
}
.program-panel-inner .button:hover{
	background-color: #000;
	border-color:#000;
	color:#fff;
}
#winner-winner{
	box-sizing: border-box;
	padding:40px 0 15px;
	background-color: #000;
}
#winner-winner h2{
	font-size:3.4rem;
	margin-top:-8px;
}
#winner-winner .button{
	background-color:$pink;
	border-color:$pink;
	color:#000;
	font-size:1.8rem;
	font-weight:700;
	letter-spacing: 0.06em;
	min-width:390px;
	height:65px;
	line-height: 65px;
	margin-top:15px;
	margin-bottom:0;
}
#winner-winner .button:hover{
	background-color:$accent;
	border-color:$accent;
	color:#fff;
}
#sixty-day-challenge{
	box-sizing: border-box;
	padding:125px 0 50px;
	background-color: $offwht2;
}
#sixty-day-challenge .container{
	max-width:880px;
	margin:0 auto;
}
#sixty-day-challenge h1{
	font-family: $body;
}
#sixty-day-challenge ul{
	margin-left:20px;
}
#sixty-day-challenge ul li{
	font-size:1.6rem;
	margin-bottom:2%;
}
#sixty-day-challenge ul li:before {
    content: "+";
    margin-right: 10px;
	list-style-position: outside;
	margin-left: -1em;
	color:$accent;
}
#sixty-day-challenge .button{
	background-color:$accent;
	border-color:$accent;
	color:#fff;
	font-size:1.8rem;
	font-weight:700;
	letter-spacing: 0.06em;
	min-width:390px;
	height:65px;
	line-height: 65px;
	margin-top:20px;
}
#sixty-day-challenge .button:hover{
	background-color:#000;
	border-color:#000;
}

/*-----------------------------------------------------------------------------------*/
/*  BOOK PAGE
/*-----------------------------------------------------------------------------------*/
.intro-video-section h1{
	font-size:5.0rem;
}
.intro-video-section .container, .tribe-bliss-section .container{
	   max-width: 1153px; 
}
.intro-video-section .video-container {
    max-width: 1153px; 
    margin: -20px auto;
}
.book-optin{
	box-sizing: border-box;
	padding:30px 0;
}
.book-optin h1{
	font-size:5.7rem;
	margin-bottom:0;
}
.book-optin p{
	font-size:2.5rem;
	font-family: $headings;
}
.book-optin #mc_embed_signup { border: none; text-align: center; width: 100%; margin-top:4%;}
.book-optin #mc_embed_signup .mc-field-group { display: inline-block; }
.book-optin #mc_embed_signup .clear { display: inline-block; }
.book-optin #mc_embed_signup input{font-size:1.4rem;}
.book-optin #mc_embed_signup input[type="submit"]{border-color:#fff;color:#fff;vertical-align: middle; background-color:#000;letter-spacing: .04em; margin-top:6px;height: 46px;}
.book-optin #mc_embed_signup input[type="submit"]:hover{background-color:$accent;}
.book-optin #mc_embed_signup input[type="text"],.book-optin #mc_embed_signup input[type="email"]{min-width:278px;border-color:#fff;}

@media only screen and (max-width: 480px) {
	.book-optin #mc_embed_signup .mc-field-group, .optin #mc_embed_signup .clear{
		display: block;
    	min-width: 100% !important;
    	width: 100%;
	}
	.book-optin #mc_embed_signup input{
		width:100%;
	}
}
.tribe-bliss-section{
	box-sizing: border-box;
	padding:60px 0 -50px;
}
.tribe-bliss-section .book-img{
	box-sizing: border-box;
	padding:10px;
	position: relative;
}
.tribe-bliss-section p{
	font-size:1.6rem;
}
.tribe-bliss-section .tribe-text {
    position: relative;
    top: 10%;
	float:right;
    transform: translateY(10%);
	max-width:625px;
}
.tribe-bliss-section ul.book-logos{
	max-width: 300px;
}
.tribe-bliss-section ul.book-logos li {
    max-width: 100%;
    display: inline-block;
    margin: -20px 15px 30px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}
.tribe-bliss-section ul.book-logos li img {
    max-height: 35px;
	max-width:65px;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
	 transition: all .2s ease-in-out;
}
.tribe-bliss-section ul.book-logos li:hover img{
	 transform: scale(1.1);
	-webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.chapter-section .container{
	   max-width: 1153px; 
}
.chapter-section{
	box-sizing: border-box;
	padding:98px 0;
	background-color: $ltgrey;
	margin:-30px auto 50px;
}
.chapter-section .download-img{
	box-sizing: border-box;
	padding:10px;
}
.chapter-section .download-text {
    position: relative;
	box-sizing: border-box;
	padding:30px 0 0 60px;
}
.chapter-section .download-text h5{
	font-family:$body;
	letter-spacing: .08em;
	font-weight: 700;
}
.chapter-section .download-text p strong{
	font-size:1.6rem;
}

/*-----------------------------------------------------------------------------------*/
/*  MISC.
/*-----------------------------------------------------------------------------------*/
.page-isagenix .gform_wrapper ul.gform_fields li.gfield{
	padding-right: 0 !important;
	margin-top: 0 !important;
}
.page-isagenix .gform_wrapper .gform_footer{
	padding: 0 !important;
    margin: 0 !important;
}
.page-isagenix .instashow-gallery, .page-thank-you .instashow-gallery{
	margin-top:50px;
}
.page-affiliate-log-in .container{
	max-width:1024px;
}
.page-the-bliss-habit .one-third.last{
	padding-left:20px;
}
.page-the-bliss-habit .one-third.last .button{
	margin-top:25px;
}
.page-the-bliss-habit .hero-text{
	top:60%;
}