@charset "UTF-8";

/* ------------------------
-----   Buttons   -----
------------------------------*/

/*.primary-button{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #152b52;
  border-radius: 4px;
  border: 1px solid #152b52;
  cursor: pointer;
  box-sizing: border-box; 
  -webkit-transition: all 0.3s ease;  
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease; }
.primary-button:hover,
.primary-button:focus {
  color: #FFF;
  background-color: #2d8296;
  border-color: #2d8296;}
  
.ghost-button{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #bbb;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
  -webkit-transition: all 0.3s ease;  
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease; }
.ghost-button:hover,
.ghost-button:focus {
  color: #333;
  border-color: #333;
  outline: 0; }

*/

/* ------------------------
-----   Fonts   -----
------------------------------*/
span.script-font{
	font-family: 'northwell_altregular';
}
/* ------------------------
-----   Columns   -----
------------------------------*/

.full-width {
	width: 100%;
}
.one-half {
  	width: 49.2%;
}
.one-third {
  	width: 32.26%;
}
.one-fourth {
	width: 23.8%;
}
.two-third {
  	width: 66.13%;
}
.three-fourth {
	width: 74.6%;
}
.one-fifth {
	width: 18.72%;
}
.two-fifth {
	width: 39.04%;
}
.three-fifth {
	width: 59.36%;
}
.one-sixth {
  	width: 15.33%;
}

.full-width, .one-half, .one-third, .one-fourth, .two-third, .three-fourth, .one-fifth, .two-fifth, .three-fifth, .one-sixth {
  position:relative;
  margin-right:1.6%;
  margin-top:1%;
  margin-bottom:1%;
  float:left;
}
.last {
  margin-right:0 !important;
  clear:right;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.one-half, .one-third, .one-fourth, .two-third, .three-fourth, .one-fifth, .two-fifth, .three-fifth, .one-sixth { width: 100%; }
}

.clear-fix{
	clear:both;
}

/* ------------------------
-----   Alerts   -----
------------------------------*/
.download-box, .warning-box, .info-box, .note-box {
  clear:both;
  margin: 10px 0px;
  padding: 15px 15px 13px 15px;
  line-height: 17px;
}
.info-box {
  background:#c2ddf9;
  border:1px solid #80bbef;
  color:#4783b7;
}
.info-box:before{
	font-family: 'FontAwesome';
	content: "\f05a";
	font-size:1.25em;
	padding-right:5px;
}
.warning-box {
  background:#ffcccc;
  border:1px solid #ff9999;
  color:#c31b00;
}
.warning-box:before{
	font-family: 'FontAwesome';
	content: "\f071";
	font-size:1.25em;
	padding-right:5px;
}
.download-box {
  background:#d1f7b6;
  border:1px solid #8bca61;
  color:#5e9537;
}
.download-box:before{
	font-family: 'FontAwesome';
	content: "\f0ed";
	font-size:1.25em;
	padding-right:5px;
}
.note-box {
  background:#fdebae;
  border:1px solid #e6c555;
  color:#9e660d;
}
.note-box:before{
	font-family: 'FontAwesome';
	content: "\f249";
	font-size:1.25em;
	padding-right:5px;
}

.alert-close:after {
	font-family: 'FontAwesome';
	content: "\f00d";
	color:#FFF;
	float: right;
	top: -30px;
	right:-10px;
	cursor: pointer;
	position: relative;
}
	
/* -----------------
-----   Tabs   -----
--------------------*/
.etabs { 
  margin: 0; 
  padding: 0; 
  text-align: center;
  overflow: inherit;
}
.etabs.left { 
  text-align: left;
}
.etabs.left .tab {
  margin-right:3px;
}
.tab { 
  font-weight: bold;
  margin:0; 
  padding:0; 
  display: inline-block; 
  zoom:1; 
  background: #f8f8f8; 
  border: 1px solid #c5c5c5; 
  border-bottom: none; 
  top:1px;
  position: relative;
  z-index: 1;
}
.tab a { 
  display: block; 
  padding: 7px 12px; 
  text-decoration:none; 
  color:#152b52;
}
.tab a:hover { 
  color:#2d8296;
}
.tab.active { 
  background: #fff; 
  position: relative; 
  z-index: 3;
}
.tab.active a{
	color:#2d8296;
}
.tab-container .panel-container { 
  border-top: 1px solid #c5c5c5; 
  padding: 30px 0; 
  position: relative;
  z-index: 1;
}
.panel-container { 
  margin-bottom: 10px; 
}

/* ------------------------
-----   Toggles   -----
------------------------------*/
.toggle {
  width: 100%;
  padding-bottom: 15px;
  clear:both;
}
.toggle-title {
  cursor: pointer;
  background: #f7f7f7;
  border: 1px solid #e3e3e3;
  margin: 0 0 10px 0;
  padding: 10px;
  font-size: 1em;
  color:#152b52;
  font-weight: bold;
}
.toggle-title:hover {
	color:#2d8296;
}
.toggle-title.active { 
	color:#2d8296;
}
.togglebox {
  height: auto;
  overflow: hidden;
  margin: 0;
  background: #f7f7f7;
  border: 1px solid #e3e3e3;
}
.togglebox div {
  padding: 15px 15px 15px 15px;
}

/* ------------------------
-----   Accordions   -----
------------------------------*/
.accordion > section {
   padding-left: 20px;
   position: relative;
   border-top: 1px solid #e3e3e3;
   margin-top: 10px;
   padding-top: 12px;
   float: left;
   width: 98%;
}
.accordion > section:first-child {
   border-top: none;
   margin-top: 0;
   padding-top: 0;
}
.accordion > section .accordion-title {
   font-size: 1em;
   line-height: 16px;
   font-style: normal;
   cursor: pointer;
   margin: 0;
   color:#152b52;
   font-weight:bold;
}
.accordion > section .accordion-title:hover {
   color: #2d8296;
   transition: all 200ms ease-in 0s;
}
.accordion > section .accordion-content {
   font-size: 1em;
   display: none;
   padding: 12px 0 5px;
}
.accordion > section .accordion-content p:first-child {
  margin-top: 0;
}
.accordion > section .accordion-content p:last-child {
  margin-bottom: 0;
}
.accordion > section .accordion-title:hover, .accordion > section .accordion-title:hover:before {
  color: #2d8296;
}
.accordion > section .accordion-title:before {
  font-family: 'FontAwesome';
  content: "\f067";
  color:#152b52;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  position: absolute;
  top: auto;
  left: 0;
}
.accordion > section.opened .accordion-title:before {
  font-family: 'FontAwesome';
  content: "\f068";
  color: #2d8296;
}
.accordion > section.opened .accordion-title {
  color: #2d8296;
}
.accordion{
  margin-bottom:20px;
}

/* ------------------------
-----   Google Map   -----
------------------------------*/
.vsg-map{
	clear:both;
	padding-top:30px;
}

/* ------------------------
-----   Video   -----
------------------------------*/
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
	margin-bottom: 25px;
    height: 0;
	clear:both;
}
 
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ------------------------
-----  Social Icons   -----
------------------------------*/
ul.social-icons {
  padding-top: 25px;
  clear:both;
}
.social-icons li:first-child{
	margin-left: 0;
}
.social-icons li {
  float: left;
  padding: 0;
  background: none;
  list-style:none;
}
.social-icons a {
  font-family: 'FontAwesome';
  font-size:1em;	
  display:block;
  position:relative;
  color:#152b52;
  -webkit-transition: all 0.3s ease;  
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.social-icons a:hover {
  color: #2d8296;
}