.newcampaign {
    padding-bottom: 20px;
    margin: 30px 20px 0;
}

.newcampaign a {
    float: left;
}

.newcampaign p {
    line-height: 35px;
    float: right;
    color: black;
    font-size: 14px;
}

.campaign-notice {
    margin: 0;
}

.green-btn,
.default-values
{
    background: #659f48;
    border-bottom: 2px solid #4a7435;
    text-shadow: 1px 1px 0 #609905;

}
.blue-btn {
    background: #659f48;
    border-bottom: 1px solid #4a7435;
    text-shadow: 1px 1px 0 #130499;

}

.green-btn,
.blue-btn,
.default-values {
    letter-spacing: 0.05em;
    text-decoration: none;
    font-weight: bold;
    line-height: 35px;
    padding: 0 10px;
    height: 35px;
    color: #fff;


    border-radius: 3px;
    margin-right: 5px;
}

.green-btn span,
.blue-btn span,
.default-values span {
    background: transparent url(../css/img/i/plus.png) no-repeat left;
    padding: 0 0 0 22px;
    display: block;
    height: 35px;
}

.green-btn:hover,
.blue-btn:hover,
.default-values:hover {
    background-position: bottom;
    color: #fff;
}

.default-values {
    margin:20px 0 0 0;
    border: none;
}

.camprow {
    border: 2px solid #f1f1f1;
    padding: 20px;
    position: relative;
    margin: 10px;
    border-radius: 5px;
}

.camprow p.campstyle {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 6px;
    background: #ebebeb;
    border-radius: 4px;
    color: black;
    margin-right: 20px;
}

.camprow.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.namedesc, .description {
    padding: 5px 0;
    float: left;
    width: 15%;
}

.actions {
	position: absolute;
	float: right;
	right: 0;
	top: 29px;
}

.deletecamp {
	background: transparent url(../css/img/delete.png) no-repeat left;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ca0d0d;
}

.deletecamp:hover {
	text-decoration: underline;
	color: #ca0d0d;
}


#popup_domination_form_submit {
	text-align: right;
	margin: 20px;	
}

#popup_domination_tabs.campaign-details {
	border-bottom: 1px solid #ccc;
	padding: 20px;
}

#popup_domination_tabs.tab-menu a {
	display: block;
}

#popup_domination_tabs.tab-menu {
	background-color: #f6f6f6;
	height: 100%;
	width: 25%;
	float: left;
	margin: 0;
}

.flotation-device {
	margin: 0 2.5%;
	padding: 0;
	width: 70%;
	float: left;
}



.campaign-name-box, .campaign-description {
	margin-right: 20px;
	float: left;
}

.campaign-name-box label, .campaign-description label,
.campaign-name-box input, .campaign-description input,
.campaign-name-box .microcopy, .campaign-description .microcopy {
    display: block;
}
.campaign-name-box .microcopy{
    float:left;
}
.campaign-name-box label, .campaign-description label {
    background-color: transparent;
    padding-bottom: 5px;
    font-weight: normal;
    color: black;

    text-shadow: 1px 1px 0 #fff;
}

.campaign-name-box p, .campaign-description p {
    background-color: transparent;
    margin: 5px 0 0 0;
    font-size: 12px;
    color: black;
    font-weight: 300;
    text-shadow: 1px 1px 0 #fff;
}

.campaign-name-box input, .campaign-description input {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;

    border-radius: none;

    box-shadow: #d9e0ee; /* Fallback for non RBGA */
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    -o-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}

.campaign-name-box input {
    width: 225px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
}


.campaign-description input {
	width: 625px;
}

.the_help_box {
	border: 1px solid #ede377;
	background-color: #fffed6;
	color: #7d7a15;
	padding: 20px;
}

.the_help_box h3 {
	background: transparent url(../css/img/help-arrow.png) no-repeat right;
	width: 50px;
	margin: 0;
}

.the_content_box h3 {
	border-bottom: 1px solid #d3d3d3;
	background-color: transparent;
	font-weight: 100;
	padding: 10px 0;
	font-size: 18px;
	color: #5d5d5d;
}

#list_allowed_size {
	color: #5d5d5d;
	padding: 10px 0;
}


#popup_domination_form_submit {
	padding: 20px;
	border-top: 1px solid #ccc;
	background-color: #eee;
	margin: 50px 0 0 0;
	text-align: left;
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#popup_domination_form_submit p, #popup_domination_form_submit p.submit {
	padding: 0;
	margin: 0;
}

#popup_domination_tabs.tab-menu a {
	border-bottom: 1px solid #d3d3d3;
	background-color: transparent;
	padding: 20px 20px 20px 60px;
	border-top: 1px solid #fff;
	border-right: 1px solid #d3d3d3;
	text-decoration: none;
	font-weight: 300;
	width: auto;
	opacity: 0.7;
	font-weight: 300;
	font-size: 16px;
	color: black;
}
#popup_domination_tabs a.selected {
	opacity: 1;
}
#popup_domination_tabs a.camps {
	background: transparent url(../css/img/i/list.png) no-repeat 24px;
}


#popup_domination_tabs a.setup {
	background: transparent url(../css/img/i/settings2.png) no-repeat 24px;
}

#popup_domination_tabs a.results {
	background: transparent url(../css/img/i/bchart.png) no-repeat 24px;
}



#popup_domination_tabs a.selected {
	border-right: 1px solid #fff;
	background-color: #fff;
	color: black;
	font-weight: normal
}


#popup_domination_tabs a.prev {
	background-color: transparent;
	text-decoration: underline;
	font-weight: 100;
	color: #6e6e6e;
	margin: 20px;
	border: none;
	padding: 0;
}

#popup_domination_tabs a.prev:hover {
	color: #D54E21;
}


.postbox {
	background: none;
	border: none;
}

#popup_domination_tab_look_and_feel h3 {
	background: none;
	border: none;
	
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	font-size: 18px;
	color: #5d5d5d;
	margin: 10px 0;
}

#popup_domination_tab_look_and_feel h3 span {
	font-weight: 300;
	color: black;
}

.campaign-name-box .waiting{
	display: none;
	float:left;
	margin-top: 5px;
	margin-left: 10px;
}
.campaign-name-box .name_confirm{
	border-color: #88d51b;
	background-color: #fcfff7;
}
.campaign-name-box .name_error{
	border-color: #960909;
	background-color: #eed6d7;
}

.flotation-device #popup_domination_tab_page_list, .flotation-device #popup_domination_tab_ab_setup, .flotation-device #popup_domination_tab_results{
	display: none;
}

.sidebar-inside .popup_template, .sidebar-inside .popup_color{
	float: left;
	width: 50%;
}
.sidebar-inside select{
	width: 95%;
}

#normal-sortables #popup_domination_preview .preview{
	margin-bottom: 25px;
}

.sidebar-inside p #popup_domination_btn_color{
	width: 30%;
}

.mainbox .inside label.title{
	font-size: 18px;
	margin-top: 30px;
	display: block;
}

.mainbox .inside .line{
	width: 95%;
	height:1px;
	background-color: #d3d3d3;
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
}

.mainbox .inside input[type='text']{
	display: block;
}

.popdom_contentbox_inside .template_fields .recommended{
	display: block;
	margin-top: -10px;
	margin-bottom: 25px;
}

.popdom_contentbox_inside .template_fields .recommended .green{
	color: #6baa07;
}

.popdom_contentbox_inside .template_fields .recommended .red{
	color: #aa0707;
}

.popdom_contentbox_inside .template_fields input, .popdom_contentbox_inside .template_fields textarea{
	border: 1px solid #c1c1c1;
	width: 95%;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.popdom_contentbox_inside textarea{
	height: auto;
	margin-bottom: 30px;
}
.mainbox .inside input[type="text"]{
	height: 30px;
	margin-bottom: 30px;
}

.popdom_contentbox_inside .list_items li{
	width: 100%;
	background-image: url('../css/img/tick_bg.png');
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 45px;
}
.mainbox .inside input[type='text']{
	width: 65%;
}

.popdom_contentbox_inside .list_items .remove_list_item{
	float: left;
	margin-left: 30px;
	margin-top: 5px;
}

.popdom_contentbox_inside .list_items .thedeletebutton{
	background: transparent url(../css/img/delete.png) no-repeat left;
	text-decoration: none;
	padding-left: 20px;
	color: #ca0d0d;
}

.popdom_contentbox_inside .addnew{
	float:left;
}

.grey-btn {
	background: #eaeaea url(../css/img/grey_bg.jpg) repeat-x top;
	border: 1px solid #c5c5c5;
	text-decoration: none;
	line-height: 28px;
	font-weight: bold;
	padding: 0 10px;
	height: 28px;
	color: #5d5d5d;
	font-size: 12px;
	
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.grey-btn span {
	background: transparent url(../css/img/create_blk.png) no-repeat left;
	padding: 0 0 0 22px;
	display: block;
    height: 28px;
}

.grey-btn:hover {
	background-position: bottom;
	color: #000;
}

.popdom_contentbox .schedule_tab input[type='text']{
	display: block;
	margin-top: 10px;
	border: 1px solid #c1c1c1;
	width: 90%;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.popdom_contentbox .schedule_tab .open_delay, .popdom_contentbox .schedule_tab #popup_domination_unload_msg{
	width: 30% !important;
}
.children{
	margin-left: 20px;
	padding-top: 5px;
}

#popup_domination_form_submit .submit .save-btn{
    background: #659f48;
    border-bottom: 1px solid #4a7435;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-weight: bold;
    line-height: 35px;
    padding: 0 10px;
    height: 35px;
    color: #fff;

    text-shadow: 1px 1px 0 #609905;

    border-radius: 2px;
    margin-bottom: 20px;
}
