
.averages{
	position: absolute;
	right: 0;
}


.newcampaign {
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 20px;
	margin: 30px 20px;
}

.newcampaign a {
	float: left;
}

.newcampaign p {
	line-height: 35px;
	float: right;
}

.campaign-notice {
	letter-spacing: 0.05em;
	font-weight: bold;
	margin: 0;
}

.green-btn {
	background: #80cd07 url(../css/img/green-btn.png) repeat-x top;
	border: 1px solid #72b31d;
	letter-spacing: 0.05em;
	text-decoration: none;
	font-weight: bold;
	line-height: 35px;
	padding: 0 10px;
	height: 35px;
	color: #fff;
	
	text-shadow: 1px 1px 0 #609905;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.green-btn span {
	background: transparent url(../css/img/create.png) no-repeat left;
	padding: 0 0 0 22px;
	display: block;
    height: 35px;
}

.green-btn:hover {
	background-position: bottom;
	color: #fff;
}

.camprow {
    border: 2px solid #f1f1f1;
    padding: 20px;
    position: relative;
    margin: 10px;
    border-radius: 5px;
}

.camprow p.campstyle {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 6px;
    background: #ebebeb;
    border-radius: 4px;
    color: black;
    margin-right: 20px;
}

.camprow.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.namedesc{
	width: 30%;
}

.namedesc, .description {
	padding: 5px 0;
	float: left;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop {
	margin-right: 20px;
	width: 170px;
	float: left;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing {
	height: auto;
	width: 100%;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing .slider {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 100%;
	z-index: 3;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing .slider h2 {
	color: #fff;
	font-size: 19pt;
	margin-left: 18%;
	margin-top: 15%;
	letter-spacing: 1px;
	font-weight: lighter;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing img {
	width: 100%;
	height: auto;
	border-radius: 5px;
	z-index: 2;
}

.namedesc a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
.namedesc p.description {
    font-style: normal;
    font-weight: 300;
}

.namedesc a:hover {
    color: #333;
}

.actions {
	float: left;
	margin-top: 8px;
	width: 15%;
	font-size: 36px;
}

.actions .smaller{
	font-size: 10px;
	clear: both;
	line-height: 10px;
}

.actions .red{
	color: #e30000;
	font-weight: 300;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.actions .green{
	color: #77c102;
}

.deletecamp {
	background: transparent url(../css/img/delete.png) no-repeat left;
	text-decoration: none;
	padding-left: 20px;
	color: #ca0d0d;
}

.deletecamp:hover {
	text-decoration: underline;
	color: #ca0d0d;
}


#popup_domination_form_submit {
	text-align: right;
	margin: 20px;	
}

#popup_domination_tabs.campaign-details {
	border-bottom: 1px solid #c8d2e5;
	background-color: #eef4ff;
	padding: 20px;
	width: 920px;
	

	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(254, 255, 255)), to(rgb(223, 234, 254)));
	background-image: -webkit-linear-gradient(top, rgb(254, 255, 255), rgb(223, 234, 254));
	background-image: -moz-linear-gradient(top, rgb(254, 255, 255), rgb(223, 234, 254));
	background-image: -o-linear-gradient(top, rgb(254, 255, 255), rgb(223, 234, 254));
	background-image: -ms-linear-gradient(top, rgb(254, 255, 255), rgb(223, 234, 254));
	background-image: linear-gradient(top, rgb(254, 255, 255), rgb(223, 234, 254));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#feffff', EndColorStr='#dfeafe');
}

#popup_domination_tabs a {
	display: block;
}

#popup_domination_tabs.tab-menu {
	background-color: #f6f6f6;
	height: 100%;
	width: 240px;
	float: left;
	margin: 0;
}

.flotation-device {
	margin: 0 20px 20px 20px;
	width: 679px;
	float: left;
}

.with-sidebar {
	background: transparent url(../css/img/sidebar-bg.png) repeat-y left;
}

.campaign-name-box, .campaign-description {
	margin-right: 20px;
	float: left;
}

.campaign-name-box label, .campaign-description label,
.campaign-name-box input, .campaign-description input,
.campaign-name-box .microcopy, .campaign-description .microcopy {
	display: block;
}

.campaign-name-box label, .campaign-description label {
	background-color: transparent;
	padding-bottom: 5px;
	font-weight: bold;
	color: #415987;
	
	text-shadow: 1px 1px 0 #fff;
}

.campaign-name-box p, .campaign-description p {
	background-color: transparent;
	margin: 5px 0 0 0;
	font-size: 11px;
	color: #637cad;
	text-shadow: 1px 1px 0 #fff;
}

.campaign-name-box input, .campaign-description input {
	border: 1px solid #a2b7df;
	background-color: #fff;
	padding: 5px;
	
	border-radius: none;
	
	box-shadow: #d9e0ee; /* Fallback for non RBGA */
	-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
	-o-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
	box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}

.campaign-name-box input {
	width: 240px;
}

.campaign-description input {
	width: 636px;
}

.the_help_box {
	border: 1px solid #ede377;
	background-color: #fffed6;
	color: #7d7a15;
	padding: 20px;
}

.the_help_box h3 {
	background: transparent url(../css/img/help-arrow.png) no-repeat right;
	width: 50px;
	margin: 0;
}

.the_content_box h3 {
	border-bottom: 1px solid #d3d3d3;
	background-color: transparent;
	font-weight: 100;
	padding: 10px 0;
	font-size: 18px;
	color: #5d5d5d;
}

#list_allowed_size {
	color: #5d5d5d;
	padding: 10px 0;
}


#popup_domination_form_submit {
	padding: 20px 20px 20px 20px;
	border-top: 1px solid #ccc;
	background-color: #eee;
	margin: 50px 0 0 0;
	text-align: center;
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#popup_domination_form_submit p, #popup_domination_form_submit p.submit {
	padding: 0;
	margin: 0;
}

#popup_domination_tabs a {
	border-bottom: 1px solid #d3d3d3;
	background-color: transparent;
	padding: 20px 20px 20px 40px;
	border-top: 1px solid #fff;
	text-decoration: none;
	font-weight: bold;
	width: 180px;
}

#popup_domination_tabs a.feel {
	background: transparent url(../css/img/look-and-feel.png) no-repeat 20px;
}

#popup_domination_tabs a.feel:hover, #popup_domination_tabs a.feel.selected {
	background-image: url(../css/img/look-and-feel-hover.png);
}

#popup_domination_tabs a.fields {
	background: transparent url(../css/img/content.png) no-repeat 20px;
}

#popup_domination_tabs a.fields:hover, #popup_domination_tabs a.fields.selected {
	background-image: url(../css/img/content-hover.png);
}

#popup_domination_tabs a.list {
	background: transparent url(../css/img/lists.png) no-repeat 20px;
}

#popup_domination_tabs a.list:hover, #popup_domination_tabs a.list:hover.selected {
	background: transparent url(../css/img/lists-hover.png) no-repeat 20px;
}

#popup_domination_tabs a.schedule {
	background: transparent url(../css/img/display.png) no-repeat 20px;
}

#popup_domination_tabs a.schedule:hover, #popup_domination_tabs a.schedule.selected {
	background: transparent url(../css/img/display-hover.png) no-repeat 20px;
}

#popup_domination_tabs a.selected {
	border-right: 1px solid #fff;
	background-color: #fff;
	color: #D54E21;
}


#popup_domination_tabs a.prev {
	background-color: transparent;
	text-decoration: underline;
	font-weight: 100;
	color: #6e6e6e;
	margin: 20px;
	border: none;
	padding: 0;
}

#popup_domination_tabs a.prev:hover {
	color: #D54E21;
}


.postbox {
	background: none;
	border: none;
}

#popup_domination_tab_look_and_feel h3 {
	background: none;
	border: none;
	
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	font-size: 18px;
	color: #5d5d5d;
	margin: 10px 0;
}

#popup_domination_tab_look_and_feel h3 span {
	font-weight: lighter;
}

.current_analytics {
	width: 25%;
	float: left;
}
.percent_converse{
	text-align: center;
	width: 100%;
	display: inline-block;
	font-size: 40px;
	line-height:40px;
	color: black;
	font-weight: 300;
}
.percent_converse .smaller{
	font-size: 12px;
	line-height:12px;
}

