.newcampaign {
    padding-bottom: 20px;
    margin: 30px 20px 0;
}

.newcampaign a {
    float: left;
}

.newcampaign p {
    line-height: 35px;
    float: right;
    color: black;
    font-size: 14px;
}

.campaign-notice {
    margin: 0;
}

.green-btn,
.default-values
{
    background: #659f48;
    border-bottom: 2px solid #4a7435;
    text-shadow: 1px 1px 0 #609905;

}
.blue-btn {
    background: #659f48;
    border-bottom: 1px solid #4a7435;
    text-shadow: 1px 1px 0 #130499;

}

.green-btn,
.blue-btn,
.default-values {
    letter-spacing: 0.05em;
    text-decoration: none;
    font-weight: bold;
    line-height: 35px;
    padding: 0 10px;
    height: 35px;
    color: #fff;


    border-radius: 3px;
    margin-right: 5px;
}

.green-btn span,
.blue-btn span,
.default-values span {
    background: transparent url(../css/img/i/plus.png) no-repeat left;
    padding: 0 0 0 22px;
    display: block;
    height: 35px;
}

.green-btn:hover,
.blue-btn:hover,
.default-values:hover {
    background-position: bottom;
    color: #fff;
}

.default-values {
    margin:20px 0 0 0;
    border: none;
}

.camprow {
    border: 2px solid #f1f1f1;
    padding: 30px;
    position: relative;
    margin: 10px;
    border-radius: 5px;
}

.camprow p.campstyle {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 6px;
    background: #ebebeb;
    border-radius: 4px;
    color: black;
    margin-right: 20px;
}

.camprow.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#popup_domination .namedesc,#popup_domination .description {
    padding: 5px 0;
    float: left;
    width: 15%;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop {
    
    margin-right: 20px;
    width: 170px;
    float: left;

    border-radius: 5px;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing .slider {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 100%;
    z-index: 3;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing .slider h2 {
    color: #fff;
    font-size: 19pt;
    margin-left: 18%;
    margin-top: 15%;
    letter-spacing: 1px;
    font-weight: lighter;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing img {
    width: 100%;
    height: auto;
    z-index: 2;
    border-radius: 5px;
}

.namedesc a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
.namedesc p.description {
    font-style: normal;
    font-weight: 300;
}

.namedesc a:hover {
    color: #333;
}

ul.actions {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top:0;
    margin-right: 15px;
}
ul.actions li {
    border: 1px solid #659f48;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    font-size: 12px;
}

.deletecamp {
    background: transparent url(../css/img/i/trash.png) no-repeat left;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #659f48;
}

.deletecamp:hover {
    text-decoration: underline;
    color: #659f48;
}

.copy_button {
    background: transparent url(../css/img/i/green-plus.png) no-repeat left;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #659f48;
}

.copy_button:hover, .copy_button:active, .copy_button:visited {
    text-decoration: underline;
    color: #659f48;
}

.view_analytics {
    background: transparent url(../css/img/i/chart.png) no-repeat left;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #659f48;
}
.view_analytics:hover, .view_analytics:active, .view_analytics:visited {
    text-decoration: underline;
    color: #659f48;
}


.toggle_button.on {
    background: transparent url(../css/img/i/power.png) no-repeat left;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #ca0d0d;
}

.toggle_button:hover.on {
    text-decoration: underline;
    color: #ca0d0d;
}

.toggle_button.off {
    background: transparent url(../css/img/i/power.png) no-repeat left;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #659f48;
}

.toggle_button:hover.off, .toggle_button:active.off, .toggle_button:visited.off {
    text-decoration: underline;
    color: #659f48;
}
.toggle_button {
    font-weight: bolder;
    padding-right: 3px;
}

#popup_domination_tabs.campaign-details {
    border-bottom: 1px solid #ccc;
    background-color: white;
    padding: 20px;
}

#popup_domination_tabs.tab-menu a {
    display: block;
}

#popup_domination_tabs.tab-menu {
    background-color: #f6f6f6;
    height: 100%;
    width: 25%;
    min-width 250px;
    float: left;
    margin: 0;
}

.flotation-device {
    margin: 0 2.5%;
    padding: 0;
    width: 70%;
    float: left;
}


.campaign-name-box, .campaign-description {
    margin-right: 20px;
    float: left;
}

.campaign-name-box label, .campaign-description label,
.campaign-name-box input, .campaign-description input,
.campaign-name-box .microcopy, .campaign-description .microcopy {
    display: block;
}
.campaign-name-box .microcopy{
    float:left;
}
.campaign-name-box label, .campaign-description label {
    background-color: transparent;
    padding-bottom: 5px;
    font-weight: normal;
    color: black;

    text-shadow: 1px 1px 0 #fff;
}

.campaign-name-box p, .campaign-description p {
    background-color: transparent;
    margin: 5px 0 0 0;
    font-size: 12px;
    color: black;
    font-weight: 300;
    text-shadow: 1px 1px 0 #fff;
}

.campaign-name-box input, .campaign-description input {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 5px;

    border-radius: none;

    box-shadow: #d9e0ee; /* Fallback for non RBGA */
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    -o-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}

.campaign-name-box input {
    width: 225px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
}

.campaign-description input {
    width: 636px;
}

.the_help_box {
    padding: 0;
    margin: 0;
}

#popup_domination_tab_schedule .the_content_box .children { margin-top:6px; }

.the_help_box h3 {
    margin-left: 20px;
}
.popdom_contentbox h3 a {
    color: black;
    text-decoration: none;
}

.the_content_box h3 {
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    font-weight: 300;
    padding: 10px 0;
    font-size: 18px;
    color: black;
}

#list_allowed_size {
    color: #333;
    padding: 0;
    margin: 0 0 10px;
}



#popup_domination_tabs.tab-menu a {
    border-bottom: 1px solid #d3d3d3;
    background-color: transparent;
    padding: 20px 20px 20px 50px;
    border-top: 1px solid #fff;
    border-right: 1px solid #d3d3d3;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    width: auto;
    color: black;
    opacity: 0.7;
}
#popup_domination_tabs a.selected, #popup_domination_tabs a:hover {
    opacity: 1;
}
#popup_domination_tabs a.feel {
    background: transparent url(../css/img/i/magic.png) no-repeat 24px;
}

#popup_domination_tabs a.fields {
    background: transparent url(../css/img/i/edit.png) no-repeat 20px;
}


#popup_domination_tabs a.list {
    background: transparent url(../css/img/i/list.png) no-repeat 20px;
}


#popup_domination_tabs a.schedule,#popup_domination_tabs a.prev {
    background: transparent url(../css/img/i/settings2.png) no-repeat 20px;
}


#popup_domination_tabs a.email {
    background: transparent url(../css/img/i/mail.png) no-repeat 20px;
}


#popup_domination_tabs a.advance {
    background: transparent url(../css/img/i/settings.png) no-repeat 20px;
}


#popup_domination_tabs a.selected {
    border-right: 1px solid #fff;
    background-color: #fff;
    font-weight: normal;
    width: auto;
}


#popup_domination_container .postbox {
    background: none;
    border: none;
}

#popup_domination_tab_look_and_feel h3 {
    background: none;
    border: none;

    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 18px;
    color: black;
    margin: 10px 0;
}

#popup_domination_tab_look_and_feel h3 span {
    font-weight: 300;
}

.campaign-name-box .waiting{
    display: none;
    float:left;
    margin-top: 5px;
    margin-left: 10px;
}
.campaign-name-box .name_confirm{
    border-color: #88d51b;
    background-color: #fcfff7;
}
.campaign-name-box .name_error{
    border-color: #960909;
    background-color: #eed6d7;
}
.campaign-name-box a.checkname{
    border: 1px solid #9db9cb;
    margin-top: 1px;
    float: left;
    line-height: 15px;
    font-size: 10px;
    padding: 11px 4px 4px;
    margin-left: -1px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
    background-color: #d6e8f5;
    background-image:url(img/gradient.jpg);
    background-position: left top;
    border-left: none;
    font-weight: bold;
    box-shadow: #d9e0ee; /* Fallback for non RBGA */
    -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    -o-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 1px rgba(0,0,0,0.1);
    text-decoration: none;
    color: #186487;
    text-shadow: 0px 1px 0px #f5f9fc;
    filter: dropshadow(color=#f5f9fc, offx=0, offy=1);
    height: 18px;
}
.campaign-name-box a.checkname:hover{
    color: #0e394c;
}
.campaign-name-box a.checkname:active{
    background-position: left bottom;
    color: #000;
}


.flotation-device #popup_domination_tab_template_fields, .flotation-device #popup_domination_tab_list_items, .flotation-device #popup_domination_tab_schedule{
    display: none;
}

.sidebar-inside .popup_template, .sidebar-inside .popup_color{
    float: left;
    width: 50%;
}
.sidebar-inside select {
    width: 95% !important;
}

.popdom_contentbox_inside select {
    width: 45%;
}

#normal-sortables #popup_domination_preview .preview{
    margin-bottom: 25px;
}

.sidebar-inside p #popup_domination_btn_color{
    width: 30%;
}

.popdom_contentbox_inside .template_fields label{
    font-size: 18px;
    font-weight: 300;
}

.popdom_contentbox_inside .template_fields .line{
    width: 95%;
    height:1px;
    background-color: #d3d3d3;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
}

.popdom_contentbox_inside .template_fields input[type='text']{
    display: block;
}

.popdom_contentbox_inside .template_fields .recommended{
    display: block;
    margin-top: -10px;
    margin-bottom: 25px;
}

.popdom_contentbox_inside .template_fields .recommended .green{
    color: #6baa07;
}

.popdom_contentbox_inside .template_fields .recommended .red{
    color: #aa0707;
}

.popdom_contentbox_inside .template_fields input, .popdom_contentbox_inside .template_fields textarea, .popdom_contentbox_inside#submissions_tab input:not([type=checkbox]) {
    border: 1px solid #c1c1c1;
    width: 95%;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.popdom_contentbox_inside textarea{
    height: auto;
    margin-bottom: 30px;
}
.popdom_contentbox_inside input[type="text"]{
    height: 30px;
    margin-bottom: 30px;
}

.popdom_contentbox_inside .list_items li{
    width: 100%;
    background-image: url('../css/img/i/check.png');
    background-repeat: no-repeat;
    background-position: left 3px;
    padding-left: 35px;
}
.popdom_contentbox_inside .list_items li input[type='text']{
    width: 65%;
    float: left;
}

.popdom_contentbox_inside .list_items .remove_list_item{
    float: left;
    margin-left: 30px;
    margin-top: 5px;
}

.popdom_contentbox_inside .list_items .thedeletebutton{
    background: transparent url(../css/img/i/remove.png) no-repeat left;
    text-decoration: none;
    padding-left: 26px;
    color: #ca0d0d;
    font-weight: bold;
    height: 20px;
}

.popdom_contentbox_inside .addnew{
    float:left;
}

.grey-btn {
    background: #eee;
    border: 1px solid #ccc;
    text-decoration: none;
    line-height: 28px;
    font-weight: bold;
    padding: 0 10px;
    height: 28px;
    color: black;
    font-weight: black;
    font-size: 12px;
    border-radius: 2px;
}

.grey-btn span {
    background: transparent url(../css/img/create_blk.png) no-repeat left;
    padding: 0 0 0 22px;
    display: block;
    height: 28px;
}

.grey-btn:hover {
    background-position: bottom;
    color: #000;
}

.popdom_contentbox .schedule_tab input[type='text']{
    display: block;
    margin-top: 10px;
    border: 1px solid #c1c1c1;
    width: 90%;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.popdom_contentbox .schedule_tab input[type='text'].open_delay { margin-bottom:0 !important }

.popdom_contentbox .schedule_tab .open_delay,
.popdom_contentbox .schedule_tab .show_opt_link_class{
    width: 30% !important;
}
#popup_domination_unload_msg_label { font-weight: bold; }
.popdom_contentbox .schedule_tab #popup_domination_unload_msg { width:100%; }
.children{
    margin-left: 20px;
}

#popup_domination_form_submit .submit .save-btn{
    background: #659f48;
    border-bottom: 1px solid #4a7435;
    letter-spacing: 0.05em;
    text-decoration: none;
    font-weight: bold;
    line-height: 35px;
    padding: 0 10px;
    height: 35px;
    color: #fff;

    text-shadow: 1px 1px 0 #609905;

    border-radius: 2px;
    margin-bottom: 20px;
}

#popup_domination_tab_look_and_feel #normal-sortables{
    float: left;
}
.submit{
    padding: 3px !important;
}

.example{
    font-size: 12px;
    color:#989898;
    margin-top: 20px;
    display: block;
}

a#clear-cookies {
    -moz-box-sizing: content-box;
    border-radius: 11px 11px 11px 11px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 12px !important;
    line-height: 13px;
    padding: 3px 8px;
    text-decoration: none;
    border-color: #BBBBBB;
    color: #464646;
    white-space: nowrap;
    background: url("images/white-grad.png") repeat-x scroll left top #F2F2F2;
    text-shadow: 0 1px 0 #FFFFFF;
}
#backdrop_color .wp-picker-container { margin-top:4px; }
#backdrop_color #mv_cr_section_color { /* display:none !important; */ }
#slider_opacity { display:inline-block;width:400px;margin:0 0 0 2px;vertical-align:middle; }
#backdrop_color { vertical-align:middle;margin-top:5px; }

.aff-images {
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 8px;
    margin: 14px 0;
}

.aff-images a { padding-right:20px; }

#popdom_advance_custom_css, #popdom_advance_custom_js { width:100%; min-height:250px }

.show_opts.opt_linkclick a { text-decoration: none; margin: 0; padding: 0; line-height: 1; }
.show_opts.opt_linkclick input[type='text']#show_opt_link_class { margin-bottom: 15px; }
.wp-admin .popdom_contentbox_inside p input[type=checkbox] {
    width: auto;
}