/* per-month chart */
/* Table */
#graph-wrapper .chart #data-table {
	border: none; /* Turn off all borders */
	border-top: 1px solid #ccc;
	width: 540px;
}
#graph-wrapper .chart #data-table caption {
	color: #545454;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
#graph-wrapper .chart #data-table thead {
	background: #f0f0f0;
}
#graph-wrapper .chart #data-table th,
#graph-wrapper .chart #data-table td {
	border: none; /* Turn off all borders */
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 10px;
	text-align: left;	
}

/* Toggle */
#graph-wrapper .chart .toggles {
	background: #ebebeb;	
	color: #545454;
	height: 20px;
	padding: 15px;
}
#graph-wrapper .chart .toggles p {
	margin: 0;
}
#graph-wrapper .chart .toggles a {
	background: #222;
	border-radius: 3px;	
	color: #fff;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 6px;
	text-decoration: none;
}
#graph-wrapper .chart .toggles a:hover {
	background: #666;
}
#graph-wrapper .chart #reset-graph-button {
	float:right;
}
#graph-wrapper .chart{
	float: left;
	width: 540px;
}
/* Graph */
/* Containers */
#graph-wrapper{
	height: 100%;
	left: 350px;
	margin: 0px 0px 0px -270px;
	padding-bottom: 30px;
	position: relative;
	top: 50%;
	display: block;
	width: 90%;
}
#graph-wrapper .chart #figure {
	height: 380px;
	position: relative;
}
#graph-wrapper .chart #figure ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#graph-wrapper .chart .graph {
	height: 283px;
	position: relative;
}

/* Legend */
#graph-wrapper .chart .legend {
	background: #f0f0f0;
	border-radius: 4px;
	bottom: 0;
	position: absolute;
	text-align: left;
	width: 540px;	
}
#graph-wrapper .chart .legend li {
	display: block;
	float: left;
	height: 20px;
	margin: 0 auto;
	padding: 10px 30px;
	width: 38%;
}
#graph-wrapper .chart .legend span.icon {
	background-position: 50% 0;
	border-radius: 2px;
	display: block;
	float: left;
	height: 16px;
	margin: 2px 10px 0 0;
	width: 16px;	
}

/* X-Axis */
#graph-wrapper .chart .x-axis {
	bottom: 0;
	color: #555;
	position: absolute;
	text-align: center;
	width: 540px;
}
#graph-wrapper .chart .x-axis li {
	float: left;
	margin: 0 15px;
	padding: 5px 0;
	width: 76px;	
}

/* Y-Axis */
#graph-wrapper .chart .y-axis {
	color: #555;
	position: absolute;
	text-align: right;
	width: 100%;
}
#graph-wrapper .chart .y-axis li {
	border-top: 1px solid #ccc;
	display: block;
	height: 62px;
	width: 100%;
}
#graph-wrapper .chart .y-axis li span {
	display: block;
	margin: -10px 0 0 -60px;
	padding: 0 10px;
	width: 40px;
}

/* Graph Bars */
#graph-wrapper .chart .bars {
	height: 277px;
	position: absolute;
	width: 100%;
	z-index: 10;
}
#graph-wrapper .chart .bar-group {
	float: left;
	height: 100%;
	margin: 0 15px;
	left:30%;
	position: relative;
	width: 76px;
}
#graph-wrapper .chart .bar {
	border-radius: 3px 3px 0 0;
	bottom: 0;
	cursor: pointer;	
	height: 0;
	position: absolute;
	text-align: center;
	width: 74px;
	border: none !important;
}
#graph-wrapper .chart .bar.fig0 {
	left: 0;
}
#graph-wrapper .chart .bar.fig1 {
	left: 86px;
}
#graph-wrapper .chart .bar.fig2 {
	left: 52px;
}
#graph-wrapper .chart .bar span {
	background: #fefefe;
	border-radius: 3px;
	left: -8px;
	display: none;
	margin: 0;
	position: relative;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	width: 40px;
	padding: 5px 20px;
	z-index: 20;
	text-align: center;
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
}
#graph-wrapper .chart .bar:hover span {
	display: block;
	margin-top: -25px;
}

#graph-wrapper .chart #data-table {
	display: none;
}
#graph-wrapper .chart .bar span {
	background: #fefefe;
}
#graph-wrapper .chart .fig0 {
	background: #747474;
}
#graph-wrapper .chart .fig1 {
	background: #65c2e8;
}
#graph-wrapper .chart .fig2 {
	background: #eea151;
}

/******************************************** previous months charts **********************************************/


/* per-month chart */
/* Table */
#graph-wrapper .charttwo #data-table {
	border: none; /* Turn off all borders */
	border-top: 1px solid #ccc;
	width: 540px;
}
#graph-wrapper .charttwo #data-table caption {
	color: #545454;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
#graph-wrapper .charttwo #data-table thead {
	background: #f0f0f0;
}
#graph-wrapper .charttwo #data-table th,
#graph-wrapper .charttwo #data-table td {
	border: none; /* Turn off all borders */
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 10px;
	text-align: left;	
}

/* Toggle */
#graph-wrapper .charttwo .toggles {
	background: #ebebeb;	
	color: #545454;
	height: 20px;
	padding: 15px;
}
#graph-wrapper .charttwo .toggles p {
	margin: 0;
}
#graph-wrapper .charttwo .toggles a {
	background: #222;
	border-radius: 3px;	
	color: #fff;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 6px;
	text-decoration: none;
}
#graph-wrapper .charttwo .toggles a:hover {
	background: #666;
}
#graph-wrapper .charttwo #reset-graph-button {
	float:right;
}
#graph-wrapper .charttwo {
	float: left;
	width: 540px;
	clear: both;
	margin-bottom: 30px;
}
/* Graph */
/* Containers */
#graph-wrapper{
	height: 100%;
	left: 350px;
	margin: 0px 0px 0px -270px;
	padding-bottom: 30px;
	position: relative;
	top: 50%;
	display: block;
	width: 90%;
}
#graph-wrapper .charttwo #figure {
	height: 380px;
	position: relative;
}
#graph-wrapper .charttwo #figure ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#graph-wrapper .charttwo .graph {
	height: 303px;
	position: relative;
}

/* Legend */
#graph-wrapper .charttwo .legend {
	background: #f0f0f0;
	border-radius: 4px;
	bottom: 0;
	position: absolute;
	text-align: left;
	width: 540px;	
}
#graph-wrapper .charttwo .legend li {
	display: block;
	float: left;
	height: 20px;
	margin: 0 auto;
	padding: 10px 30px;
	width: 38%;
}
#graph-wrapper .charttwo .legend span.icon {
	background-position: 50% 0;
	border-radius: 2px;
	display: block;
	float: left;
	height: 16px;
	margin: 2px 10px 0 0;
	width: 16px;	
}

/* X-Axis */
#graph-wrapper .charttwo .x-axis {
	bottom: 0;
	color: #555;
	position: absolute;
	text-align: center;
	width: 540px;
}
#graph-wrapper .charttwo .x-axis li {
	float: left;
	margin: 0 0px;
	padding: 5px 0px;
	width: 76px;
	margin: 0px 15px;
}

/* Y-Axis */
#graph-wrapper .charttwo .y-axis {
	color: #555;
	position: absolute;
	text-align: right;
	width: 100%;
}
#graph-wrapper .charttwo .y-axis li {
	border-top: 1px solid #ccc;
	display: block;
	height: 62px;
	width: 100%;
}
#graph-wrapper .charttwo .y-axis li span {
	display: block;
	margin: -10px 0 0 -60px;
	padding: 0 10px;
	width: 40px;
}

/* Graph Bars */

#graph-wrapper .charttwo .bars {
	height: 277px;
	position: absolute;
	width: 100%;
	z-index: 10;
}
#graph-wrapper .charttwo .bar-group {
	float: left;
	height: 100%;
	margin: 0 15px;
	position: relative;
	width: 76px;
}
#graph-wrapper .charttwo .bar {
	border-radius: 3px 3px 0 0;
	bottom: 0;
	cursor: pointer;	
	height: 0;
	position: absolute;
	text-align: center;
	width: 24px;
	border: none !important;
}
#graph-wrapper .charttwo .bar.fig0 {
	left: 13px;
}
#graph-wrapper .charttwo .bar.fig1 {
	left: 42px;
}
#graph-wrapper .charttwo .bar.fig2 {
	left: 52px;
}
#graph-wrapper .charttwo .bar span{
	background: #fefefe;
	border-radius: 3px;
	left: -8px;
	display: none;
	margin: 0;
	position: relative;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	width: 40px;
	z-index: 20;
	
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
}
#graph-wrapper .charttwo .bar:hover span {
	display: block;
	margin-top: -25px;
}


#graph-wrapper .charttwo #data-table {
	display: none;
}
#graph-wrapper .charttwo .bar span {
	background: #fefefe;
}
#graph-wrapper .charttwo .fig0 {
	background: #747474;
}
#graph-wrapper .charttwo .fig1 {
	background: #65c2e8;
}
#graph-wrapper .charttwo .fig2 {
	background: #eea151;
}*/


/******************************************* line chart **********************************************************/
#graph-wrapper .line-chart {
	border: none; /* Turn off all borders */
	float: left;
	margin-top: 37px;
	width: 540px;
	margin-left: 50px;
}
#graph-wrapper .line-chart caption {
	color: #545454;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
#graph-wrapper .line-chart thead {
	background: #f0f0f0;
}
#graph-wrapper .line-chart th,
#graph-wrapper .line-chart td {
	border: none; /* Turn off all borders */
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 10px;
	text-align: left;	
}

/* Toggle */
#graph-wrapper .line-chart .toggles {
	background: #ebebeb;	
	color: #545454;
	height: 20px;
	padding: 15px;
}
#graph-wrapper .line-chart .toggles p {
	margin: 0;
}
#graph-wrapper .line-chart .toggles a {
	background: #222;
	border-radius: 3px;	
	color: #fff;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 6px;
	text-decoration: none;
}
#graph-wrapper .line-chart .toggles a:hover {
	background: #666;
}
#graph-wrapper .line-chart #reset-graph-button {
	float:right;
}

/* Graph */
/* Containers */
#wrapper #graph-wrapper .line-chart {
	height: 420px;
	left: 50%;
	margin: -210px 0 0 -270px;
	position: absolute;
	top: 50%;	
	width: 540px;
}
#graph-wrapper .line-chart #figure {
	height: 380px;
	position: relative;
}
#graph-wrapper .line-chart #figure ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#graph-wrapper .line-chart .graph {
	height: 283px;
	position: relative;
	width: 540px;
}

/* Legend */
#graph-wrapper .line-chart .legend {
	background: #f0f0f0;
	border-radius: 4px;
	bottom: 0;
	position: absolute;
	text-align: left;
	width: 540px;	
}
#graph-wrapper .line-chart .legend li {
	display: block;
	float: left;
	height: 20px;
	margin: 0;
	padding: 10px 30px;
	width: 120px;
}
#graph-wrapper .line-chart .legend span.icon {
	background-position: 50% 0;
	border-radius: 2px;
	display: block;
	float: left;
	height: 16px;
	margin: 2px 10px 0 0;
	width: 16px;	
}

/* X-Axis */
#graph-wrapper .line-chart .x-axis {
	bottom: -25px;
	color: #555;
	position: absolute;
	text-align: center;
	width: 540px;
}
#graph-wrapper .line-chart .x-axis li {
	float: left;
	margin: 0 15px;
	padding: 5px 0;
	width: 76px;	
}

/* Y-Axis */
#graph-wrapper .line-chart .y-axis {
	color: #555;
	position: absolute;
	text-align: right;
	width: 100%;
}
#graph-wrapper .line-chart .y-axis li {
	border-top: 1px solid #ccc;
	display: block;
	height: 62px;
	width: 100%;
}
#graph-wrapper .line-chart .y-axis li span {
	display: block;
	margin: -10px 0 0 -60px;
	padding: 0 10px;
	width: 40px;
}

/* Graph Bars */
#graph-wrapper .line-chart .bars {
	height: 283px;
	position: absolute;
	width: 100%;
	z-index: 10;
}
#graph-wrapper .line-chart .bar-group {
	float: left;
	height: 100%;
	margin: 0 15px;
	position: relative;
	width: 76px;
	z-index: 5;
}
#graph-wrapper .line-chart .line-group {
	float: left;
	height: 100%;
	margin: 0 15px;
	position: absolute;
	z-index: 10;
	width: 76px;
	clear: left;
}
#graph-wrapper .line-chart .bar {
	border-radius: 10px 10px 10px 10px;
	bottom: 0;
	cursor: pointer;	
	height: 0;
	position: absolute;
	text-align: center;
	width: 10px;
	border: none !important;
}
#graph-wrapper .line-chart .bar.fig0 {
	left: 30px;
}

#graph-wrapper .line-chart .bar.fig1 {
	left: 30px;
}
#graph-wrapper .line-chart .bar span {
	background: #fefefe;
	border-radius: 3px;
	left: -8px;
	display: none;
	margin: 0;
	padding: 5px 20px;
	position: relative;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	width: 40px;
	z-index: 20;
	
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
	box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
}
#graph-wrapper .line-chart .bar:hover span {
	display: block;
	margin-top: -25px;
}
#graph-wrapper .line-chart #data-table {
	display: none;
}
#graph-wrapper .line-chart .bar span {
	background: #fefefe;
}
#graph-wrapper .line-chart .fig3, #graph-wrapper .line-chart .fig0 {
	background-color: #747474;
	z-index: -1;
}
#graph-wrapper .line-chart .fig2, #graph-wrapper .line-chart .fig1 {
	background-color: #65c2e8;
	z-index: -1;
}
#graph-wrapper .line-chart .fig2, #graph-wrapper .line-chart .fig2 {
	background-color: #3fce5e;
	z-index: -1;
}
#graph-wrapper{
	z-index: 5;
}
.percent{
}
.percent h2{
	font-size: 20pt !important;
	margin-top: 57px !important;
}
.percent h1{
	font-size: 120pt;
}
.percent .red{
	color: #a60500;
}
.averages .percent .red {
	height: 100px;
	text-align: center;
}
.percent .green{
	color: #3fce5e;
}
.line-group .line{
	display: block;
	width: 50px;
	height: 1px !important;
	position: absolute;
	bottom: 0;
	height: 0;
}
.holdall{
	position: relative;
}

	canvas {
		position:absolute;
		height: 250px;
		width: 540px;
		z-index: -1;
	}
	.blk
	{
		position:absolute;
		z-index: 10;
		width: 1px;
		height: 1px;
	}
	.blk div{
		height: 1px;
		width: 1px;
		margin-left: 5px;
		margin-top: 4px;
	}
	.blk h1, .blk ul, .blk li {
		margin:0;
		padding:0;
		list-style:none
	}
	#blk-{
		bottom: 15%;
	}
	.hold{
    height: 260px;
    margin-top: 55px;
    margin-left: 20px;
    position: absolute;
    width: 540px;
    z-index: 3;
	}
	
	/*#footer{top:1000px !important;}*/