.newcampaign {
	padding-bottom: 20px;
	margin: 30px 20px 0;
}

.newcampaign a {
	float: left;
}

.newcampaign p {
	line-height: 35px;
	float: right;
	color: black;
	font-size: 14px;
}

.campaign-notice {
	margin: 0;
}

.popdom_contentbox h3 {
	margin-left: 20px;
}
.popdom_contentbox h3 a {
	color: black;
	text-decoration: none;
}

.green-btn {
	text-decoration: none;
	font-weight: bold;
	line-height: 35px;
	padding: 0 10px;
	height: 35px;
	color: #fff;
	
  background: #659f48;
  border-bottom: 2px solid #4a7435;
  text-shadow: 1px 1px 0 #609905;

	text-shadow: 1px 1px 0 #609905;
	
	border-radius: 2px;
}

.green-btn span {
	background: transparent url(../css/img/i/plus.png) no-repeat left;
	padding: 0 0 0 22px;
	display: block;
    height: 35px;
}

.green-btn:hover {
	background-position: bottom;
	color: #fff;
}

.camprow {
    border: 2px solid #f1f1f1;
    padding: 20px;
    position: relative;
    margin: 10px;
    border-radius: 5px;
}

.camprow p.campstyle {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 6px;
    background: #ebebeb;
    border-radius: 4px;
    color: black;
    margin-right: 20px;
}

.camprow.last {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.namedesc, .description {
	padding: 5px 0;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop {
	margin-right: 20px;
	width: 180px;
	float: left;
	
	border-radius: 2px;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing {
	position: relative;
	overflow: hidden;
	height: 111px;
	text-align: center;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing .slider {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	height: 100%;
	width: 100%;
	left: 100%;
	z-index: 3;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing .slider h2 {
	color: #fff;
	font-size: 19pt;
	margin-left: 18%;
	margin-top: 15%;
	letter-spacing: 1px;
	font-weight: lighter;
}

#popup_domination_campaign_list .camprow .tmppreview .preview_crop .spacing img {
	z-index: 2;
	max-width: 100%;
}

.namedesc a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.namedesc p.description {
	font-style: normal;
	font-weight: 300;
}

.namedesc a:hover {
	color: #333;
}

ul.actions {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top:0;
    margin-right: 15px;
}
ul.actions li {
    border: 1px solid #659f48;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 2px;
    font-size: 12px;
}

.deletecamp {
	background: transparent url(../css/img/i/trash.png) no-repeat left;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #659f48;
}

.deletecamp:hover {
	text-decoration: underline;
	color: #659f48;
}

.copy_button {
	background: transparent url(../css/img/i/green-plus.png) no-repeat left;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #659f48;
}

.copy_button:hover {
	text-decoration: underline;
	color: #659f48;
}


#popup_domination_tabs_main.campaign-details {
	border-bottom: 1px solid #ccc;
	padding: 20px;
}


#mailing-name-box, #mailing-description {
	margin-right: 30px;
	float: left;
}

#mailing-info {
	clear: right;
	height: 70px;
}


#mailing-info input {
	margin-top: 10px !important;
}


#mailing-name-box, #mailing-description,
#mailing-name-box label, #mailing-description label,
#mailing-name-box input, #mailing-description input,
#mailing-name-box .microcopy, #mailing-description .microcopy
#mailing-redirect-check .microcopy, #mailing-redirect-url .microcopy {
	display: block;
}
#mailing-name-box .microcopy{
	float:left;
}
#mailing-name-box label, #mailing-description label {
	background-color: transparent;
	font-weight: normal;
	color: black;
	
	text-shadow: 1px 1px 0 #fff;
}

#mailing-name-box p, #mailing-description p {
  background-color: transparent;
  margin: 5px 0 0 0;
  font-size: 12px;
  color: black;
  font-weight: 300;
  text-shadow: 1px 1px 0 #fff;
}

#mailing-name-box input, #mailing-description input {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 5px;

  border-radius: none;

  box-shadow: #d9e0ee; /* Fallback for non RBGA */
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  -o-box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
}

#mailing-name-box input {
	margin-bottom: 7px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	border-radius: 3px;
	float: left;
}

#mailing-name-box input {
	width: 250px;
}

#mailing-description input {
	width: 600px;
}

.the_help_box {
	border: none;
	color: black;
	padding: 0 30px;
}

.the_help_box h3 {
	background: transparent url(../css/img/help-arrow.png) no-repeat right;
	width: 50px;
	margin: 0;
}

.the_content_box h3 {
	border-bottom: 1px solid #d3d3d3;
	background-color: transparent;
	font-weight: 100;
	padding: 10px 0;
	font-size: 18px;
	color: #5d5d5d;
}

#list_allowed_size {
	color: #5d5d5d;
	padding: 10px 0;
}

.postbox {
	background: none;
	border: none;
}

#mailing-name-box .waiting{
	display: none;
	float:left;
	margin-top: 5px;
	margin-left: 10px;
}
#mailing-name-box .name_confirm{
	border-color: #88d51b;
	background-color: #fcfff7;
}
#mailing-name-box .name_error{
	border-color: #960909;
	background-color: #eed6d7;
}

.sidebar-inside .popup_template, .sidebar-inside .popup_color{
	float: left;
	width: 50%;
}
.sidebar-inside select{
	width: 95%;
}

#normal-sortables #popup_domination_preview .preview{
	margin-bottom: 25px;
}

.sidebar-inside p #popup_domination_btn_color{
	width: 30%;
}

.popdom_contentbox_inside .template_fields label{
	font-size: 18px;
}

.popdom_contentbox_inside .template_fields .line{
	width: 95%;
	height:1px;
	background-color: #d3d3d3;
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
}

.popdom_contentbox_inside .template_fields input[type='text']{
	display: block;
}

.popdom_contentbox_inside .template_fields .recommended{
	display: block;
	margin-top: -10px;
	margin-bottom: 25px;
}

.popdom_contentbox_inside .template_fields .recommended .green{
	color: #6baa07;
}

.popdom_contentbox_inside .template_fields .recommended .red{
	color: #aa0707;
}

.popdom_contentbox_inside .template_fields input, .popdom_contentbox_inside .template_fields textarea{
	border: 1px solid #c1c1c1;
	width: 95%;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.popdom_contentbox_inside textarea{
	height: auto;
	margin-bottom: 30px;
}
.popdom_contentbox_inside input[type="text"]{
	height: 30px;
	margin-bottom: 30px;
}

.popdom_contentbox_inside .list_items li{
	width: 100%;
	background-image: url('../css/img/tick_bg.png');
	background-repeat: no-repeat;
	background-position: left 3px;
	padding-left: 45px;
}
.popdom_contentbox_inside .list_items li input[type='text']{
	width: 65%;
	float: left;
}

.popdom_contentbox_inside .list_items .remove_list_item{
	float: left;
	margin-left: 30px;
	margin-top: 5px;
}

.popdom_contentbox_inside .list_items .thedeletebutton{
	background: transparent url(../css/img/delete.png) no-repeat left;
	text-decoration: none;
	padding-left: 20px;
	color: #ca0d0d;
}

.popdom_contentbox_inside .addnew{
	float:left;
}

.popdom_contentbox .schedule_tab input[type='text']{
	display: block;
	margin-top: 10px;
	border: 1px solid #c1c1c1;
	width: 90%;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.popdom_contentbox .schedule_tab .open_delay, .popdom_contentbox .schedule_tab #popup_domination_unload_msg{
	width: 30% !important;
}

#popup_domination_form_submit .submit .save-btn{
  background: #659f48;
  border-bottom: 1px solid #4a7435;
  letter-spacing: 0.05em;
  text-decoration: none;
  font-weight: bold;
  line-height: 35px;
  padding: 0 10px;
  height: 35px;
  color: #fff;

  text-shadow: 1px 1px 0 #609905;

  border-radius: 2px;
  margin-bottom: 20px;
}

#popup_domination_tab_aweber, #popup_domination_tab_icontact, #popup_domination_tab_getresponce, #popup_domination_tab_campaignmonitor, #popup_domination_tab_htmlform, #popup_domination_tab_email, #popup_domination_tab_constantcontact, #popup_domination_tab_mailchimp {
	display: none;
}
#popup_domination_tabs.tab-menu a.icon {
	opacity: 0.7;
	font-weight: 300;
	font-size: 16px;
	width: auto;
}
#popup_domination_tabs.tab-menu a.email, .tab-menu a.htmlform {
	color: black;
}
#popup_domination_tabs.tab-menu a.icon.selected, .tab-menu a.icon:hover {
	opacity: 1;
}
.tab-menu .aweber{
	background: url("../css/img/aweber.png") no-repeat scroll 45% 60% transparent;
	color: transparent;
}

.tab-menu .mailchimp{
	background: url("../css/img/mailchimp.png") no-repeat scroll 45% 70% transparent;
	color: transparent;
}
.tab-menu .icontact{
	background: url("../css/img/icontact.png") no-repeat scroll 45% 50% transparent;
	color: transparent;
}
.tab-menu .constantc{
	background: url("../css/img/constant.png") no-repeat scroll 45% 60% transparent;
	color: transparent;
}
.tab-menu .campmon{
	background: url("../css/img/campaign.png") no-repeat scroll 45% 60% transparent;
	color: transparent;
}
.tab-menu .getresp{
	background: url("../css/img/response.png") no-repeat scroll 45% 60% transparent;
	color: transparent;
}
#popup_domination_tabs a.email {
	background: transparent url("../css/img/i/mail.png") no-repeat scroll 15% 50%;
	width: 120px;
	padding-left: 70px;
	padding-right: 50px;
}
#popup_domination_tabs a.htmlform {
	background: transparent url("../css/img/i/code.png") no-repeat scroll 15% 50%;
	width: 120px;
	padding-left: 70px;
	padding-right: 50px;
}
#popup_domination_tabs a.selected{
	color: transparent;
}

#popup_domination_tabs .htmlform.selected,#popup_domination_tabs .email.selected{
	color: #fa4e00 !important;
}
#popup_domination_tabs a:hover, #popup_domination_tabs.tab-menu a.selected{
	background-color: #fff;
}

.popdom-inner-sidebar h3 {
    color: black;
    font-size: 18px;
    margin: 30px 0 20px;
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.popdom-inner-sidebar input[type='text']{
	display: block;
	margin-top: 10px;
	border: 1px solid #c1c1c1;
	width: 90%;
	padding: 10px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}


.example{
	font-size: 18px;
	color: black;
	margin-top: 20px;
	display: block;
	font-weight: 300;
}


.getlist{
	background: #4296e8 repeat-x top;
	border: 1px solid #4296e8;
	letter-spacing: 0.05em;
	text-decoration: none;
	font-weight: bold;
	line-height: 35px;
	padding: 0 10px;
	color: #fff;
	font-weight: 300;
	
	text-shadow: 1px 1px 0 #1266b8;

	border-radius: 2px;
	float: left;
  height: 35px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.getlist span {
	background: transparent url(../css/img/mailingdw.png) no-repeat left;
	padding: 0 0 0 22px;
	display: block;
    height: 35px;
}
.getlist:focus{
	color: #fff !important;
}
.getlist:hover {
	background-position: bottom;
	color: #fff;
}
.popdom-inner-sidebar .mailing-ajax-waiting{
	display: none;
	color: transparent;
	margin-left: 20px;
	padding-bottom: 15px;
	height: 16px;
	width: 16px;
	background: transparent url(../css/img/ajax-loader.gif) no-repeat left;
}

#popup_domination_tab_api{
	display: block !important;
}
.mailing-list-small{
	font-size: 14px;
	color: black;
	display: block;
}

.popdom-inner-sidebar select{
	margin-top: 10px;
	width: 40%;
	margin-bottom: 20px;
	display: block;
}

#connected-provider{
	margin-left: 20px;
	border-bottom: 1px solid #ccc;
}

#connected-provider #currently-connected, #connected-provider #connect-mailing-list{
	font-size: 12px;
	color: black;
	display: block;
	font-weight: 300;
}

#connected-provider #mailing-list{
	font-size: 13px;
	font-weight: bold;
}
#connected-provider #mailing-provider, #connected-provider #mailing-list{
	margin-left: 20px;
	color: black;
	font-size: 16px;
}

.other form input[type='submit']{
	background: #80cd07 url(../css/img/green-btn.png) repeat-x top;
	border: 1px solid #72b31d;
	letter-spacing: 0.05em;
	text-decoration: none;
	font-weight: bold;
	line-height: 35px;
	padding: 0 10px;
	height: 35px;
	color: #fff;
	margin-top: 20px;
	text-shadow: 1px 1px 0 #609905;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}


.aff-images {
	padding-bottom: 8px;
	margin: 14px 20px 30px 20px;
}

.aff-images strong{
	display: block;
}

.aff-images a {
	padding-right:20px;
	display: inline-block;
	text-align: center;
}