#popup_domination {
	border: 1px solid #cfcfcf;
	margin: 30px 20px 10px 0;
	background-color: #fff;
	height: auto;

	font-family: "Open Sans",sans-serif;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.popup_domination_top_left {
	min-width: 760px;
	border-bottom: 1px solid #405e97;
	background-color: #4b6eb2;
	padding: 15px 20px;
	
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;

}

.popup_domination_top_left img.logo {
	padding: 8px 0 0 12px;
	float: left;
}

.popup_domination_top_left p {
	text-align: right;
	line-height: 62px;
	font-size: 18px;
	color: #5d5d5d;
	float: right;
	width: auto;
	margin: 0;
	
	text-shadow: 1px 1px 0 #fff;
}

.popup_domination_top_left a {
	float: right;
	color: white;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 10px 0 0;
	text-decoration: none;
}

.popup_domination_top_left a:hover {
	text-decoration: underline;
}

.popup_domination_top_left i.help_link_icon{
	background: url(../css/img/i/help.png);
	width: 16px;
	height: 20px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0 3px;
	position: relative;
	top: 4px;
	left: -5px;
}

#popup_domination_form_submit {
	text-align: right;
	margin: 20px;	
}
#popup_domination_form_submit {
	padding: 20px 20px 20px 20px;
	border-top: 1px solid #ccc;
	background-color: #eee;
	margin: 50px 0 0 0;
	text-align: left;
	
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#popup_domination_form_submit p, #popup_domination_form_submit p.submit {
	padding: 0;
	margin: 0;
	text-align: center;
}
#popup_domination_current_version {
	text-align: center;
}
#popup_domination_form_submit .submit .save-btn{
	background: #80cd07 url(../css/img/green-btn.png) repeat-x top;
	border: 1px solid #72b31d;
	letter-spacing: 0.05em;
	text-decoration: none;
	font-weight: bold;
	line-height: 35px;
	padding: 0 10px;
	height: 35px;
	color: #fff;
	
	text-shadow: 1px 1px 0 #609905;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.submit{
	padding: 3px !important;
}
#popup_domination_tabs.tab-menu a {
	display: block;
}

#popup_domination_tabs.tab-menu {
	background-color: #f6f6f6;
	height: 100%;
	width: 25%;
	float: left;
	margin: 0;
}


#popup_domination_tabs.tab-menu a {
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	background-color: transparent;
	padding: 20px 20px 20px 40px;
	border-top: 1px solid #fff;
	text-decoration: none;
	font-weight: bold;
	width: 180px;
}
#popup_domination_tabs.tab-menu a.selected {
	border-right: 1px solid #fff;
}
#popup_domination_tab_look_and_feel h3 {
	background: none;
	border: none;
	
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	font-size: 18px;
	color: #5d5d5d;
	margin: 10px 0;
}

#popup_domination_tab_look_and_feel h3 span {
	font-weight: lighter;
}

.flotation-device {
    margin: 0 2.5%;
    padding: 0;
    width: 70%;
    float: left;
}

.clear {
	clear: both;
}
.right {
	float: right;
}
.left {
	float: left;
}


#popup_domination input[type="text"] {
    height: 35px;
    margin-bottom: 15px;
}


.popdom_contentbox_inside .template_fields input, .popdom_contentbox_inside .template_fields textarea {
    border: 1px solid #C1C1C1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    width: 95%;
}

.popdom_contentbox_inside {
  padding: 10px 10px;
}
.the_help_box>h3 {
	
}
.the_help_box .popdom_contentbox_inside {
	  display:none;
	  margin-top: 20px;
	  background: #eee;
	  border-radius: 10px;
}
#popup_domination input[type="input"].error, #popup_domination textarea.error {
    background-color: #EED6D7;
    border-color: #960909;
}

#popup_domination .line {
    background-color: #D3D3D3;
    display: block;
    height: 1px;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 95%;
}

#popup_domination label .required, #popup_domination label .optional {
	font-style: italic;
	font-size: 12px;
	color: red;
}

input[type="text"].input-error, textarea.input-error {
    background-color: #EED6D7;
    border-color: #960909;
}

.noscript {
	background-color: #EED6D7;
    border: 1px solid #960909;
    border-radius: 20px 20px 20px 20px;
    margin-top: 10px;
    padding: 10px 0;
    text-align: center;
    width: 960px;
}

.popdom_info_info, .popdom_info_success, .popdom_info_warning, .popdom_info_error, .popdom_info_validation {
    border: 1px solid;
    margin: 16px 0 0 0;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    clear:both;
    text-align: center;
    max-width: 900px;
}
.popdom_info_info a, .popdom_info_success a, .popdom_info_warning a, .popdom_info_error a, .popdom_info_validation a {
	text-decoration:none;
}
.popdom_info_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../css/img/info.png');
}
.popdom_info_success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../css/img/success.png');
}
.popdom_info_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../css/img/warning.png');
}
.popdom_info_error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../css/img/error.png');
}