.green-btn {
	background: #80cd07 url(../css/img/green-btn.png) repeat-x top;
	border: 1px solid #72b31d;
	letter-spacing: 0.05em;
	text-decoration: none;
	font-weight: bold;
	line-height: 35px;
	padding: 0 10px;
	height: 35px;
	color: #fff;
	text-shadow: 1px 1px 0 #609905;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.green-btn span {
	background: transparent url(../css/img/create.png) no-repeat left;
	padding: 0 0 0 22px;
	display: block;
    height: 35px;
}

.green-btn:hover {
	background-position: bottom;
	color: #fff;
}
#popup_domination input, #popup_domination select, #popup_domination textarea {
	display: block;
}

#popup_domination input[type="text"] {
    border: 1px solid #C1C1C1;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    width: 90%;
}

#popup_domination h3 {
	font-size: 1.7em;
	letter-spacing: 0.5px;
}

#popup_domination label {
	font-size: 16px;
}
#popup_domination textarea, #popup_domination select {
	margin-top: 10px;
	width: 90%;
}

#popup_domination select {
    border-radius: 10px 10px 10px 10px;
    height: 40px;
    line-height: 24px;
    padding: 10px;
}

#popup_domination .upsell {
    margin-top: 40px;
}

#popup_domination .theme img  {
	width: 100%;
	height: 100%;
	max-width: 276px;
	max-height: 143px;
	padding: 5px;
}

#popup_domination #popup_domination_tab_themes .right  {
	width: 55%;
}

#popup_domination #popup_domination_tab_themes .theme {
	border-top: #D3D3D3 solid 1px;
    margin-top: 20px;
    padding-top: 15px;
}

#popup_domination #popup_domination_tab_themes .theme:first-child {
	border: none;
}
#popup_domination .buy-link {
	text-align: center;
	background: url("../css/img/button.png") no-repeat scroll 0 0 transparent;
	background-position: 0 0;
	padding: 10px 50px 14px 50px;
	margin: auto;
	color: #fff;
	background-position: 0 0;
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 1px;
}
#popup_domination #popup_domination_tab_themes .buy-link {
	padding: 16px 68px 14px;
}

#popup_domination .theme-name {
	font-size: 22px;
	font-weight: bold;
}

#popup_domination .text-help {
	margin-bottom: 25px;
}

#popup_domination .upsell img{
	width: 256px;
	height: 219px;
}

#popup_domination ul.benefits {
	width: 370px;
    margin-bottom: 30px;
}

#popup_domination .benefits li {
    background-image: url("../css/img/tick_bg.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 100%;
    line-height: 21px;
    padding: 0 0 10px 45px;
    box-sizing: border-box;
}
#popup_domination .buy-now a:active {
	color: #fff;
	background-position: 0 50%;
}