/* -- default css */
@import url(popreset.css);

.popup-dom-lightbox-wrapper {
	height: 100%;
	min-height: 350px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.popup-dom-lightbox-wrapper .lightbox-overlay {
	background-image:url('images/bg-trans.png');
	height: 100%;
	min-height: 350px;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

.popup-dom-lightbox-wrapper .lightbox-main { z-index: 1000; }

.popup-dom-lightbox-wrapper .powered {
	clear: both;
	text-align: center;
	margin-top: 10px;
	padding-top: 0px;
	display: block;
}

body {
	margin:0;
	color:#000;
	font:12px/15px Arial, Helvetica, sans-serif;
}
.popup5 img {border-style:none;}
.popup5 a {
	text-decoration:none;
	color:#000;
}
.popup5 a:hover {text-decoration:underline;}
.popup5 a:active {background-color: transparent;}
.popup5 input,
.popup5 textarea,
.popup5 select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
.popup5 form, .popup5 fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
#wrapper{
	margin:50px auto 0;
	width:900px;
}
.popup5 .header{
	margin:0 55px;
	overflow:hidden;
	text-align:center;
	padding:21px 0 16px;
	border-bottom:1px solid #eae2e2;
}
.popup5 .logo{
	background:url(images/logo.jpg) no-repeat;
	width:240px;
	height:50px;
	overflow:hidden;
	text-indent:-9999px;
	display:inline-block;
}
.popup5 .logo a{
	display:block;
	height:100%;
}
.popup5 .content{
	overflow:hidden;
	padding:23px 55px 6px;
}
.popup5 .content .detail{
	font-size:24px;
	line-height:30px;
	color:#000;
	margin:0 0 33px;
}
.popup5 .content .detail h2{
	font-size:42px;
	line-height:51px;
	margin:0 0 18px;
}
.popup5 .detail p{margin:0;}
.popup5 .btn-holder{
	overflow:hidden;
	padding:0 22px 0 23px;
	margin:0 0 20px;
}
.popup5 .btn-holder .btn{
	display:inline-block;
	font-size:18px;
	line-height:24px;
	width: 288px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #dd1812;
	-webkit-box-shadow: 0 1px 2px rgba(4,4,4,.3), inset 0 1px rgba(255,255,255,.2), inset 0 1px 0px rgba(255,255,255,.2);
	box-shadow: 0 1px 2px rgba(4,4,4,.3), inset 0 1px rgba(255,255,255,.2), inset 0 1px 0px rgba(255,255,255,.2);
	border: solid 2px #99110d;
	background: #e11e18;
	background: -moz-linear-gradient(left, #e11e18 0%, #d91610 3%, #dc1913 9%, #d61611 21%, #d61611 30%, #d21710 31%, #cd1612 55%, #c41510 73%, #c11511 92%, #bd140f 95%, #c11813 96%, #bd140f 97%, #be1510 99%, #c51c17 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#e11e18), color-stop(3%,#d91610), color-stop(9%,#dc1913), color-stop(21%,#d61611), color-stop(30%,#d61611), color-stop(31%,#d21710), color-stop(55%,#cd1612), color-stop(73%,#c41510), color-stop(92%,#c11511), color-stop(95%,#bd140f), color-stop(96%,#c11813), color-stop(97%,#bd140f), color-stop(99%,#be1510), color-stop(100%,#c51c17));
	background: -webkit-linear-gradient(left, #e11e18 0%,#d91610 3%,#dc1913 9%,#d61611 21%,#d61611 30%,#d21710 31%,#cd1612 55%,#c41510 73%,#c11511 92%,#bd140f 95%,#c11813 96%,#bd140f 97%,#be1510 99%,#c51c17 100%);
	background: -o-linear-gradient(left, #e11e18 0%,#d91610 3%,#dc1913 9%,#d61611 21%,#d61611 30%,#d21710 31%,#cd1612 55%,#c41510 73%,#c11511 92%,#bd140f 95%,#c11813 96%,#bd140f 97%,#be1510 99%,#c51c17 100%);
	background: -ms-linear-gradient(left, #e11e18 0%,#d91610 3%,#dc1913 9%,#d61611 21%,#d61611 30%,#d21710 31%,#cd1612 55%,#c41510 73%,#c11511 92%,#bd140f 95%,#c11813 96%,#bd140f 97%,#be1510 99%,#c51c17 100%);
	background: linear-gradient(to right, #e11e18 0%,#d91610 3%,#dc1913 9%,#d61611 21%,#d61611 30%,#d21710 31%,#cd1612 55%,#c41510 73%,#c11511 92%,#bd140f 95%,#c11813 96%,#bd140f 97%,#be1510 99%,#c51c17 100%);
	color:#fff;
	text-shadow: 0 -1px rgba(4,4,4,.2);
	padding:15px 25px 12px;
	text-align:center;
	margin:0 0 0 30px;
}
.popup5 .btn-holder .btn:first-child{margin:0;}
.popup5 .btn-holder .btn span{
	font-size:30px;
	text-transform:uppercase;
}
.popup5 .description{
	text-align:center;
	font-size:15px;
	line-height:24px;
	display:block;
	padding:0 40px;
}
.popup5 .footer{
	overflow:hidden;
	padding:0 18px 14px;
}
.popup5 .footer .holder{
	float:right;
}
.popup5 .footer .powered-by{
	font-size:12px;
	color:#9597a8;
	float:left;
	margin:15px 0 0;
}
.popup5 .img-hodler{
	display:inline-block;
	margin:0 0 0 10px;
}
.popup5 .img-hodler img{
	vertical-align:top;
}
.popup5 .book-detail{
	overflow:hidden;
	padding:0 0 0 32px;
	margin:0 0 -19px;
}
.popup5 .book-detail .detail{
	margin:39px 0 0;
	font-size:16px;
	line-height:28px;
	overflow:hidden;
}
.popup5 .book-detail .detail h3{
	font-size:22px;
	line-height:24px;
	margin:0 0 14px;
}
.popup5 .book-detail .img-holder{
	float:left;
	margin:0 84px 0 0;
}
.popup5 .video-block .video-holder{
	float:left;
	margin:-15px 10px 0 0;
}
.popup5 .video-block .video-holder a{
	display:block;
	height:100%;
}
.popup5 .video-block .video-holder img{vertical-align:top;}
.popup5 .video-block .detail{
	overflow:hidden;
	text-align:center;
	text-shadow: 0 2px rgba(0,0,0,.1);
	font:22px/27px Tahoma, Geneva, sans-serif;
	color:#fff;
	margin:30px 0 0;
}
.popup5 .video-block .detail h2{
	font-size:48px;
	line-height:50px;
	margin:0 0 21px;
	color:#fff;
	text-shadow: 0 5px rgba(0,0,0,.1);
	text-transform:uppercase;
}
.popup5 .video-block .detail p{margin:0;}
.popup5 .base .base-holder{
	margin-left: 370px;
	display: table;
}
.popup5 .base .logos li{
	display:inline-block;
	vertical-align:bottom;
	margin:0 0 0 16px;
}
.popup5{
	width:879px;
	background: #5cb868;
	-webkit-box-shadow: 0 5px 20px rgba(4,4,4,.5);
	box-shadow: 0 5px 20px rgba(4,4,4,.5);
	border-radius: 5px;
	padding:32px 0 0 !important;
	position:relative;
	margin:0 0 30px !important;
}
.popup5 .close{
	position:absolute;
	top:12px;
	right:12px;
}
.popup5 h2{
	font-size:42px;
	line-height:51px;
	text-shadow: 0 1px #4c9656;
	color:#fff;
	margin:0 0 30px;
	text-align:center;
	font-weight:normal;
	padding:0 75px;
}
.popup5 .holder{
	padding:0 48px;
	position:relative;
}
.popup5 .holder:after{
	content:'';
	clear:both;
	display:block;
}
.popup5 .holder .video-block{
	float:left;
	width:350px;
	margin:22px 20px -70px 0;
	text-align: center;
}
.popup5 .holder .video-block a{
	display:block;
	height:100%;
}
.popup5 .holder .video-block img{
	vertical-align:top;
	padding-bottom: 10px;
}
.popup5 .holder .arrow{
	background:url(images/arrow1.png) no-repeat;
	width:67px;
	height:54px;
	text-indent:-9999px;
	position:absolute;
	top:24px;
	left:363px;
}
.popup5 .video-block .limit{
	font-size:22px;
	font-style:italic;
	color:#fff;
	padding:0 49px;
	margin:0 0 25px;
	display:block;
}
.popup5 .holder .right-block{
	overflow:hidden;
}
.popup5 .time-block{
	overflow:hidden;
	text-align:center;
	margin: 0 0 42px 0;
}
.popup5 .time-block .block{
	width: 40px;
	display:inline-block;
	text-align:center;
	margin: 0 0 0 25px;
	padding: 0 0 0 30px;
	background:url(images/separator.jpg) no-repeat 0 20px;
}
.popup5 .time-block .block:first-child{
	margin:0;
	padding:0;
	background:none;
}
.popup5 .time-block .block strong{
	font-size:36px;
	line-height:38px;
	color:#fff;
	display:block;
	font-weight:normal;
	padding:8px 0;
}
.popup5 .time-block .block .sec{color: white;opacity: 0.6;filter: alpha(opacity=60);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";}
.popup5 .time-block .block span{
	font-size:12px;
	display:block;
	padding:3px 0;
	color: white;  opacity: 0.6;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.popup5 .btn-win{
	text-align:center;
	font-size:30px;
	line-height:32px;
	font-weight:bold;
	color:#fff;
	width:400px;
	display:block;
	border-radius: 10px;
	background: #febd17;
	-webkit-box-shadow: 0 6px #4c9656;
	box-shadow: 0 6px #4c9656;
	padding:22px 5px 21px;
	margin:0 0 15px;
	border:none;
}
.popup5 .right-block .text{
	color: white;
	font-style:italic;
	font-size:14px;
	line-height:16px;
	text-align:center;
	display:block;
	text-shadow: 0 1px #4c9656;
	opacity: 0.6;
	filter: alpha(opacity=60);-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}
.popup5 .base{
	background:#fff;
	overflow:hidden;
	padding:19px 50px 26px;
	border-radius:0 0 5px 5px;
	min-height: 20px;
	position: relative;
	z-index: -1;
}
.popup5 .base .logos{
	list-style:none;
	margin:0 0 0 74px;
	padding:0;
	float:right;
}
.popup5 .base .logos li{
	display:inline-block;
	vertical-align:middle;
	margin:0 0 0 16px;
}
.popup5 .base .title {
	color:#979797;
	font-size:12px;
	float:left;
	margin-top: -6px;
	top: 50%;
	position: absolute;
}

.popup5.lightbox-main.lightbox-color-blue { background-color: #005ba2; }
.popup5.lightbox-main.button-color-blue .btn-win {
	background: #0070C7;
	color: #fff;
	-webkit-box-shadow: 0 6px #007EE0;
	box-shadow: 0 6px #007AD8;
}

.popup5.lightbox-main.lightbox-color-bright-red { background-color: #C6320E; }
.popup5.lightbox-main.button-color-bright-red .btn-win {
	background: #C6320E;
	-webkit-box-shadow: 0 6px #D10000;
	box-shadow: 0 6px #D10000;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-bright-green { background-color: #5cb868; }
.popup5.lightbox-main.button-color-bright-green .btn-win {
	background: #5CC32C;
	-webkit-box-shadow: 0 6px #458f21;
	box-shadow: 0 6px #458f21;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-bright-purple { background-color: #A94196; }
.popup5.lightbox-main.button-color-bright-purple .btn-win {
	background: #A94196;
	-webkit-box-shadow: 0 6px #9d2988;
	box-shadow: 0 6px #9d2988;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-bright-turq { background-color: #61CFDE; }
.popup5.lightbox-main.button-color-bright-turq .btn-win {
	background: #61CFDE;
	-webkit-box-shadow: 0 6px #3bc1d5;
	box-shadow: 0 6px #3bc1d5;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-bright-orange { background-color: #DC8621; }
.popup5.lightbox-main.button-color-bright-orange .btn-win {
	background: #DC8621;
	-webkit-box-shadow: 0 6px #c87e26;
	box-shadow: 0 6px #c87e26;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-bright-blue { background-color: #1F5BD7; }
.popup5.lightbox-main.button-color-bright-blue .btn-win {
	background: #115fff;
	-webkit-box-shadow: 0 6px #1F5BD7;
	box-shadow: 0 6px #1F5BD7;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-red { background-color: #ea0000; }
.popup5.lightbox-main.button-color-red .btn-win {
	background: #ea0000;
	-webkit-box-shadow: 0 6px #bd1010;
	box-shadow: 0 6px #bd1010;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-dark-blue { background-color: #1A4567; }
.popup5.lightbox-main.button-color-dark-blue .btn-win {
	background: #1A4567;
	-webkit-box-shadow: 0 6px #1c5a8a;
	box-shadow: 0 6px #1c5a8a;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-grape { background-color: #76254D; }
.popup5.lightbox-main.button-color-grape .btn-win {
	background: #76254D;
	-webkit-box-shadow: 0 6px #941855;
	box-shadow: 0 6px #941855;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-green { background-color: #2F5C17; }
.popup5.lightbox-main.button-color-green .btn-win {
	background: #287200;
	-webkit-box-shadow: 0 6px #397b15;
	box-shadow: 0 6px #397b15;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-turq { background-color: #3A8080; }
.popup5.lightbox-main.button-color-turq .btn-win {
	background: #16B8B8;
	-webkit-box-shadow: 0 6px #21a2a4;
	box-shadow: 0 6px #21a2a4;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-orange { background-color: #964911; }
.popup5.lightbox-main.button-color-orange .btn-win {
	background: #FD6B00;
	-webkit-box-shadow: 0 6px #bd590f;
	box-shadow: 0 6px #bd590f;
	color:#fff;
}

.popup5.lightbox-main.lightbox-color-black { background-color: #444; }
.popup5.lightbox-main.button-color-black .btn-win {
	background: #3D3D3D;
	-webkit-box-shadow: 0 6px #222;
	box-shadow: 0 6px #222;
	color:#fff;
}