/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#outer-wrapper {
}
#content-wrapper {
}
.content-area {
	float:left;
	width: 62%;
	margin-bottom:25px;
	word-wrap: break-word;
}
.aside {
	float:right;
	width: 32.2%;
	margin-right:10px;
	word-wrap: break-word;
}
img {
	max-width:100%;
	max-height:100%;
	height: auto;
}
html {
}
hr {
	margin-bottom: 4.5%;
	margin-top: 4.5%;
	border-width: 0;
	border-top: 1px solid #000;
}
.clear-fix {
	clear:both;
}
.center{
	text-align:center;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
html is set to 62.5% so that all the REM measurements throughout theme
are based on 10px sizing. So basically 1.6rem = 16px :) */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.5;
  font-weight: 400;
  font-family: $body;
  color: #000;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headings;	
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400; 
  color:#000; 
  text-transform:none;}
h1 { font-size: 4.0rem; line-height: 1.2; }
h2 { font-size: 3.6rem; line-height: 1.25; }
h3 { font-size: 3.0rem; line-height: 1.3; }
h4 { font-size: 2.4rem; line-height: 1.35; }
h5 { font-size: 1.8rem; line-height: 1.5; }
h6 { font-size: 1.5rem; line-height: 1.6; }

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
	color: $accent;
}
a:hover {
	color: $accent2;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
	list-style: none;
}
ol {
	list-style: decimal inside;
}
ol, ul {
	padding-left: 0;
	margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin: 2% 0 2% 4.5%;
	font-size: 90%;
}
li {
	margin-bottom: 1%;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
	padding: 12px 15px;
	text-align: left;
	border-bottom: 1px solid #E1E1E1;
}
th:first-child,
td:first-child {
	padding-left: 0;
}
th:last-child,
td:last-child {
	padding-right: 0;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
	margin-bottom: 2%;
}
input,
textarea,
select,
fieldset {
	margin-bottom: 3.5%;
}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
	margin-bottom: 2.5%;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	height: 46px;
	padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: $ltgrey;
	border: 1px solid $ltgrey;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
}
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	border: 1px solid $accent;
	outline: 0;
}
label,
legend {
	display: block;
	margin-bottom: 10px;
	font-weight: 600;
}
fieldset {
	padding: 0;
	border-width: 0;
}
input[type="checkbox"],
input[type="radio"] {
	display: inline;
}
label > .label-body {
	display: inline-block;
	margin-left: 10px;
	font-weight: normal;
}

::-webkit-input-placeholder {
   color: #000;
   opacity: 1 !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: #000;
   opacity: 1 !important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #000; 
   opacity: 1 !important; 
}
:-ms-input-placeholder {  
   color: #000; 
   opacity: 1 !important; 
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	height: 46px;
	padding: 0 45px;
	color: #000;
	text-align: center;
	font-size: 1.6rem;
	font-family:$body;
	font-weight: 400;
	line-height: 46px;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border-radius: 0;
	border: 1px solid #000;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease;  
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
	color: #fff;
	border-color: $accent;
	background-color: $accent;
	outline: 0;
	text-decoration: none;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: #FFF;
	background-color: #000;
	border-color: #000;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
	color: #FFF;
	background-color: $accent;
	border-color: $accent;
	text-decoration: none;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
	margin: 0 5px;
	padding: 2px 10px;
	font-size: 90%;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 4px;
}
pre > code {
	display: block;
	padding: 5px 15px;
	white-space: pre;
}