#popup-box-pro-gfcr-{{num}}.popupally-pro-overlay-zewges-{{num}} {{{zewges-background-overlay-css}}display:none;background-color:rgba({{zewges-overlay-color-rgba}}){{use-important}};}
#popup-box-pro-gfcr-{{num}}.popupally-pro-opened-pro-gfcr-{{num}} {display:block !important;z-index:999999{{use-important}};}

#popup-box-pro-gfcr-{{num}} input,#popup-embedded-box-pro-gfcr-{{num}} input{
	min-width:initial{{use-important}};
	max-width:none{{use-important}};
	min-height:initial{{use-important}};
	max-height:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-zewges-{{num}}, #popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-zewges-{{num}}{
width:{{zewges-width}}px{{use-important}};
height:{{zewges-height}}px{{use-important}};
}
.popupally-pro-top-page-jehjsq-{{num}} {
	position:absolute{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-top-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	top:0{{use-important}};
	z-index:99999{{use-important}};
}
.popupally-pro-end-page-follow-jehjsq-{{num}} {
	position:fixed{{use-important}};
	bottom:0{{use-important}};
	z-index:99999{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-zewges-{{num}},
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-zewges-{{num}}{
background-color:{{zewges-background-color}}{{use-important}};
background-image:{{zewges-background-image}}{{use-important}};
background-size:{{zewges-background-image-size}}{{use-important}};
background-repeat:no-repeat{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-zewges-{{num}}{
position:{{zewges-content-box-position}}{{use-important}};
{{position-code}}
{{POPUP_BOX_SHADOW_CSS}}
-webkit-border-radius: 4px{{use-important}};
-moz-border-radius: 4px{{use-important}};
border-radius: 4px{{use-important}};
z-index:999999{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-zewges-{{num}} {
margin:0 auto{{use-important}};
clear:both{{use-important}};
{{zewges-embedded-border-css}}
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}},#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}}{
position:relative{{use-important}};
overflow:visible{{use-important}};
width:auto{{use-important}};
height:auto{{use-important}};
padding:0{{use-important}};
margin:0{{use-important}};
text-align:center{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .desc-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .desc-pro-zewges {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{zewges-headline-width}}px{{use-important}};
height:{{zewges-headline-height}}px{{use-important}};
font-family:{{zewges-headline-font}}{{use-important}};
font-size:{{zewges-headline-font-size}}px{{use-important}};
line-height:{{zewges-headline-line-height}}px{{use-important}};
font-weight:{{zewges-headline-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{zewges-headline-align}}{{use-important}};
color:{{zewges-headline-color}}{{use-important}};
top:{{zewges-headline-top}}px{{use-important}};
left:{{zewges-headline-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-1-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-1-pro-zewges {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{zewges-textbox-1-width}}px{{use-important}};
height:{{zewges-textbox-1-height}}px{{use-important}};
font-family:{{zewges-textbox-1-font}}{{use-important}};
font-size:{{zewges-textbox-1-font-size}}px{{use-important}};
line-height:{{zewges-textbox-1-line-height}}px{{use-important}};
font-weight:{{zewges-textbox-1-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{zewges-textbox-1-align}}{{use-important}};
color:{{zewges-textbox-1-color}}{{use-important}};
top:{{zewges-textbox-1-top}}px{{use-important}};
left:{{zewges-textbox-1-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-2-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-2-pro-zewges {
position:absolute{{use-important}};
display:inline-block{{use-important}};
width:{{zewges-textbox-2-width}}px{{use-important}};
height:{{zewges-textbox-2-height}}px{{use-important}};
font-family:{{zewges-textbox-2-font}}{{use-important}};
font-size:{{zewges-textbox-2-font-size}}px{{use-important}};
line-height:{{zewges-textbox-2-line-height}}px{{use-important}};
font-weight:{{zewges-textbox-2-font-weight}}{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
cursor:pointer{{use-important}};
text-align:{{zewges-textbox-2-align}}{{use-important}};
color:{{zewges-textbox-2-color}}{{use-important}};
top:{{zewges-textbox-2-top}}px{{use-important}};
left:{{zewges-textbox-2-left}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .image-1-pro-zewges,
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .video-1-pro-zewges,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .image-1-pro-zewges,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .video-1-pro-zewges {
position:absolute{{use-important}};
display:inline-block{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
background-size:cover{{use-important}};
background-repeat:no-repeat{{use-important}};
background-position:50%{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .image-1-pro-zewges,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .image-1-pro-zewges {
top:{{zewges-image-1-top}}px{{use-important}};
left:{{zewges-image-1-left}}px{{use-important}};
background-image:{{zewges-image-1}}{{use-important}};
width:{{zewges-image-1-width}}px{{use-important}};
height:{{zewges-image-1-height}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .video-1-pro-zewges,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .video-1-pro-zewges {
top:{{zewges-video-1-top}}px{{use-important}};
left:{{zewges-video-1-left}}px{{use-important}};
background-image:{{zewges-video-1}}{{use-important}};
width:{{zewges-video-1-width}}px{{use-important}};
height:{{zewges-video-1-height}}px{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .video-1-pro-zewges iframe,
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .video-1-pro-zewges iframe{
width:100%{{use-important}};
height:100%{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name::-webkit-input-placeholder{
color:{{zewges-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name:-moz-placeholder{
color:{{zewges-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name::-moz-placeholder{
color:{{zewges-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name:-ms-input-placeholder{
color:{{zewges-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name::-webkit-input-placeholder{
color:{{zewges-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name:-moz-placeholder{
color:{{zewges-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name::-moz-placeholder{
color:{{zewges-name-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name:-ms-input-placeholder{
color:{{zewges-name-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname::-webkit-input-placeholder{
color:{{zewges-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname:-moz-placeholder{
color:{{zewges-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname::-moz-placeholder{
color:{{zewges-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname:-ms-input-placeholder{
color:{{zewges-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname::-webkit-input-placeholder{
color:{{zewges-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname:-moz-placeholder{
color:{{zewges-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname::-moz-placeholder{
color:{{zewges-lname-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname:-ms-input-placeholder{
color:{{zewges-lname-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email::-webkit-input-placeholder{
color:{{zewges-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email:-moz-placeholder{
color:{{zewges-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email::-moz-placeholder{
color:{{zewges-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email:-ms-input-placeholder{
color:{{zewges-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email::-webkit-input-placeholder{
color:{{zewges-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email:-moz-placeholder{
color:{{zewges-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email::-moz-placeholder{
color:{{zewges-email-field-color}}{{use-important}};
}
#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email:-ms-input-placeholder{
color:{{zewges-email-field-color}}{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name {
top:{{zewges-name-field-top}}px{{use-important}};
left:{{zewges-name-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{zewges-name-field-padding-top}}px {{zewges-name-field-padding-right}}px {{zewges-name-field-padding-bottom}}px {{zewges-name-field-padding-left}}px{{use-important}};
width:{{zewges-name-field-width}}{{use-important}};
color:{{zewges-name-field-color}}{{use-important}};
font-family:{{zewges-name-field-font}}{{use-important}};
font-size:{{zewges-name-field-font-size}}px{{use-important}};
line-height:{{zewges-name-field-line-height}}px{{use-important}};
background:{{zewges-name-field-background-color}}{{use-important}};
text-align:{{zewges-name-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{zewges-name-field-border-radius}}px{{use-important}};
-moz-border-radius: {{zewges-name-field-border-radius}}px{{use-important}};
border-radius: {{zewges-name-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{zewges-name-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname {
top:{{zewges-lname-field-top}}px{{use-important}};
left:{{zewges-lname-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{zewges-lname-field-padding-top}}px {{zewges-lname-field-padding-right}}px {{zewges-lname-field-padding-bottom}}px {{zewges-lname-field-padding-left}}px{{use-important}};
width:{{zewges-lname-field-width}}{{use-important}};
color:{{zewges-lname-field-color}}{{use-important}};
font-family:{{zewges-lname-field-font}}{{use-important}};
font-size:{{zewges-lname-field-font-size}}px{{use-important}};
line-height:{{zewges-lname-field-line-height}}px{{use-important}};
background:{{zewges-lname-field-background-color}}{{use-important}};
text-align:{{zewges-lname-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{zewges-lname-field-border-radius}}px{{use-important}};
-moz-border-radius: {{zewges-lname-field-border-radius}}px{{use-important}};
border-radius: {{zewges-lname-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{zewges-lname-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email {
top:{{zewges-email-field-top}}px{{use-important}};
left:{{zewges-email-field-left}}px{{use-important}};
position:absolute{{use-important}};
display:inline-block{{use-important}};
padding:{{zewges-email-field-padding-top}}px {{zewges-email-field-padding-right}}px {{zewges-email-field-padding-bottom}}px {{zewges-email-field-padding-left}}px{{use-important}};
width:{{zewges-email-field-width}}{{use-important}};
color:{{zewges-email-field-color}}{{use-important}};
font-family:{{zewges-email-field-font}}{{use-important}};
font-size:{{zewges-email-field-font-size}}px{{use-important}};
line-height:{{zewges-email-field-line-height}}px{{use-important}};
background:{{zewges-email-field-background-color}}{{use-important}};
text-align:{{zewges-email-field-align}}{{use-important}};
-webkit-box-shadow: none{{use-important}};
-moz-box-shadow: none{{use-important}};
box-shadow: none{{use-important}};
-webkit-border-radius: {{zewges-email-field-border-radius}}px{{use-important}};
-moz-border-radius: {{zewges-email-field-border-radius}}px{{use-important}};
border-radius: {{zewges-email-field-border-radius}}px{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
height:auto{{use-important}};
margin:0{{use-important}};
border-width:0{{use-important}};
font-weight:{{zewges-email-field-font-weight}}{{use-important}};
float:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="submit"].submit-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="submit"].submit-pro-zewges {
position:absolute{{use-important}};
display:inline-block{{use-important}};
font-family:{{zewges-subscribe-button-text-font}}{{use-important}};
font-size:{{zewges-subscribe-button-text-font-size}}px{{use-important}};
line-height:{{zewges-subscribe-button-text-line-height}}px{{use-important}};
background-color: {{zewges-subscribe-button-color}}{{use-important}};
text-align:{{zewges-subscribe-button-text-align}}{{use-important}};
border-style: solid{{use-important}};
border-width: 1px{{use-important}};
border-color:#C0C0C0{{use-important}};
-webkit-box-sizing: border-box{{use-important}};
-moz-box-sizing: border-box{{use-important}};
box-sizing: border-box{{use-important}};
color:{{zewges-subscribe-button-text-color}}{{use-important}};
text-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3){{use-important}};
cursor: pointer{{use-important}};
-webkit-border-radius: {{zewges-subscribe-button-text-border-radius}}px{{use-important}};
-moz-border-radius: {{zewges-subscribe-button-text-border-radius}}px{{use-important}};
border-radius: {{zewges-subscribe-button-text-border-radius}}px{{use-important}};
width:{{zewges-subscribe-button-text-width}}{{use-important}};
height:auto{{use-important}};
padding:{{zewges-subscribe-button-text-padding-top}}px 0 {{zewges-subscribe-button-text-padding-bottom}}px 0{{use-important}};
box-sizing:border-box{{use-important}};
-moz-box-sizing:border-box{{use-important}};
background-image:none{{use-important}};
top:{{zewges-subscribe-button-top}}px{{use-important}};
left:{{zewges-subscribe-button-left}}px{{use-important}};
margin:0{{use-important}};
font-weight:{{zewges-subscribe-button-text-font-weight}}{{use-important}};
float:none{{use-important}};
-webkit-appearance: none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="submit"].submit-pro-zewges:hover,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="submit"].submit-pro-zewges:hover {
background-color:{{zewges-subscribe-button-color}}{{use-important}};
color:{{zewges-subscribe-button-text-color}}{{use-important}};
background-image:none{{use-important}};
}
#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-zewges-{{num}} .popupally-pro-close-zewges{
background-image:url('{{plugin_uri}}resource/frontend/img/fancy_close.png'){{use-important}};
background-size:cover{{use-important}};
display: block{{use-important}};
position: absolute{{use-important}};
top: -12px{{use-important}};
right: -12px{{use-important}};
width: 30px{{use-important}};
height: 30px{{use-important}};
color: white{{use-important}};
cursor: pointer{{use-important}};
z-index:999999{{use-important}};
}
@media (max-width: 960px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-zewges-{{num}}{
		{{position-960-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-zewges-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-zewges-{{num}}{
		width:{{zewges-width-960}}px{{use-important}};
		height:{{zewges-height-960}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .desc-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .desc-pro-zewges{
		top:{{zewges-headline-960-top}}px{{use-important}};
		left:{{zewges-headline-960-left}}px{{use-important}};
		font-size:{{zewges-headline-960-font-size}}px{{use-important}};
		line-height:{{zewges-headline-960-line-height}}px{{use-important}};
		width:{{zewges-headline-960-width}}px{{use-important}};
		height:{{zewges-headline-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-1-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-1-pro-zewges{
		top:{{zewges-textbox-1-960-top}}px{{use-important}};
		left:{{zewges-textbox-1-960-left}}px{{use-important}};
		font-size:{{zewges-textbox-1-960-font-size}}px{{use-important}};
		line-height:{{zewges-textbox-1-960-line-height}}px{{use-important}};
		width:{{zewges-textbox-1-960-width}}px{{use-important}};
		height:{{zewges-textbox-1-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-2-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-2-pro-zewges{
		top:{{zewges-textbox-2-960-top}}px{{use-important}};
		left:{{zewges-textbox-2-960-left}}px{{use-important}};
		font-size:{{zewges-textbox-2-960-font-size}}px{{use-important}};
		line-height:{{zewges-textbox-2-960-line-height}}px{{use-important}};
		width:{{zewges-textbox-2-960-width}}px{{use-important}};
		height:{{zewges-textbox-2-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .image-1-pro-zewges,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .image-1-pro-zewges {
		top:{{zewges-image-1-960-top}}px{{use-important}};
		left:{{zewges-image-1-960-left}}px{{use-important}};
		width:{{zewges-image-1-960-width}}px{{use-important}};
		height:{{zewges-image-1-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .video-1-pro-zewges,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .video-1-pro-zewges {
		top:{{zewges-video-1-960-top}}px{{use-important}};
		left:{{zewges-video-1-960-left}}px{{use-important}};
		width:{{zewges-video-1-960-width}}px{{use-important}};
		height:{{zewges-video-1-960-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name {
		top:{{zewges-name-field-960-top}}px{{use-important}};
		left:{{zewges-name-field-960-left}}px{{use-important}};
		padding:{{zewges-name-field-960-padding-top}}px {{zewges-name-field-960-padding-right}}px {{zewges-name-field-960-padding-bottom}}px {{zewges-name-field-960-padding-left}}px{{use-important}};
		width:{{zewges-name-field-960-width}}{{use-important}};
		font-size:{{zewges-name-field-960-font-size}}px{{use-important}};
		line-height:{{zewges-name-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{zewges-name-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{zewges-name-field-960-border-radius}}px{{use-important}};
		border-radius: {{zewges-name-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname {
		top:{{zewges-lname-field-960-top}}px{{use-important}};
		left:{{zewges-lname-field-960-left}}px{{use-important}};
		padding:{{zewges-lname-field-960-padding-top}}px {{zewges-lname-field-960-padding-right}}px {{zewges-lname-field-960-padding-bottom}}px {{zewges-lname-field-960-padding-left}}px{{use-important}};
		width:{{zewges-lname-field-960-width}}{{use-important}};
		font-size:{{zewges-lname-field-960-font-size}}px{{use-important}};
		line-height:{{zewges-lname-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{zewges-lname-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{zewges-lname-field-960-border-radius}}px{{use-important}};
		border-radius: {{zewges-lname-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email {
		top:{{zewges-email-field-960-top}}px{{use-important}};
		left:{{zewges-email-field-960-left}}px{{use-important}};
		padding:{{zewges-email-field-960-padding-top}}px {{zewges-email-field-960-padding-right}}px {{zewges-email-field-960-padding-bottom}}px {{zewges-email-field-960-padding-left}}px{{use-important}};
		width:{{zewges-email-field-960-width}}{{use-important}};
		font-size:{{zewges-email-field-960-font-size}}px{{use-important}};
		line-height:{{zewges-email-field-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{zewges-email-field-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{zewges-email-field-960-border-radius}}px{{use-important}};
		border-radius: {{zewges-email-field-960-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="submit"].submit-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="submit"].submit-pro-zewges {
		top:{{zewges-subscribe-button-960-top}}px{{use-important}};
		left:{{zewges-subscribe-button-960-left}}px{{use-important}};
		padding:{{zewges-subscribe-button-text-960-padding-top}}px 0 {{zewges-subscribe-button-text-960-padding-bottom}}px 0{{use-important}};
		width:{{zewges-subscribe-button-text-960-width}}{{use-important}};
		font-size:{{zewges-subscribe-button-text-960-font-size}}px{{use-important}};
		line-height:{{zewges-subscribe-button-text-960-line-height}}px{{use-important}};
		-webkit-border-radius: {{zewges-subscribe-button-text-960-border-radius}}px{{use-important}};
		-moz-border-radius: {{zewges-subscribe-button-text-960-border-radius}}px{{use-important}};
		border-radius: {{zewges-subscribe-button-text-960-border-radius}}px{{use-important}};
	}
}
@media (max-width: 640px) {
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-zewges-{{num}}{
		{{position-640-code}}
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-outer-zewges-{{num}},
	#popup-embedded-box-pro-gfcr-{{num}}.popupally-pro-outer-embedded-zewges-{{num}}{
		width:{{zewges-width-640}}px{{use-important}};
		height:{{zewges-height-640}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .desc-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .desc-pro-zewges{
		top:{{zewges-headline-640-top}}px{{use-important}};
		left:{{zewges-headline-640-left}}px{{use-important}};
		font-size:{{zewges-headline-640-font-size}}px{{use-important}};
		line-height:{{zewges-headline-640-line-height}}px{{use-important}};
		width:{{zewges-headline-640-width}}px{{use-important}};
		height:{{zewges-headline-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-1-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-1-pro-zewges{
		top:{{zewges-textbox-1-640-top}}px{{use-important}};
		left:{{zewges-textbox-1-640-left}}px{{use-important}};
		font-size:{{zewges-textbox-1-640-font-size}}px{{use-important}};
		line-height:{{zewges-textbox-1-640-line-height}}px{{use-important}};
		width:{{zewges-textbox-1-640-width}}px{{use-important}};
		height:{{zewges-textbox-1-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-2-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .textbox-2-pro-zewges{
		top:{{zewges-textbox-2-640-top}}px{{use-important}};
		left:{{zewges-textbox-2-640-left}}px{{use-important}};
		font-size:{{zewges-textbox-2-640-font-size}}px{{use-important}};
		line-height:{{zewges-textbox-2-640-line-height}}px{{use-important}};
		width:{{zewges-textbox-2-640-width}}px{{use-important}};
		height:{{zewges-textbox-2-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .image-1-pro-zewges,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .image-1-pro-zewges {
		top:{{zewges-image-1-640-top}}px{{use-important}};
		left:{{zewges-image-1-640-left}}px{{use-important}};
		width:{{zewges-image-1-640-width}}px{{use-important}};
		height:{{zewges-image-1-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .video-1-pro-zewges,
	#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} .video-1-pro-zewges {
		top:{{zewges-video-1-640-top}}px{{use-important}};
		left:{{zewges-video-1-640-left}}px{{use-important}};
		width:{{zewges-video-1-640-width}}px{{use-important}};
		height:{{zewges-video-1-640-height}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-name {
		top:{{zewges-name-field-640-top}}px{{use-important}};
		left:{{zewges-name-field-640-left}}px{{use-important}};
		padding:{{zewges-name-field-640-padding-top}}px {{zewges-name-field-640-padding-right}}px {{zewges-name-field-640-padding-bottom}}px {{zewges-name-field-640-padding-left}}px{{use-important}};
		width:{{zewges-name-field-640-width}}{{use-important}};
		font-size:{{zewges-name-field-640-font-size}}px{{use-important}};
		line-height:{{zewges-name-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{zewges-name-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{zewges-name-field-640-border-radius}}px{{use-important}};
		border-radius: {{zewges-name-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="text"].field-pro-zewges-lname {
		top:{{zewges-lname-field-640-top}}px{{use-important}};
		left:{{zewges-lname-field-640-left}}px{{use-important}};
		padding:{{zewges-lname-field-640-padding-top}}px {{zewges-lname-field-640-padding-right}}px {{zewges-lname-field-640-padding-bottom}}px {{zewges-lname-field-640-padding-left}}px{{use-important}};
		width:{{zewges-lname-field-640-width}}{{use-important}};
		font-size:{{zewges-lname-field-640-font-size}}px{{use-important}};
		line-height:{{zewges-lname-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{zewges-lname-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{zewges-lname-field-640-border-radius}}px{{use-important}};
		border-radius: {{zewges-lname-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="email"].field-pro-zewges-email {
		top:{{zewges-email-field-640-top}}px{{use-important}};
		left:{{zewges-email-field-640-left}}px{{use-important}};
		padding:{{zewges-email-field-640-padding-top}}px {{zewges-email-field-640-padding-right}}px {{zewges-email-field-640-padding-bottom}}px {{zewges-email-field-640-padding-left}}px{{use-important}};
		width:{{zewges-email-field-640-width}}{{use-important}};
		font-size:{{zewges-email-field-640-font-size}}px{{use-important}};
		line-height:{{zewges-email-field-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{zewges-email-field-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{zewges-email-field-640-border-radius}}px{{use-important}};
		border-radius: {{zewges-email-field-640-border-radius}}px{{use-important}};
	}
	#popup-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="submit"].submit-pro-zewges,#popup-embedded-box-pro-gfcr-{{num}} .popupally-pro-inner-zewges-{{num}} input[type="submit"].submit-pro-zewges {
		top:{{zewges-subscribe-button-640-top}}px{{use-important}};
		left:{{zewges-subscribe-button-640-left}}px{{use-important}};
		padding:{{zewges-subscribe-button-text-640-padding-top}}px 0 {{zewges-subscribe-button-text-640-padding-bottom}}px 0{{use-important}};
		width:{{zewges-subscribe-button-text-640-width}}{{use-important}};
		font-size:{{zewges-subscribe-button-text-640-font-size}}px{{use-important}};
		line-height:{{zewges-subscribe-button-text-640-line-height}}px{{use-important}};
		-webkit-border-radius: {{zewges-subscribe-button-text-640-border-radius}}px{{use-important}};
		-moz-border-radius: {{zewges-subscribe-button-text-640-border-radius}}px{{use-important}};
		border-radius: {{zewges-subscribe-button-text-640-border-radius}}px{{use-important}};
	}
}