/*-----------------------------------------------------------------------------------*/
/*  MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

/* -- NON MOBILE FIRST MEDIA QUERIES BASED ON TWITTER BOOTSTRAP -- */

/* Large display -- 1200px and up  /  70px columns  /  30px gutters */
@media only screen and (min-width: 1200px) {
	.header-inner {
    	padding: 0 70px;
	}
	.video-section .vid-text{
		margin-top:2%;
		max-width:25%;
	}
	.video-section .vid{
		float:right;
		width:72%;
	}
	.video-section .vid-text h1{
		font-size:4.0rem;
	}
	.happenings-panel{
		right:10px;
		top:10px;
	}
	.social-stories .ss-text {
  		position: relative;
  		top: 50%;
  		transform: translateY(50%);
	}
	.dream-big-img-one{
		-ms-transform: rotate(-6deg); /* IE 9 */
		-webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
		transform: rotate(-6deg);
	}
	.dream-big-img-one img{
		max-width:565px;
	}
	.dream-big-img-one{
		float:left;
	}
	.dream-big-img-two{
		margin-top: -30%;
	}
	.dream-big-img-two img{
		max-width:755px;
	}
	.zines li{
		margin: 0 1%;
	}
	.zines li img{
		min-height:230px;
		max-height:230px;
	}
	.blog-header{
		background-position: top center;
	}
	.blog-header .hero-text-outer {
    	margin-left: 15%;
	}
	.subscribe-text {
		margin: -15px 50px 5px 0;
		font-size:7.2rem;
	}
	.subscribe-buttons .button{
		min-width:290px;
	}
	.post-text{
		transform: translate(-50%,25%);
	}
	.product .image-text-section .item-content-inner {
		top: 50%;
		transform: translateY(50%);
	}
	.program .image-text-section .item-content-inner {
	  	top: 18%;
	  	transform: translateY(18%);
	}
	.cookbook-content .ipad-img img {
    	min-width: 450px;
	}
	.cookbook-content .button {
    	min-width: 321px;
	}
	.featured-in li{
		margin: 0 10px;
	}
	.bliss-intro .video{
		height: 450px;
	}
	.event-dates{
		min-height:900px;
		background-size: 105%;
	}
	.date-panel{
		max-width:686px;
		min-height:900px;
		padding:95px;
	}
	.date-panel-inner{
		top: 15%;
		transform: translateY(15%);
	}
	.body-soul-intro .video-container, .body-soul-intro .video{ 
		height: 449px;
	}
	.tribe-bliss-section ul.book-logos li {
    	margin: -40px 15px 50px;
	}
	.chapter-section .download-text {
		padding:60px 0 0 60px;
	}
	.page-contact .hero-text-outer{
		max-width:45% !important;
	}
}


@media only screen and (max-width: 1100px) {
	.bliss-intro .button{
		padding:0 10px;

	}
}
@media only screen and (max-width:1015px){
	.bliss-intro .video{
		height:auto;
	}
}
@media only screen and (max-width:960px){
	.bliss-intro .button{
		max-width: 100%;
		white-space: normal;
		height:auto;
		line-height:1.5;
	}
	.bliss-testimonial-text{
		max-width:60%;
	}
}

/* Portrait tablets -- 768px and above  /  42px columns  /  20px gutters */
@media only screen and (max-width: 768px) {
	.header-inner{
		padding:0 30px;
	}
	.video-section .vid-text .button{
		margin-top:0%;
		margin-bottom:30px;
	}
	.effect-chico{
		width:auto;
		margin-bottom:1.6%;
	}
	.quick-links .container{
		max-width:60%;
	}
	.happenings-container{
		background-position: 75% center;
	}
	.happenings-panel{
		max-width: inherit;
	}
	.social-stories .social-text {
    	width: 100%;
	}
	.social-stories .social-img {
    	float: none;
    	width: 100%;
	}
	.page-meet-lori .hero-header{
		background-position: right center;
	}
	.dream-big p, .dream-big h1{
		max-width:100%;
	}
	.dream-big-img-two{
		margin-top: 1.6%;
	}
	.zines li{
		max-width:25%;
		margin-bottom:1.6%;
	}
	.subscribe-text {
		margin: 10px 30px 10px -10px;
	}
	.subscribe-buttons .button{
		min-width:250px;
		margin-bottom: 1%;
	}
	.subscribe-buttons {
    	top: 10%;
    	transform: translateY(10%);
	}
	.post-text {
		height: auto;
		left: auto;
		position: relative;
		top: auto;
		transform: translate(0%);
		width: 100%;
	}
	.contact-intro-section .contact-social-links{
		position: relative;
		margin-top:0;
		right:auto;
		left:0;
	}
	.contact-intro-section .contact-social-links .widget{
		margin-bottom:0;
	}
	.product .image-text-section .item-content-inner {
		top: -5%;
		transform: translateY(-5%);
	}
	.program .image-text-section .item-content{
		padding: 30px 30px 10px;
    	width: 40.25%;
	}
	.program .image-text-section .image{
		width: 59.75%;
	}
	.program .image-text-section .item-content h4{
		margin-bottom:30px;
	}
	.meal-guide-content .eight.columns, .meal-guide-content .four.columns, .meal-guides .four.columns{
		width:100%;
		float:none;
	}
	.meal-guides img{
		max-height: inherit;
    	max-width: 100%;
    	width: 100%;
	}
	.meal-guides .columns{
		margin-left:0;
	}
	.cookbook-content .ipad-img{
		text-align:center;
	}
	.cookbook-testimonials .four.columns, .cookbook-testimonials .cookbook-testimonial{
		width:100%;
		max-width:70%;
		margin:0 auto;
	}
	.cookbook-testimonials .columns {
    	margin-left: 0;
	}
	.featured-in-text{
		display:block;
		float:none;
		text-align: center;
		margin-bottom:1.6%;
		margin-right:0;
	}
	.featured-in ul{
		text-align: center;
	}
	.featured-in li {
    	max-width: 15%;
		margin-bottom:1.6%;
	}
	.suggested-topics .six.columns{
		width:100%;
		margin-left: 0;
	}
	.image-collage .four.columns{
		float:left;
	}
	.page-lh14daychallengehome .hero-header{
		background-position: 70% top;
	}
	.lh14-day-intro-text img{
		margin:0 auto;
	}
	.lh14-day-optin{
		max-width: 100%;
		padding: 70px 40px 0;
		margin:0 auto 25px;
	}
	.how-it-works .four.columns p, .how-it-works .four.columns h4{
		text-align: center !important;
	}
	.page-bliss-project .hero-header{
		margin: 0 auto -120px;
	}
	.bliss-intro{
		margin-bottom:50px;
	}
	.bliss-intro .script-font{
		margin-top: 0;
	}
	.bliss-intro .video-container{
		margin:0 0 25px;
	}
	.bliss-intro .button{
		white-space: nowrap;
		height: 46px;
		padding: 0 45px;
		line-height:46px;
	}
	.bliss-testimonial-text{
		max-width:450px;
	}
	.body-soul-intro h4{
		margin-top:0;
	}
	.page-body-soul-program .hero-header{
		margin: 0 auto -125px;
	}
	.body-soul-intro .video-container{
		margin:-20px auto -50px;
	}
	.text-photo-montage .seven.columns{
		width:100%;
	}
	.text-photo-montage .five.columns{
		float:none;
		width:70%;
		margin:0 auto;
	}
	.tribe-bliss-section{
		margin-bottom:50px;
	}
	.tribe-bliss-section .book-img{
		text-align: center;
	}
	.tribe-bliss-section ul.book-logos{
		max-width: 100%;
	}
	.tribe-bliss-section ul.book-logos li{
		margin:0 15px;
	}
	.tribe-bliss-section .tribe-text {
		top: 0%;
		float:none;
		transform: translateY(0%);
		max-width:100%;
		box-sizing: border-box;
		padding:20px;
	}
	.chapter-section{
		padding:50px 0 0;
	}
	.chapter-section .download-img{
		text-align: center;
	}	
	.chapter-section .download-text{
		padding:20px;
	}
	.recipe-posts .content-area, .recipe-posts .sidebar, .recipe-posts .post-footer{
		 width: 100%;
	}
	.page-contact .hero-header{
		min-height:750px !important;
	}
	.pop-post-img{
		margin-bottom:25px;
	}
}

/* Phones to tablets -- 767px and below  /  Fluid columns  /  No fixed widths */
@media only screen and (max-width: 767px) {
	.podcast{
		width:100%;
		margin-bottom:1.6%;
	}
	.zines li{
		max-width:40%;
	}
	.subscribe-text {
		margin: 0 auto;
		text-align: center;
		float:none;
	}
	.subscribe-buttons .button{
		min-width:49.2%;
		margin-bottom: 1%;
	}
	.subscribe-buttons {
		margin-bottom:30px;
	}
	.product .image-text-section .item-content{
		border-left: 1px solid #000;
	}
	.product .image-text-section .item-content-inner {
		top: 0%;
		transform: translateY(0%);
	}
	.program .image-text-section .image, .program .image-text-section .item-content{
		width:100%;
	}
	.program .image-text-section .item-content .button{
		margin-top:0;
	}
	.error404 .hero-header .hero-text{
		margin-top:10%;
	}
	.cookbook-callout .button{
		margin-bottom:1.6%;
	}
	.bliss-testimonial-text {
    	max-width: 100%;
	}
	.bliss-textimonial-author {
		margin: 0 auto 25px;
	}
	.bliss-textimonial-author .border-one{
		position: inherit;
	}
	.date-panel{
		margin-left:0;
	}
	.for-you-list ul{
		margin-left:20px;
	}
	.body-soul-intro .video-container{
		margin:-20px auto 0;
	}
	.text-photo-montage, .pull-quote, #sixty-day-challenge{
		padding:25px 0;
	}
	.program-panel{
		margin-left:0;
	}
	.book-optin p{
		margin-bottom:2%;
	}
	.contact-forms .tab button{
		max-width:100%;
	}
	.workout-vids .button{
		white-space: normal;
		word-wrap: normal;
		height:auto;
		line-height: 1.5;
	}
	.pop-post-img .play-btn{
		left: 45%;
	}
}

/* Phones -- 480px and below  /  Fluid columns  /  No fixed widths */
@media only screen and (max-width: 480px) {
	.podcast .pod-title{
		font-size:2.2rem;
	}
	.page-home .optin{
		padding: 75px 0 55px;
	}
	.hero-header {
    	margin: 0 auto -100px;
	}
	.video-section .vid-text .button{
		margin-top:1.6%;
		margin-bottom:40px;
		width:100%;
	}
	.video::after{
		height: 50px;
		width:50px;
		left: 43.5%;
		top: 43.5%;
	}
	.quick-links .container {
    max-width: 100%;
}
	.happenings-panel{
		max-width:100%;
		right:0;
		top:auto;
		bottom:0;
		border:5px solid $accent;
		border-top:none;
	}
	.happenings-container{
		min-height: 900px;
		background-size: 220% auto;
		background-position: -150px top;
	}
	.social-stories .ss-text .button{
		width:100%;
	}
	.subscribe-buttons .button{
		min-width:100%;
	}
	.subscribe-buttons {
		margin-bottom:40px;
	}
	.category-podcast .hero-text img, .single-post .hero-text img{
		max-width:200px;
		margin-top:80%;
	}
	.blog-header {
    	background-position: -900px top;
	}
	.nav-older, .nav-older .button, .nav-newer, .nav-newer .button{
		width:100%;
	}
	.contact-forms .gform_wrapper ul.gfield_radio li{
		display: block;
		float:none;
		width:100%;
	}
	.contact-forms .gform_wrapper ul.gfield_checkbox li label, .contact-forms .gform_wrapper ul.gfield_radio li label, .contact-forms .gform_wrapper .gfield_radio li label, .contact-forms .gform_wrapper .ginput_complex.ginput_container.has_first_name.no_middle_name.has_last_name span{
		width:100% !important;
		max-width:100% !important;
	}
	.contact-forms .gform_wrapper textarea{
		margin-top:5%;
	}
	.page-contact .hero-header{
		background-position: 80% top;
	}
	.page-resources .hero-header {
    	background-position: 70% top;
	}
	.page-resources .hero-header .hero-text{
		margin-top:25%;
	}
	.cookbook-content .button{
		width:100%;
	}
	.cookbook-content .button:nth-of-type(1){
		margin-bottom:-3%;
	}
	.cookbook-content .button:nth-of-type(2){
		margin-top:-3%;
		margin-bottom:5%;
	}
	.cookbook-testimonials .four.columns, .cookbook-testimonials .cookbook-testimonial{
		max-width:100%;
	}
	.page-speaking .hero-header{
		background-position: 70% top;
		margin: 0 auto -150px;
	}
	.page-speaking .hero-header .hero-text{
		margin-top:50%;
	}
	.speaking-video-section .video::after, .bliss-intro .video::after, .body-soul-intro .video::after{
		height: 50px;
    	left: 43.5%;
    	top: 43.5%;
   	 	width: 50px;
	}
	.hire-me{
		padding: 117px 0 50px;
	}
	.image-collage .four.columns{
		float:none;
		width:100%;
	}
	.page-speaking .gform_wrapper textarea{
		margin-top:4%;
	}
	.join-footer .join-container{
		padding: 35px 50px 60px;
	}
	.join-footer .join-container .button {
    	bottom: -8%;
	}
	.page-lh14daychallengehome .hero-header{
		background-position: 80% top;
	}
	.page-lh14daychallengehome .hero-text {
    	margin-top: 50%;
	}
	.page-bliss-project .hero-text{
		top:40%;
	}
	.bliss-intro .video{
		height:auto;
	}
	.bliss-intro .button{
		white-space: normal;
		height:auto;
		line-height: 1.5;
		
	}
	.bliss-intro {
    	margin-bottom: 25px;
	}
	#first-of-kind, #answer-for-women, #why-should-you{
		padding:25px 0;
	}
	.image-bg-two.columns, .image-bg-three.columns{
		width:100%;
	}
	.date-panel-inner .button, .for-you .button{
		min-width:100%;
	}
	.bliss-sponsors ul {
		column-count: 1;
		column-gap: 0;
		max-width: 100%;
	}
	.body-soul-intro .video{
		height:auto;
	}
	.body-soul-intro .video-container{
		padding-bottom: 40%;
	}
	.text-photo-montage .five.columns,.text-photo-montage .five.columns img{
		width:100%;
	}
	.program-panel{
		padding: 25px;
	}
	.program-panel-inner .button, #winner-winner .button, #sixty-day-challenge .button{
		min-width:100%;
	}
	.chapter-section .download-text .button{
		width:100%;
		margin-bottom:0;
	}
	.book-optin #mc_embed_signup input[type="submit"], .book-optin #mc_embed_signup .clear{
		display: block;
    	min-width: 100%;
		max-width:100%;
    	width: 100%;
	}
	.top-footer #nav_menu-7{
		margin-top:-20%;
	}
	.wp-post-navigation-pre, .wp-post-navigation-next{
		float:none !important;
		margin-bottom:1.6%;
		padding:0 !important;
		width:100% !important;
	}
	.wp-post-navigation-pre a, .wp-post-navigation-next a{
		width:100% !important;
	}
	.category-podcast .hero-text, .single-post .hero-text{
		top:55%;
	}
	.category-podcast .hero-header {
    	margin: 0 auto -130px;
	}
	.pop-post-img .play-btn {
    	left: 40%;
	}
	#popup-box-pro-gfcr-1 .popupally-pro-outer-1-fluid_zwgsqa .popupally-pro-close {
		top: 10px !important;
		right: 0px !important;
		background-size: 50% !important;
	}
	#footer-mobile-menu{
		display:block;
	}
	.mobile-hide{
		display:none;
	}
}



/* -- MOBILE FIRST MEDIA QUERIES -- */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}