/****************************
Variables (colors etc.)
****************************/

/* Colors */
$accent: #d373be;
$accent2: #d987c7;
$accent3: #ec9ddf;
$tan: #f4f0e7;
$tan2: #f3eae5;
$blush: #fde9e0;
$pink: #fbe6e6;
$dkgrey: #46494c;
$ltgrey: #ebebeb;
$dkblush: #decdc5;
$offwht: #fceded;
$offwht2: #fef8f8;

/* Fonts */
$body: 'Lato', sans-serif;
$headings: 'essonnes-display';
$script: 'northwell_altregular';
$hero-heading: 'essonnes-text';
$headings-italic: 'essonnes-headline';